{% extends 'DefaultBundle::main.html.twig' %}

{% block content %}
    {% if categories %}
        <div class="accordion">
            {% for category in categories %}
                {% if category.projects.count %}
                    <!--accordion block-->
                    <h2>
                        {{ category.name }}
                    </h2>

                    <div class="service">
                        <p>
                            {{ category.description }}
                        </p>

                        <!--carousel-->
                        <div class="carousel">

                            <div class="btnPrev" title="Назад"></div>

                            <div class="carousel-wrapper">
                                <ul>
                                    {% for project in category.projects %}
                                        <li>
                                            <a href="{{ path('portfolioCategoryProjectView', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                                                <span>
                                                    <img class="project-thumb" src="/bundles/portfolio/uploads/projects/{{ project.imageFilename }}" width="240" height="198"
                                                         alt="{{ project.name }}" title="{{ project.name }}" />
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="btnNext" title="Вперед"></div>
                        </div>
                        <!--/carousel-->

                        {% if category.projects.count > 3 %}
                            <a href="{{ path('portfolioCategoryView', {'slug': category.slug}) }}" class="all-projects">Посмотреть все работы</a>
                        {% endif %}
                    </div>
                    <!--/accordion block-->
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
