{% extends 'StfalconBlogBundle::layout.html.twig' %}
{% block title %}{{ job.metaTitle }} | {{ 'Вакансия'|trans }}{{ parent() }}{% endblock %}
{% block content_wrapper %}
    {{ parent() }}
    <article class="blog-post">
        {% include 'ApplicationDefaultBundle:Jobs:_jobs_header.html.twig' with {'job': job, 'linkTitle': false} %}

        {% include 'StfalconBlogBundle:Post:social_buttons.html.twig' with {'position': 'top'} %}

        <div class="post-content">
            {{ job.description|moreToSpan|highlightCode|raw }}
            {% include 'StfalconBlogBundle:Post:social_buttons.html.twig' with {'position': 'bottom'} %}

            <div class="contact-us hire_us-mob">
                <button class="hire_us hire_us-button-mob">{{ 'Связаться с нами!'|trans }}</button>
            </div>

            <div class="contacts-form-wr">
                {% include 'ApplicationDefaultBundle:Jobs:vacancy_form.html.twig' %}
            </div>

            <a class="read-more prev-page" href="{{ path('jobs_list') }}"><span>{{ 'Вернуться к списку вакансий'|trans }}</span>
                <span>{{ 'К списку записей'|trans }}</span>
            </a>
        </div>

        {# Jobs tags #}
        {% include 'ApplicationDefaultBundle:Jobs:_jobs_tags.html.twig' with {'job': job} %}
    </article>

    <button class="button-up scroll-to-top"></button>
{% endblock %}

