{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block title %}{{ job.metaTitle }} | {{ '__menu.vacancies'|trans }} | {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var directVacancyFormMessage = {
            name: {
                required: "{{ 'Пожалуйста, введите ваше имя'|trans }}",
                minlength: "{{ 'Введите имя не меньше {0} символов'|trans }}"
            },
            email: {
                required: "{{ 'Пожалуйста, введите адрес вашей эл.почты'|trans }}",
                minlength: "{{ 'Ваша эл.адрес должен быть формата name@domain.com'|trans }}",
                defaultMessage: "{{ 'Пожалуйста введите правильный имейл'|trans }}"
            },
            phone: {
                required: "{{ 'Пожалуйста, введите телефон'|trans }}",
                minlength: "{{ 'Введите телефон не меньше {0} символов'|trans }}",
            }
        };
        var isErrors = {{ is_errors }};
    </script>
    {% javascripts
    'js/direct-vacancy-form.js'
    output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block after_body %}
    {{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': 'blog' })) }}
{% endblock %}

{% block content_wrapper %}

    <article class="blog-post vacancy-page clearfix">

        {% include 'ApplicationDefaultBundle:Jobs:_jobs_header.html.twig' with {'job': job, 'linkTitle': false} %}

        <div class="post-content vacancy-page__content">
            {{ job.description|highlightCode|raw }}

            <div class="sharethis-inline-share-buttons"></div>

            {%- if app.session.flashBag.has('vacancy_send') -%}
                <div class="alert alert-success">
                    {%- for msg in app.session.flashBag.get('vacancy_send') -%}
                        <h3>{{ msg }}</h3>
                    {%- endfor -%}
                </div>
            {%- else -%}
                <section class="contacts-wrapper">
                    {%- if app.session.flashBag.has('vacancy_error') -%}
                        <div class="alert alert-success">
                            {%- for msg in app.session.flashBag.get('vacancy_error') -%}
                                <div class="error-list">{{ msg }}</div>
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
                    <div class="contacts-form-wr" id="vacancy-form">
                        {%- include 'ApplicationDefaultBundle:Jobs:vacancy_form.html.twig' -%}
                    </div>
                    <div class="vacancy-page__bottom">
                        {{ job.contactInfo|raw }}
                    </div>
                </section>
            {%- endif -%}
        </div>

        <div class="vacancy-page__sidebar">
            {{ job.contactInfo|raw }}
        </div>
    </article>

    <div class="services-tabs">
        <div class="section-cms">
            <h3>{{ 'Примеры разработки веб-сайтов'|trans }}</h3>
            {{ render(controller('StfalconPortfolioBundle:Project:widgetExamplesProjectByCtgSlug', { 'slug': 'web-development' })) }}
        </div>
    </div>

    <div class="blog-post post-content vacancy-page">
        <a class="read-more prev-page" href="{{ path('jobs_list') }}">
            <span>{{ '__back_to_vacansy_list'|trans }}</span>
            <span>{{ '__back_to_vacansy_list'|trans }}</span>
        </a>
    </div>

    <button class="button-up scroll-to-top"></button>

    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b7a83c5f8352a0011896d37&product=inline-share-buttons' async='async'></script>
{% endblock %}

