{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block title %}{{ job.metaTitle }} | {{ '__menu.vacancies'|trans }} | {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var directVacancyFormMessage = {
            name: {
                required: "{{ 'Пожалуйста, введите ваше имя'|trans }}",
                minlength: "{{ 'Введите имя не меньше {0} символов'|trans }}"
            },
            email: {
                required: "{{ 'Пожалуйста, введите адрес вашей эл.почты'|trans }}",
                minlength: "{{ 'Ваша эл.адрес должен быть формата name@domain.com'|trans }}",
                defaultMessage: "{{ 'Пожалуйста введите правильный имейл'|trans }}"
            },
            phone: {
                required: "{{ 'Пожалуйста, введите телефон'|trans }}",
                minlength: "{{ 'Введите телефон не меньше {0} символов'|trans }}",
            }
        };
        var isErrors = {{ is_errors }};
    </script>
    {% javascripts
    'js/direct-vacancy-form.js'
    output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block after_body %}{% endblock %}

{% block content_wrapper %}

    <article class="blog-post vacancy-page clearfix">

        {% include 'ApplicationDefaultBundle:Jobs:_jobs_header.html.twig' with {'job': job, 'linkTitle': false} %}


        <div class="post-content vacancy-page__content">
            <p></p>
            <p>
                Stfalcon.com — компания полного цикла разработки веб-сервисов и мобильных приложений для среднего бизнеса и крупных корпораций. Нетривиальные задачи — наш конек.
            </p>
            <p>
                Принимаем участие в организации профильных конференций и ивентов – Fwdays, Сode and Сoffee. Активно поддерживаем и развиваем open source продукты.
            </p>
            <p>
                На данный момент занимаемся расширением команды в двух офисах – Киев (17 сотрудников) и Хмельницкий (42 сотрудника). Также работаем удаленно со специалистами из других регионов Украины.
            </p>

            <p></p>

            <p>
            </p><h3>Будет плюсом:</h3>
            <ul>
                <li>общий технический бекграунд</li>
                <li>наличие профильных сертификатов, прохождение курсов/воркшопов</li>
                <li>примеры собственных успешных проектов</li>
            </ul>
            <p></p>

            <p>
            </p><h3>Что нам важно в человеке:</h3>
            <ul>
                <li>Вовлеченность в работу, заинтересовать в достижении результатов </li>
                <li>Самостоятельность, ответственность и организованность</li>
                <li>Умение коммуницировать и налаживать отношения в команде</li>
            </ul>
            <p></p>

            <p>
            </p><h3>Задачи на проекте:</h3>
            <ul>
                <li>Работа над проектом на всех этапах его жизнедеятельности</li>
                <li>Обеспечение достижения целей проекта</li>
                <li>Работа с внешними и внутренними рисками</li>
                <li>Работа с основными стейкхолдерами проекта для получения положительных отзывов</li>
                <li>Обеспечение эффективной коммуникации и построение процесса согласно методологиям ведения проектов, которых придерживается компания</li>
            </ul>
            <p></p>

            <p>
            </p><h3> В связи с чем открылась позиция:</h3>
            <ul>
                <li>Необходимость расширения команды и налаживание работы всех Project Managers</li>
            </ul>
            <p></p>

            <p>
            </p><h3>Размер и структура компании:</h3>
            <ul>
                <li>В компании открыты два офиса, в Хмельницком работает 41 сотрудник, в Киеве 17 сотрудников</li>
                <li>На сегодняшний день мы занимаемся расширением команд в двух офисах, также мы работаем на удаленной со специалистами из других регионов Украины</li>
                <li>Структура компании: CEO компании, менеджмент (руководитель офиса и 4 проектных менеджера), команды: web, mobile, design, QA, sales, marketing, HR&amp;Recruiting, back офис
                </li>
            </ul>
            <p></p>

            <p>
            </p><h3>Наше предложения и условия работы:</h3>
            <ul>
                <li>Оформление по ФОП и ведение документов бухгалтером компании</li>
                <li>Выплата заработной платы до 10 числа каждого месяца</li>
                <li>Отпуск: 21 календарный день</li>
                <li>Испытательный срок: 3 месяца</li>
                <li>График работы: с 9.00 до 18.00 или с 10.00 до 19.00</li>
                <li>Участие в профильных конференциях 50% от стоимости билета (от 2000 до 6000 гривен в год)</li>
                <li>Курсы английского языка 50% от стоимости занятий (до 300 гривен в месяц)</li>
                <li>Абонемент в бассейн/спортзал 50% от стоимости занятий (до 300 гривен в месяц)</li>
                <li>Тимбилдинги, корпоративы</li>
            </ul>
            <p></p>

            <p>
            </p><h3>Что мы как компания делаем для IT сообщества:</h3>
            <ul>
                <li>Мы постоянные партнеры и спонсоры конференций fwdays: frameworksdays.com</li>
                <li>Организуем и проводим митапы в Хмельницком "code and coffee", на которых обсуждаем различные темы, которые могут быть интересны IT сообществу: kmcnc.stfalcon.com</li>
                <li>Развиваем проекты со свободным исходным кодом и занимаемся open source решениями:https://github.com/stfalcon-studio</li>
            </ul>
            <p></p>

            <p>
            </p><h3>Этапы интервью:</h3>
            <ul>
                <li> Интервью с рекрутером - 30 минут по скайпу </li>
                <li>Техническое интервью с Project Manager — 1 час по скайпу или лично</li>
            </ul>
            <p></p>

            <ul class="social-list">
                <li class="social-list__item social-list__item--blue">
                    <a href="https://www.facebook.com/stfalconcom" rel="nofollow" target="_blank">
                        <svg fill="#fff" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40">
                            <path d="m21.7 16.7h5v5h-5v11.6h-5v-11.6h-5v-5h5v-2.1c0-2 0.6-4.5 1.8-5.9 1.3-1.3 2.8-2 4.7-2h3.5v5h-3.5c-0.9 0-1.5 0.6-1.5 1.5v3.5z"></path>
                        </svg>
                        <span>Facebook</span>
                    </a>
                </li>
            </ul>

            {#<div class="share-cnt clearfix">#}

            {#<span class="ru">#}
                {#<script src="//platform.linkedin.com/in.js" type="text/javascript">lang:ru_RU</script>#}
                {#<span class="IN-widget" style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1534237661816_1"><a id="li_ui_li_gen_1534237661816_1-link" href="javascript:void(0);"><span id="li_ui_li_gen_1534237661816_1-logo">in</span><span id="li_ui_li_gen_1534237661816_1-title"><span id="li_ui_li_gen_1534237661816_1-mark"></span><span id="li_ui_li_gen_1534237661816_1-title-text">Поделиться</span></span></a></span></span></span><script type="IN/Share+init" data-counter="right"></script>#}
            {#</span>#}

                {#<div id="fb-root"></div>#}
                {#<script>#}
                    {#(function (d, s, id) {#}
                        {#var js, fjs = d.getElementsByTagName(s)[0];#}
                        {#if (d.getElementById(id)) {#}
                            {#return;#}
                        {#}#}
                        {#js = d.createElement(s);#}
                        {#js.id = id;#}
                        {#js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";#}
                        {#fjs.parentNode.insertBefore(js, fjs);#}
                    {#}(document, 'script', 'facebook-jssdk'));#}
                {#</script>#}
            {#</div>#}

            <section class="contacts-wrapper">
                <div class="contacts-form-wr" id="vacancy-form">

                    <form action="/ru/jobs/job/project-manager" id="direct-vacancy-form" method="post" enctype="multipart/form-data" novalidate="novalidate">
                        <h3>Ответить на вакансию</h3>

                        <div class="line">
                            <input type="text" id="vacancy_form_name" name="vacancy_form[name]" required="required" placeholder="Ваше имя" aria-required="true">

                        </div>
                        <div class="line">
                            <input type="email" id="vacancy_form_email" name="vacancy_form[email]" required="required" placeholder="Электронная почта" aria-required="true">

                        </div>
                        <div class="line">
                            <input type="text" id="vacancy_form_phone" name="vacancy_form[phone]" required="required" placeholder="Номер телефона" aria-required="true">

                        </div>
                        <div class="line">
                            <div class="file-input">
                                <p class="filename">Прикрепить резюме</p>
                                <p class="filesize">до 20 МБ</p>
                                <input type="file" id="vacancy_form_attach" name="vacancy_form[attach]">

                            </div>
                        </div>
                        <div class="line btn-line">
                            <div class="google-captcha contact-captcha">
                                <script src="https://www.google.com/recaptcha/api.js?hl=ru"></script>
                                <div class="g-recaptcha" data-sitekey="6LeSBhITAAAAAHcwhOMTu-1iLk74EQQmzT937b9Z" data-theme="light" data-callback="showSubmitButton"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeSBhITAAAAAHcwhOMTu-1iLk74EQQmzT937b9Z&amp;co=aHR0cHM6Ly9zdGZhbGNvbi5jb206NDQz&amp;hl=ru&amp;v=v1531759913576&amp;theme=light&amp;size=normal&amp;cb=rip15tpw32mk" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
                            </div>
                            <button class="btn" type="submit">Отправить</button>
                        </div>
                        <input type="hidden" id="vacancy_form__token" name="vacancy_form[_token]" value="yGOQcxxUWVRiRjpr7zcGHGOOZD1OGah5NO1IfM7ib1k">
                    </form>
                </div>
            </section>
            <a class="read-more prev-page" href="/ru/jobs">
                <span>Вернуться к списку вакансий</span>
                <span>Вернуться к списку вакансий</span>
            </a>
        </div>

        <div class="vacancy-page__inf">

        </div>

        {#{% include 'ApplicationDefaultBundle:Jobs:_jobs_header.html.twig' with {'job': job, 'linkTitle': false} %}#}

        {#{% include 'StfalconBlogBundle:Post:social_buttons.html.twig' with {'position': 'top'} %}#}

        {#<div class="post-content">#}
            {#{{ job.description|highlightCode|raw }}#}
            {#{% include 'StfalconBlogBundle:Post:social_buttons.html.twig' with {'position': 'bottom'} %}#}

            {#{% if app.session.flashBag.has('vacancy_send') %}#}
                {#<div class="alert alert-success">#}
                    {#{% for msg in app.session.flashBag.get('vacancy_send') %}#}
                    {#<h3>{{ msg }}</h3>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#{% else %}#}
            {#<section class="contacts-wrapper">#}
                {#{% if app.session.flashBag.has('vacancy_error') %}#}
                    {#<div class="alert alert-success">#}
                        {#{% for msg in app.session.flashBag.get('vacancy_error') %}#}
                            {#<div class="error-list">{{ msg }}</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#{% endif %}#}
                {#<div class="contacts-form-wr" id="vacancy-form">#}
                    {#{% include 'ApplicationDefaultBundle:Jobs:vacancy_form.html.twig' %}#}
                {#</div>#}
            {#{% endif %}#}
            {#</section>#}
            {#<a class="read-more prev-page" href="{{ path('jobs_list') }}">#}
                {#<span>{{ '__back_to_vacansy_list'|trans }}</span>#}
                {#<span>{{ '__back_to_vacansy_list'|trans }}</span>#}
            {#</a>#}
        {#</div>#}

    </article>

    <button class="button-up scroll-to-top"></button>
{% endblock %}

