<div class="footer-top clearfix">
    <a class="footer-logo" href="/"></a>
    {#<nav class="main-nav main-nav--footer">#}
        {#{{ knp_menu_render('footer_main') }}#}
    {#</nav>#}
    <div class="contacts-content">
        <nav class="services-nav">
            {{ knp_menu_render('service_menu') }}
        </nav>
        <section class="contacts">
            <ul class="contact-list">
                <li>
                    <span>{{ 'Позвонить'|trans }}:</span>
                    <a href="tel:+380 67 334-40-40">+380 67 334-40-40</a>
                </li>
                <li class="write-to">
                    <span>{{ 'Написать'|trans() }}:</span>
                    <a href="mailto:info@stfalcon.com" class="email">info@stfalcon.com</a>
                </li>
                <li class="skype-wrap">
                    <span>{{ 'Skype'|trans() }}:</span>
                    <a href="skype:stfalcon.sales?chat" class="skype">stfalcon.sales</a>
                </li>
            </ul>
        </section>
        <div class="address">
            <span>{{ "Наши офисы" | trans() }}:</span>
            <span class="adress">{{ "Бостон"|trans() }}, {{ "США"|trans() }}</span>
            <span class="adress">{{ "улица Заречанская, 3/2, Хмельницкий, Украина"|trans() }}</span>
            <span class="adress">{{ "переулок Ахтырский, 7, Киев, Украина"|trans() }}</span>
            {{ include('::_social_links.html.twig') }}
        </div>
    </div>
    {% include '::_social_links.html.twig' with {'add_class' : 'socials-links--mob'}  %}
</div>
<div class="copyright-cnt">
    <div class="copyright">
        &copy; 2009–{{ "now"|date("Y") }}, {{ '__Footer.homepage.link'|trans({'%homepage%':url('homepage')})|raw }}
        <div class="rules">
            <a href="{{ path('privacy_policy_page') }}">Privacy Policy</a>
            <a href="{{ path('terms_of_service_page') }}">Terms &amp; Conditions</a>
        </div>
    </div>
</div>