<div class="footer-top clearfix">
    {{ include('::_social_links.html.twig') }}
    <a class="footer-logo" href="/"></a>
    <nav class="main-nav footer-nav">
        {{ knp_menu_render('main') }}
    </nav>
    <nav class="services-nav">
        <ul>
            <li>
                <a href="{{ path('portfolio_categories_list', {'slug': 'web-development'}) }}">{{ "Разработка веб-сайтов" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('portfolio_categories_list', {'slug': 'web-design'}) }}">{{ "Дизайн сайтов и интерфейсов" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('portfolio_categories_list', {'slug': 'mobile-development'}) }}">{{ "Мобильная разработка" | trans() }}</a>
            </li>
        </ul>
    </nav>
    <section class="contacts">
        <ul class="contact-list">
            <li>
                <span>{{ 'Позвонить'|trans }}:</span>
                <a href="tel:+380 67 334-40-40">+380 67 334-40-40</a>
            </li>
            <li class="skype-wrap">
                <span>{{ 'Skype'|trans() }}:</span>
                <a href="skype:stfalcon.sales?chat" class="skype">stfalcon.sales</a>
            </li>
            <li class="write-to">
                <span>{{ 'Написать'|trans() }}:</span>
                <a href="mailto:info@stfalcon.com" class="email">info@stfalcon.com</a>
            </li>
            <li class="address">
                <span>{{ "Зайти в гости" | trans() }}:</span>
                <span class="adress">{{ "улица Заречанская 3/2, Хмельницкий, Украина"|trans() }}</span>
                <span class="adress">{{ "переулок Ахтырский 7, Киев, Украина"|trans() }}</span>
            </li>
        </ul>
    </section>
    {{ include('::_social_links.html.twig') }}
</div>
<div class="copyright-cnt">
    <div class="copyright">
        &copy; 2009–{{ "now"|date("Y") }}, {{ '__Footer.homepage.link'|trans({'%homepage%':url('homepage')})|raw }}
        <div class="rules">
            <a href="{{ path('privacy_policy_page') }}">Privacy Policy</a>
            <a href="{{ path('terms_of_service_page') }}">Terms &amp; Conditions</a>
        </div>
    </div>
</div>
