{{ include('::_social_links.html.twig') }}

<nav class="main-nav footer-nav">
    {{ knp_menu_render('main') }}
</nav>
<div class="copyright">
    &copy; 2009–{{ "now"|date("Y") }}, {{ 'веб-студия'|trans }} <a href="http://stfalcon.com">stfalcon.com</a>
    <div class="rules">
        <a href="{{ path('privacy_policy_page') }}">Privacy Policy</a>
        <a href="{{ path('terms_of_service_page') }}">Terms &amp; Conditions</a>
    </div>
</div>
<section class="contacts">
    <ul class="contact-list">
        <li>
            <span>{{ 'Позвонить'|trans }}:</span>
            <a href="+380 67 33-44-040">+380 67 33-44-040</a>
        </li>
        <li>
            <span>{{ "Написать" | trans() }}:</span>
            <a href="mailto:info@stfalcon.com" class="email">info@stfalcon.com</a>
        </li>
        <li class="address">
            <span>{{ "Зайти в гости" | trans() }}:</span>
            <a href="">{{ "ул. Заречанская 3/2, Хмельницкий, Украина" | trans() }}</a>
        </li>
    </ul>
</section>