{{ include('::_social_links.html.twig') }}

<nav class="main-nav footer-nav">
    {{ knp_menu_render('main') }}
</nav>
<div class="copyright">
    &copy; 2009–{{ "now"|date("Y") }}, {{ 'студия'|trans }} <a href="http://stfalcon.com">stfalcon.com</a>
    <div class="rules">
        <a href="{{ path('privacy_policy_page') }}">Privacy Policy</a>
        <a href="{{ path('terms_of_service_page') }}">Terms &amp; Conditions</a>
    </div>
</div>
<section class="contacts">
    <ul class="contact-list">
        <li>
            <span>{{ 'Позвонить'|trans }}:</span>
            <a href="tel:{{ "+380 67 334-40-40" | trans() }}">{{ "+380 67 334-40-40" | trans() }}</a>
            {% if app.request.locale == 'en' %}
                <br/><a href="tel:+380 67 334-40-40">+380 67 334-40-40</a>
            {% endif %}
        </li>
        <li>
            <span>{{ "Skype" | trans() }}:</span>
            <a href="skype:stfalcon.sales?chat" class="email">stfalcon.sales</a>
        </li>
        <li class="write-to">
            <span>{{ "Написать" | trans() }}:</span>
            <a href="mailto:info@stfalcon.com" class="email">info@stfalcon.com</a>
        </li>
        <li class="address">
            <span>{{ "Зайти в гости" | trans() }}:</span>
            <a href="">{{ "ул. Заречанская 3/2, Хмельницкий, Украина" | trans() }}</a>
            {% if app.request.locale == 'en' %}
                <br/><a href="">3/2 Zarichanska str., Khmelnytskyi, Ukraine</a>
            {% endif %}
        </li>
    </ul>
</section>