<header class="header">
    <div class="header-line">
        <div class="show-mobile-nav">
            <i class="icon icon-menu"> </i>
        </div>
        <a class="logo" href="{{ path('homepage') }}" title="{{ 'Студия stfalcon.com'|trans }}"></a>
        <nav class="main-nav">
            {{ knp_menu_render('main') }}
            <svg viewBox="0 0 20 20" fill="#fff" class="close-mobile-nav"><path class="icon-close-nav" d="M19.53 18.47l.53.53L19 20.06l-.53-.53L10 11.06l-8.47 8.47-.53.53L-.06 19l.53-.53L8.94 10 .47 1.53-.06 1 1-.06l.53.53L10 8.94 18.47.47 19-.06 20.06 1l-.53.53L11.06 10l8.47 8.47zm0 0"/></svg>
        </nav>
        {{ include('::_social_links.html.twig') }}
        {{ render(controller('ApplicationDefaultBundle:Widgets:languageSwitcher', {'request': app.request})) }}
    </div>
</header>