<header class="header">
    <div class="header__left">
        <a class="main-logo" href="{{ path('homepage') }}" title="{{ 'Студия stfalcon.com'|trans }}">
            <img src="{{ asset('img/svg/stfalcon_logo.svg')}}" alt="" class="main-logo__img">
        </a>
    </div>
        <nav class="header-navigation">
            {{ knp_menu_render('main', {'template': '::_knp_render_only.html.twig'}) }}
        </nav>
        {{ render(controller('ApplicationDefaultBundle:Widgets:languageSwitcher', {'request': app.request})) }}
        <a href="{{ path('contacts') }}" class="btn btn--blue header__btn">{{ '__main_page.button.contact_us'|trans }}</a>
</header>

<span style="display: none;">
    <svg xmlns="http://www.w3.org/2000/svg">
        <path id="icon-arrow" d="M1 1L5.5 5.5L10 1"/>
    </svg>
</span>
