<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<html xmlns:og="http://ogp.me/ns#">
<head {{ sonata_seo_head_attributes() }}>
    {% block abtest %}{% endblock abtest %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="sitemap" type="application/xml" href="{{ app.request.scheme }}://stfalcon.com/sitemap.xml" />

    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for stfalcon.com" href="{{ url('blog_rss') }}" />
    {% block additional %}{% endblock additional %}

    {% block stylesheets %}
        <!--[if gte IE 8]>
        <link rel="stylesheet" media="screen" href="{{ asset('css/ie.css') }}"/>
        <![endif]-->
        <link rel="stylesheet" media="screen" href="{{ asset('css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    {% endblock %}

    <script src="{{ asset('js/vendor/modernizr-2.6.2.min.js') }}" type="text/javascript"></script>
    {% if app.environment == 'prod' %}
        {% javascripts
            'js/metrics/header.js'
            output='cache/js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% include "::google_analytics.html.twig" %}
        {% endjavascripts %}
    {% else %}
        {% javascripts
            'js/devstub.js'
            output='cache/js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% if app.request.locale == 'en' %}
        {% include '_carrot_quest.html.twig' %}
    {% endif %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}

    <script type="text/javascript">
        var subscribeFullText = '{{ 'Подписаться на новые записи'|trans }}';
        var subscribeShortText = '{{ 'Подписаться'|trans }}';
    </script>
    {% block javascripts %}
        {% javascripts
            'js/vendor/jquery-1.7.2.min.js'
            'js/plugins.js'
            'js/autosize.min.js'
            'js/headroom.js'
            'js/underscore-min.js'
            'js/search.js'
            'js/subscribe.js'
            'js/jquery.validate.min.js'
            'js/main.js'
            'js/widgets.js'
            output='cache/js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% include '@ApplicationDefault/Default/footer_scripts.html.twig' %}
</body>
</html>
