<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% trans %}Веб-студия{% endtrans %} stfalcon.com{% endblock %}</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        {% stylesheets 'css/style.css' filter='yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}    </head>

    <body>
        <!--header-->
        <div id="header">
            <a href="{{ path('homepage') }}">
                <h1 class="logo">
                    {% trans %}Веб-студия{% endtrans %} stfalcon.com
                </h1>
            </a>

            <div class="langs">
                <ul>
                    <li>
                        {% if app.request.get('_locale') == 'ru' %}
                            рус
                        {% else %}
                            <a href="{{ path('homepage', { '_locale': 'ru' }) }}">рус</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if app.request.get('_locale') == 'en' %}
                            eng
                        {% else %}
                            <a href="{{ path('homepage', { '_locale': 'en' }) }}">eng</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="menu">
                {{ menu('main') }}
            </div>
        </div>
        <!--/header-->

        <!--content-->
        <div id="main">
            <div class="breadcrumbs">
                {{ menu('breadcrumbs') }}
            </div>

            <div id="content">
                <div class="content-wrapper">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <!--sidebar-->
            <div id="sidebar">
                <a href="#" class="rss">
                    {% trans %}Подписаться на RSS ленту{% endtrans %}
                </a>

                <!--twitter block-->
                <div class="twitter">
                    {% render "DefaultBundle:Default:twitter" with { 'count': 1 } %}
                    <p>
                        {% trans %}Следить за{% endtrans %} <a href="http://twitter.com/#!/stfalcon" rel="nofollow">@stfalcon</a>
                    </p>
                    <div class="twitter-top"></div>
                </div>
                <!--/twitter block-->

                {% if category is defined %}
                    {% if project is defined %}
                        {% render "PortfolioBundle:Category:services" with { 'category': category, 'project': project } %}
                    {% else %}
                        {% render "PortfolioBundle:Category:services" with { 'category': category } %}
                    {% endif %}
                {% endif %}

<!--                    <h2>Над проектом работали</h2>

                <ul class="comandList">

                    <li>
                        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
                        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
                    </li>
                    <li>
                        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
                        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
                    </li>
                    <li>
                        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
                        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
                    </li>
                    <li>
                        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
                        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
                    </li>
                    <li>
                        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
                        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
                    </li>

                </ul>-->

            </div>
            <!--sidebar-->

        </div>
        <!--/content-->

        <!--footer-->
        <div id="footer">
            <div class="contacts">
                <span>
                    {% trans %}Позвонить{% endtrans %}:
                    <strong>
                        +380 97 874-03-42
                    </strong>

                    {% trans %}Написать{% endtrans %}:
                    <a href="mailo:info@stfalcon.com">info@stfalcon.com</a>
                </span>

                <span>
                    {% trans %}Адрес{% endtrans %}:
                    <br />
                    {% trans %}Староконстантиновское шоссе{% endtrans %} 26,
                    {% trans %}офис{% endtrans %} 308,
                    {% trans %}Хмельницкий{% endtrans %},
                    {% trans %}Украина{% endtrans %}, 29000
                </span>
            </div>

            <div class="copyright">
                &copy; 2009–{{ "now"|date("Y") }} {% trans %}Веб-студия{% endtrans %} stfalcon.com
                <br />
                <br />
                {% trans %}Сайт работает на{% endtrans %}
                <a href="http://symfony.com" rel="nofollow">
                    <img style="vertical-align: middle; padding-left: 5px;" src="{{ asset('images/footer/symfony-logo.png') }}" alt="Symfony2" title="Symfony2" />
                </a>
            </div>
        </div>
        <!--/footer-->

        {% javascripts filter='yui_js' 'vendor/jquery/jquery-1.4.4.min.js' 'vendor/jquery-ui/jquery-ui-1.8.9.custom.min.js' 'js/jquery.main.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if IE 6]>
            <script type="text/javascript" src="{{ asset('js/DD_belatedPNG.js') }}"></script>
        <![endif]-->

        <script type="text/javascript">
            jQuery(document).ready(function() {
                // $("#accordion").accordion({ header: "h3", active: 1, autoHeight: false });
                $("#accordion").accordion({ header: "h3", active: -1, autoHeight: false, collapsible: true });
            });
        </script>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5635962-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

    </body>
</html>