<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Веб-студия stfalcon.com{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'css/style.css' filter='yui_css' output='cache/css/*.css'
                'vendor/fluid960gs/css/reset.css'
                'vendor/fluid960gs/css/text.css'
                'vendor/fluid960gs/css/960.css'
                'vendor/fluid960gs/css/layout.css'
                'vendor/fluid960gs/css/nav.css'
                'css/admin.css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('vendor/markitup/skins/markitup/style.css') }}" />
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('vendor/markitup/sets/html/style.css') }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12">
                <h1 id="branding">
                    <a href="{{ path('homepage') }}">PortfolioBundle</a>
                </h1>
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                <ul class="nav main">
                    <li>
                        <a href="{{ path('portfolioProjectIndex') }}">Projects</a>
                        <ul>
                            <li>
                                <a href="{{ path('portfolioProjectCreate') }}">Create new project</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('portfolioCategoryIndex') }}">Categories</a>
                        <ul>
                            <li>
                                <a href="{{ path('portfolioCategoryCreate') }}">Create new category</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('blog_post_index') }}">Posts</a>
                        <ul>
                            <li>
                                <a href="{{ path('blog_post_create') }}">Create new post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                &nbsp;
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                {% if app.session.flashbag.has('notice') %}
                    <div class="notice">
                        {{ app.session.flashbag.get('notice') }}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
            <div class="grid_12" id="site_info">
                <div class="box">
                    <p>
                        Powered by <a href="http://symfony-reloaded.org/">Symfony2 PHP framework</a>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        {% block javascripts %}
            {% javascripts filter='yui_js' output='cache/js/*.js'
                    'vendor/jquery/jquery-1.7.2.min.js'
                    'vendor/jquery-ui/jquery-ui-1.8.19.custom.min.js'
                    'vendor/fluid960gs/js/jquery-fluid16.js'
                    'vendor/markitup/jquery.markitup.js'
                    'js/InlineUpload.js'
                    'js/markItUpSettings.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript" >
            $(document).ready(function() {
                    InlineUpload.options.action = '{{ path('blog_post_upload_image') }}';
                    $("textarea").markItUp(mySettings);
            });
            </script>
        {% endblock %}


    </body>
</html>
