<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Веб-студия stfalcon.com{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/reset.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/text.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/960.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/layout.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/nav.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" media="screen" />
        <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/ie6.css') }}" media="screen" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/fluid960gs/css/ie.css') }}" media="screen" />
        <![endif]-->
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12">
                <h1 id="branding">
                    <a href="{{ path('homepage') }}">PortfolioBundle</a>
                </h1>
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                <ul class="nav main">
                    <li>
                        <a href="{{ path('portfolioProjectIndex') }}">Projects</a>
                        <ul>
                            <li>
                                <a href="{{ path('portfolioProjectCreate') }}">Create new project</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('portfolioCategoryIndex') }}">Categories</a>
                        <ul>
                            <li>
                                <a href="{{ path('portfolioCategoryCreate') }}">Create new category</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('blog_post_index') }}">Posts</a>
                        <ul>
                            <li>
                                <a href="{{ path('blog_post_create') }}">Create new post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                &nbsp;
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                {% if app.session.hasFlash('notice') %}
                    <div class="notice">
                        {{ app.session.flash('notice') }}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
            <div class="grid_12" id="site_info">
                <div class="box">
                    <p>
                        Powered by <a href="http://symfony-reloaded.org/">Symfony2 PHP framework</a>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <script type="text/javascript" src="{{ asset('vendor/jquery/jquery-1.4.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery-ui-1.8.9.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/fluid960gs/js/jquery-fluid16.js') }}"></script>

        {{ tinymce_init() }}
    </body>
</html>
