<p>{{ message }}</p>
<br/>
<p>--</p>
<p>Name: {{ name }}</p>
<p>E-mail: {{ email }}</p>
<p>Phone: {{ phone }}</p>
{% if company is not null %}<p>Company: {{ company }}</p>{% endif %}
{% if position is not null %}<p>Position: {{ position }}</p>{% endif %}
{% if budget is not null %}<p>Budget: {{ budget }}</p>{% endif %}
<p>Country: {{ country }}</p>
