<article class="page-wrapper project-case">
    <div class="head-row">
        <div class="col col-1"></div>
        <div class="col col-4">
            <h1>{{ project.name }}</h1>
            {% if project.additionalInfo %}
                <div class="additional-info">
                    {{ project.additionalInfo | raw }}
                </div>
            {% endif %}
            <a href="{{ project.url }}" rel="nofollow" target="_blank" class="project-link">{{ project.url }}</a>
        </div>
    </div>
    {{ project.caseContent | raw }}
    {% include '@StfalconPortfolio/contact_us-block.html.twig' with {'category' : category} %}
    {%- if 'SmartSeeds' == project.name and 'en' == app.request.locale -%}
        {{ render(controller('ApplicationDefaultBundle:Widgets:leadForm', {'projectName': project.name })) }}
    {%- endif -%}
    {% include 'StfalconPortfolioBundle:Project:_project_participants.html.twig' with { 'participants': project.usersWithPositions, 'class': 'row worked-on-project' } %}
</article>
