<ul class="tabs-header tabs-projects">
    <li>
        <div class="wrap-nav"><a class="tab-title {% if active == 'all' %} {{ 'active' }}{% endif %}" href="{{ url('portfolio_all_projects') }}">{% if active == 'all' %}<h1>{% endif %}{{ "Все"|trans }}{% if active == 'all' %}</h1>{% endif %}</a></div>
    </li>
    {% for category in categories %}
        <li>
            <div class="wrap-nav"><a class="tab-title {% if active == category.slug %} {{ 'active' }}{% endif %}" href="{{ path('portfolio_category_project', {'slug': category.slug}) }}">
                    {% if active == category.slug %} <h1>{% endif %}{{ category.name }}{% if active == category.slug %}</h1>{% endif %}
                </a></div>
        </li>
    {% endfor %}
</ul>