<section class="amount-projects">
    <div class="projects-counter">
        {% set lastYear = years|last %}
        <span class="years-count">{{ lastYear.counter }}</span><span>+</span>
        <p id="view-year">{{ "проект мы запустили к концу %year% года|проекта мы запустили к концу %year% года|проектов мы запустили к концу %year% года"|transchoice(lastYear.counter, {'%year%':lastYear.year}) }}</time> {{ ""|trans }}</p>
    </div>
    <div class="year-slider-wrapp">
        <div id="year-slider"></div>
        <ul>
            {% for year in years %}
            <li data-val="{{ year.counter }}" data-text="{{ "проект мы запустили к концу %year% года|проекта мы запустили к концу %year% года|проектов мы запустили к концу %year% года"|transchoice(year.counter, {'%year%':year.year}) }}">{{ year.year }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
