<section class="amount-projects">
    <div class="projects-counter">
        {% set lastYear = years|last %}
        <span class="years-count">{{ lastYear.counter }}</span><span>+</span>
        <p id="view-year"><time>{{ '__projects_text_now'|trans()|transchoice(lastYear.counter) }}</time> {{ ""|trans }}</p>
    </div>
    <div class="year-slider-wrapp">
        <div id="year-slider"></div>
        <ul>
            {% for year in years %}
                {%- if year.year == lastYear.year -%}
                    <li data-val="{{ year.counter }}" data-text="{{ '__projects_text_now'|trans()|transchoice(year.counter) }}">{{ year.year }}</li>
                {% else %}
                    <li data-val="{{ year.counter }}" data-text="{{ '__projects_text_year'|trans()|transchoice(year.counter, {'%year%':year.year}) }}">{{ year.year }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
