<li>
    <a href="{{ path('portfolio_category_project', { 'slug': project.slug }) }}">
        {% if project.image %}
            <img src="{{ vich_uploader_asset(project, 'imageFile') | apply_filter('project_thumb') }}" alt="{{ project.name }}" />
        {% endif %}
        <h3>{{ project.name }}</h3>
    </a>
    <p>{{ project.tags }}</p>
</li>