<li>
    <a href="{{ path('portfolio_project_view', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
        {% if project.image %}
            <img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.name }}" width="300" height="264" />
        {% endif %}
        <h3>{{ project.name }}</h3>
    </a>
    <p>{{ project.tags }}</p>
</li>