{% set slug = app.request.get('slug') %}
{% if not slug %}
    {% if project.categories.first %}
        {% set slug = project.categories.first.slug %}
    {% endif %}
{% endif %}
<a href="{% if slug %}{{ path('portfolio_project_view', { 'categorySlug': slug, 'projectSlug': project.slug }) }}{% endif %}">
    <img src="{{ vich_uploader_asset(project, 'imageFile') }}"
         alt="{{ project.name }}"/>
                    <span class="project-info">
                        <span class="project-info-text">
                            <span class="project-name">
                                {{ project.name }}
                            </span>
                            <span class="project-description">
                                {{ project.shortDescription }}
                            </span>
                        </span>
                        <span class="helper"></span>
                    </span>
</a>
