{% extends '::project_layout.html.twig' %}

{% block title %}{{ "Проекты"|trans }} | {{ parent() }}{% endblock %}

{% block additional %}
    <link rel="canonical" href="{{ url('portfolio_all_projects') }}"/>
{% endblock additional %}

{% block content_wrapper %}

    <div class="section-offer">
        <p class="h1">{{ "Проекты"|trans }}</p>
        {% include('@StfalconPortfolio/Project/_project_categories_list.html.twig') with {'categories': categories} %}
    </div>
    {% include('@StfalconPortfolio/Project/_project_category_item.html.twig') with {'projects': projects} %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var next_count = {{ nextCount }}</script>
    <script>var item_count = {{ itemCount }}</script>
    <script>var category = '{{ categorySlug }}'</script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
{#{% block after_body %}#}
{#    {% include('@StfalconPortfolio/hire_us_right_button.html.twig') %}#}
{#    {{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': 'projects' } )) }}#}
{#{% endblock %}#}