{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {% if project.showCase %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block header_content %}
    {% if project.showCase %}
        <header class="header white">
            {% include '::_header_index.html.twig' %}
        </header>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}{{ project.name }} | {{ "Проекты"|trans }}{{ parent() }}{% endblock %}

{% block content_wrapper %}
    {% if project.showCase %}
        {% include 'StfalconPortfolioBundle:Project:_case.html.twig' %}
    {% else %}
    {% render controller("StfalconPortfolioBundle:Project:nearbyProjects", { 'categorySlug': category.slug, 'projectSlug': project.slug }) %}

    <div class="project-wrapper clearfix">
        <aside class="project-info">
            <h2>{{ project.name }}</h2>
            {% if project.url %}
                <a href="{{ project.url }}" rel="nofollow" target="_blank">{{ project.url }}</a>
            {% endif %}

            <span>{{ project.tags }}</span>
            <p>
                {{ project.description | raw }}
            </p>
            {% if project.participants | length %}
                <section class="work-on-project">
                    <h2>{{ 'Над проектом работали'|trans }}:</h2>
                    <ul class="team-list  team-list-small">
                        {% for participant in project.participants %}
                            <li>
                                {% if participant.avatarName %}
                                    <img src="{{ vich_uploader_asset(participant, 'avatar') | apply_filter('avatar_small') }}" alt="{{ participant.firstname ~ ' ' ~ participant.lastname }}"/>
                                {% endif %}
                                <span>{{ participant.firstname ~ ' ' ~ participant.lastname }}</span>
                                <p>{{ participant.position }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        </aside>
        <div class="project-slider-wrapper">
            <div class="project-slider-cnt no-controls">
                <div class="slider-nav">
                    <a class="prev-slide"></a>
                    <a class="next-slide"></a>
                </div>
                <div class="fixed-nav">
                    <a class="fix-prev-slide prev-slide"></a>
                    <a class="fix-next-slide next-slide "></a>
                </div>
                <div class="slider-pages"></div>
                <div class="project-slider">
                    {% if project.media|length %}
                        <ul>
                            {% set filter = project.shadow?'slide':'reference' %}
                            {% for mediaGallery in project.media %}
                                <li {{ not project.shadow?'class="no-shadow"' }}><img src="{% path mediaGallery.media, filter %}" alt="{{ project.name }}"/></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% render controller("StfalconPortfolioBundle:Project:nearbyProjects", { 'categorySlug': category.slug, 'projectSlug': project.slug }) %}
    {% endif %}
{% endblock %}
