{% extends 'StfalconPortfolioBundle::layout.html.twig' %}

{% block title %}{{ parent() }} / {{ project.name }}{% endblock %}

{% block content %}
    <!--details of project-->
    <div class="detailsOfProject">
        {% render controller("StfalconPortfolioBundle:Project:nearbyProjects", { 'categorySlug': category.slug, 'projectSlug': project.slug }) %}

        <h1>
            {{ project.name }}
        </h1>

        {% if project.url %}
            <p>
                <a href="{{ project.url }}">{{ project.url }}</a>
            </p>
        {% endif %}

        <div style="padding-bottom: 30px;">
            {{ project.description | raw }}
        </div>
    </div>
    <!--details of project-->
{% endblock %}