{% extends '::layout_project.html.twig' %}

{% block stylesheets %}
    {% if project.showCase %}
        <link rel="stylesheet" media="screen" href="{{ asset('css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block header_content %}
    {% if project.showCase %}
        <header class="header white">
            {% include '::_header.html.twig' %}
        </header>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}{{ project.name }} | {{ "Проекты"|trans }} | {{ parent() }}{% endblock %}

{% block content_wrapper %}
    {% if project.showCase %}
         {% include 'StfalconPortfolioBundle:Project:_case.html.twig' %}
    {% else %}
        <div class="content-limited">
        {% render controller("StfalconPortfolioBundle:Project:nearbyProjects", { 'categorySlug': category.slug, 'projectSlug': project.slug }) %}
        <div class="project-wrapper clearfix">
            <aside class="project-info">
                <h2>{{ project.name }}</h2>
                {% if project.url %}
                    <a href="{{ project.url }}" rel="nofollow" target="_blank">{{ project.url }}</a>
                {% endif %}

                <span>{{ project.tags }}</span>
                <p>
                    {{ project.description | raw }}
                </p>
                {% include 'StfalconPortfolioBundle:Project:_project_participants.html.twig' with { 'participants': project.usersWithPositions } %}
            </aside>
            <div class="project-slider-wrapper">
                <div class="project-slider-cnt no-controls">
                    <div class="slider-nav">
                        <a class="prev-slide"></a>
                        <a class="next-slide"></a>
                    </div>
                    <div class="fixed-nav">
                        <a class="fix-prev-slide prev-slide"></a>
                        <a class="fix-next-slide next-slide "></a>
                    </div>
                    <div class="slider-pages"></div>
                    <div class="project-slider">
                        {% if project.media|length %}
                            <ul>
                                {% set filter = project.shadow?'slide':'reference' %}
                                {% for mediaGallery in project.media %}
                                    <li {{ not project.shadow?'class="no-shadow"' }}><img src="{% path mediaGallery.media, filter %}" alt="{{ project.name }}"/></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% render controller("StfalconPortfolioBundle:Project:nearbyProjects", { 'categorySlug': category.slug, 'projectSlug': project.slug }) %}
        </div>
    {% endif %}
    {% if project.relativeProjects | length %}
        <div class="row similar-projects">
            <h2>{{ 'Похожие проекты' | trans() }}</h2>
            <ul class="projects">
                {% for relativeProject in project.relativeProjects|slice(1, 3) %}
                    <li>
                        <a href="{{ path('portfolio_category_project', {'slug': relativeProject.slug}) }}">
                            {% if relativeProject.image %}
                                <img src="{{ vich_uploader_asset(relativeProject, 'imageFile') | apply_filter('project_thumb') }}" alt="{{ relativeProject.name }}" />
                            {% endif %}

                            <h3>{{ relativeProject.name }}</h3>
                        </a>
                        <p>{{ project.tags }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
