<header>
    <h1>
        {% if linkTitle %}
            <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}">{{ post.title }}</a>
        {% else %}
            {{ post.title }}
        {% endif %}
    </h1>

    <div class="post-info">
        <time pubdate="pubdate">{{ post.created|localizeddate('long', 'none', app.request.locale) }}</time>
        {% if post.author and post.author.avatarName %}
            <img src="{{ vich_uploader_asset(post.author, 'avatar') | apply_filter('avatar') }}" alt="{{ post.author.firstname | default('') ~ ' ' ~ post.author.lastname | default('') }}"/>
        {% endif %}
        <span>{{ post.author.firstname | default('') ~ ' ' ~  post.author.lastname | default('') }}</span>
        <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#disqus_thread" data-disqus-identifier="{{ post.id }}">{{ 'Комментировать'|trans }}</a>
    </div>
</header>
{% if app.request.host == 'stfalcon.com' %}
    <script type="text/javascript">
        var disqus_shortname = '{{ disqus_shortname }}';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        function disqus_config() {
            this.language = "{{ app.request.locale }}";
        }
    </script>
{% endif %}
