{% from 'StfalconBlogBundle:Post:macros.html.twig' import author_info as about %}

<div class="about-author">
    <h2 class="about-author__heading">{{ 'О авторе'|trans }}</h2>
    <div class="about-author__body">
        {% if author.usernameCanonical is defined and author.usernameCanonical is not empty %}
            {#<div class="">#}
                <a class="author_blog about-author__photo" href="{{ path('blog_author', { 'usernameCanonical': author.usernameCanonical }) }}">
                    <img src="{{ vich_uploader_asset(author, 'avatar') | apply_filter('avatar') }}" alt="{{ author.firstname | default('') ~ ' ' ~ author.lastname | default('') }}" />
                </a>
            {#</div>#}
        {% else %}
            {{ about(author) }}
        {% endif %}
        <div class="about-author__info">
            {% if author.usernameCanonical is defined and author.usernameCanonical is not empty %}
                <a  class="about-author__name" href="{{ path('blog_author', { 'usernameCanonical': author.usernameCanonical }) }}">
                    {{ author.firstname | default('') ~ ' ' ~  author.lastname | default('') }}
                </a>
            {% endif %}
            <div class="about-author__position">
                {% if author.position is defined %}
                    {{ author.position|raw }}
                {% endif %}
            </div>
            {% if author.description is defined %}
                <div class="about-author__text">
                    {{ author.description|raw }}
                </div>
            {% endif %}
        </div>
    </div>

</div>

<div class="clear"></div>
