{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}Блог{% endtrans %} | {{ parent() }}{% endblock %}

{% block additional %}
    <link rel="canonical" href="{{ url('blog') }}" />
{% endblock additional %}

{% block content_wrapper %}
    {{ parent() }}
    <section class="services-tabs projects-wrapper">
        <div class="section-offer">
            {{ knp_menu_render('blog', {'template': '::_knp_render_blog.html.twig'}) }}
        </div>
    </section>
    {% if posts %}
        {% include 'StfalconBlogBundle:Post:_posts.html.twig' with {'posts': posts} %}

        {{ knp_pagination_render(posts) }}
    {% endif %}

    <button id="scroll-top" class="button-up scroll-to-top"></button>
{% endblock %}
{#{% block after_body %}#}
{#    {% include('@StfalconPortfolio/hire_us_right_button.html.twig') %}#}
{#    {{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': 'blog' })) }}#}
{#{% endblock %}#}
