{% extends 'StfalconBlogBundle::layout.html.twig' %}
{% block title %}{{ post.metaTitle }} | {{ 'Блог'|trans }} | {{ parent() }}{% endblock %}
{% block content_wrapper %}
    {{ parent() }}
    <article class="blog-post">
        {% include 'StfalconBlogBundle:Post:_post_header.html.twig' with {'post': post, 'linkTitle': false} %}

        <div class="post-content">
            {{ post.text|moreToSpan|highlightCode|raw }}
            {%- if post.additionalInfo != null -%}
                <div class="btn-wrapper-center">
                    <button class="btn btn--grey hire_us_land">{{ '__download_file'|trans }}</button>
                </div>
            {%- endif -%}

            {% if post.author %}
                {% include 'StfalconBlogBundle:Post:about_author.html.twig' with {'author': post.author} %}
            {% endif %}
        </div>

    </article>

    {# Related posts widget #}
    {{ render(controller('StfalconBlogBundle:Post:relatedPosts', { 'locale': app.request.locale, 'post': post })) }}

    <div class="blog-post">
        <a class="read-more prev-page" href="{{ path('blog') }}"><span>{{ 'Вернуться к списку записей'|trans }}</span>
            <span>{{ 'К списку записей'|trans }}</span>
        </a>

        {# Post tags #}
        {% include 'StfalconBlogBundle:Post:_post_tags.html.twig' with {'post': post} %}
    </div>

    <button class="button-up scroll-to-top"></button>
{% endblock %}

{% block after_body %}
    {{ parent() }}
    {%- if post.additionalInfo != null -%}
        {% include '@ApplicationDefault/Widgets/post_additional_info.html.twig' with {'form' : form, 'post': post} %}
    {%- endif -%}
{% endblock %}
