{% extends 'StfalconBlogBundle::layout.html.twig' %}
{% block title %}{{ post.title }} / {{ 'Блог'|trans }} / {{ parent() }}{% endblock %}
{% block content_wrapper %}
    <article class="blog-post">
        {% include 'StfalconBlogBundle:Post:_post_header.html.twig' with {'post': post, 'linkTitle': false} %}
        <div class="post-content">
            {{ post.text|moreToSpan|highlightCode|raw }}
            <div class="share-cnt clearfix">
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
                <script type="text/javascript">
                    VK.init({apiId: 4612398, onlyWidgets: true});
                </script>
                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter" data-yashareType="small"></div>
                <div id="vk_like"></div>
                <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                <script type="text/javascript">
                    VK.Widgets.Like("vk_like", {type: "button", height: 20});
                </script>

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            </div>
            <a class="read-more prev-page" href="{{ path('blog') }}"><span>{{ 'Вернуться к списку записей'|trans }}</span>
                <span>{{ 'К списку записей'|trans }}</span></a>
        </div>
        {% include 'StfalconBlogBundle:Post:_post_tags.html.twig' with {'post': post} %}
        <p>
            <div id="disqus_thread"></div>
        </p>
        <script type="text/javascript">
            var disqus_shortname = '{{ disqus_shortname }}';
            var disqus_identifier = '{{ post.id }}';
            var disqus_url = '{{ url('blog_post_view', {'slug': post.slug}) }}';
            var disqus_title = '{{ post.title }}';
            // var disqus_developer = 1; // developer mode is on

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

            function disqus_config() {
                this.language = "{{ app.request.locale }}";
                this.callbacks.onNewComment = [function () {
                    $.ajax({  url: '{{ url('blog_post_disqus_sync', {'slug': post.slug}) }}' });
                }];
            }
        </script>
    </article>
{% endblock %}
