{% extends '::layout.html.twig' %}

{% block title %}{{ category.title }} | {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <section class="services-tabs">
        <p class="h1">{{ "Чем мы занимаемся"|trans }}</p>
        <ul class="tab-nav">
            {% for c in categories %}
                <li {% if c.id == category.id %}class="active"{% endif %}>
                    {% if c.id == category.id %}
                        <h1>{{ c.name }}</h1>
                    {% else %}
                        <a href="{{ path('portfolio_categories_list', {'slug': c.slug }) }}">
                            {{ c.name }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content-wrapper">
            {% for c in categories %}
                {% if c.id == category.id %}
                    <div id="{{ c.slug }}" class="tab-content">
                        <div id="web-development" class="tab-content">
                            <p>Дизайн сайтов — процесс, который включает в себя проектирование и визуальное оформление информации на сайте. При проектировании продумывается общая концепция, навигация по сайту, расположение блоков информации и других элементов на страницах сайта. Большое внимание при проектировании уделяеться удобству пользования сайтом и решению задач клиента. Оформление представляет собой создание оригинального визуального стиля, грамотный подбор цветов, сочетаний шрифтов, вспомогательных элементов.</p>
                            <ul class="features-list">
                                <li><h2>Дизайн приложений для iOS и Android</h2>
                                    <p>Как известно, основные мобильные платформы имеют много общего, но также и много отличий. Человек, пользуясь одной платформой, привыкает к общим действиям. Мы проектируем приложения, учитывая индивидуальные особенности каждой из платформ и официальные рекомендации для разработчиков.</p></li>
                                <li><h2>Адаптивный веб-дизайн</h2>
                                    <p>Все больше людей выходят в интернет через свои смартфоны и планшеты, потому адаптивность стал неотъемлемой частью любого современного сайта. Адаптивный веб-сайт сам подстраивается под размер экрана пользователя и максимально эффективно предоставляет необходимую информацию.</p></li>
                                <li><h2>Проектирование веб-интерфейсов</h2>
                                    <p>Создание прототипа для демонстрации решения задачи клиента. Прототип наглядно демонстрирует навигацию и основное взаимодействие с интерфейсом.</p></li>
                            </ul>
                            <h2>Проектирования опыта взаимодействия</h2>
                            <p>Мы изучаем то, как люди пользуються сайтами и приложениями на своих компьютерах и мобильных устройствах, и проектируем интерфейсы максимально удобными для использования. Порой неудобный или неочевидный интерфейс может очень сильно навредить общему впечатлению от сайта или приложения. Мы стараемся, чтобы люди были всегда довольны использованием сайтов и приложений наших клиентов.</p>
                        {#{{ category.description | raw }}#}
                        {#<h3>Примеры разработки веб-сайтов</h3>#}
                        {#<ul class="projects">#}
                            {#<li>#}
                                {#<a href="/portfolio/web-development/naberezhny-kvartal-crm">#}
                                    {#<img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f702bc2dbaa.png" alt="CRM для проекта «Набережный квартал»">#}
                                    {#<p>CRM для проекта «Набережный квартал»</p>#}
                                {#</a>#}
                                {#<p>дизайн интерфейса, программирование, верстка</p>#}
                            {#</li>                            <li>#}
                                {#<a href="/portfolio/web-design/truesocialmetrics-com">#}
                                    {#<img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f8379ee155b.png" alt="TrueSocialMetrics.com">#}
                                    {#<p>TrueSocialMetrics.com</p>#}
                                {#</a>#}
                                {#<p>дизайн опыта взаимодействия</p>#}
                            {#</li>                            <li>#}
                                {#<a href="/portfolio/mobile-development/patrolife-ru-android">#}
                                    {#<img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f817a96e5e6.png" alt="Приложение Patrolife для Android">#}
                                    {#<p>Приложение Patrolife для Android</p>#}
                                {#</a>#}
                                {#<p>программирование</p>#}
                            {#</li>#}
                        {#</ul>#}
                        <a href="{{ path('portfolio_category_view', {'slug': category.slug}) }}" class="show-all-projects">{{ "Другие примеры %project%"|trans({'%project%': linkTexts[category.slug] | default('') | trans }) }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
