{% extends '::layout.html.twig' %}

{% block title %}{{ category.title }} | {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <section class="services-tabs">
        <p class="h1">{{ "Чем мы занимаемся"|trans }}</p>
        <ul class="tab-nav">
            {% for c in categories %}
                <li {% if c.id == category.id %}class="active"{% endif %}>
                    {% if c.id == category.id %}
                        <h1>{{ c.name }}</h1>
                    {% else %}
                        <a href="{{ path('portfolio_categories_list', {'slug': c.slug }) }}">
                            {{ c.name }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content-wrapper">
            {% for c in categories %}
                {% if c.id == category.id %}
                    <div id="{{ c.slug }}" class="tab-content">
                        {{ category.description | raw }}
                        <h3>{{ 'Примеры %project%'|trans({'%project%': linkTexts[category.slug] | default('') | trans }) }}</h3>

                            {{ render(controller('StfalconPortfolioBundle:Project:widgetExamplesProject', { 'category': category })) }}

                        <a href="{{ path('portfolio_category_view', {'slug': category.slug}) }}" class="show-all-projects">{{ "Другие примеры %project%"|trans({'%project%': linkTexts[category.slug] | default('') | trans }) }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
