{% extends '::layout.html.twig' %}

{% block title %}Чем мы занимаемся / {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <section class="services-tabs">
        <h1>Чем мы занимаемся</h1>
        <ul class="tab-nav">
            {% for category in categories %}
                <li><h2><a href="#{{ category.slug }}" {{ loop.index == 1?'class="active"':'' }}>{{ category.name }}</a></h2></li>
            {% endfor %}
        </ul>
        <div class="tab-content-wrapper">
            {% for category in categories %}
                <img src="img/bg/figure{{ loop.index }}.png" class="img" alt="{{ category.name }}"/>
            {% endfor %}
            {% for category in categories %}
                <div id="{{ category.slug }}" class="tab-content">
                    <a class="tab-title">{{ category.name }}</a>
                    <div class="accordion-wrapper">
                        <div class="tab-text">
                            {{ category.description | raw }}
                        </div>
                        <div class="price">
                            Стоимость проекта
                            <span>от {{ category.cost }} $</span>
                        </div>
                        <a class="show-in-portfolio" href="{{ path('portfolio_category_view', {'slug': category.slug}) }}">
                            <span class="arrow-btn"></span>
                            <span>посмотреть примеры проектов {{ linkTexts[category.slug] | default('') }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
