{% extends '::layout.html.twig' %}

{% block title %}{{ "Услуги"|trans }} / {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <section class="services-tabs">
        <h1>{{ "Чем мы занимаемся"|trans }}</h1>
        <ul class="tab-nav">
            {% for category in categories %}
                <li><h2><a href="#{{ category.slug }}" {{ loop.index == 1?'class="active"':'' }}>{{ category.name }}</a></h2></li>
            {% endfor %}
        </ul>
        <div class="tab-content-wrapper">
            {% for category in categories %}
                <div class="services-img img-{{ loop.index }}"></div>
            {% endfor %}
            {% for category in categories %}
                <div id="{{ category.slug }}" class="tab-content">
                    <a class="tab-title">{{ category.name }}</a>
                    <div class="accordion-wrapper">
                        <div class="tab-text">
                            {{ category.description | raw }}
                        </div>
                        <div class="price">
                            {{ "Стоимость проекта %wrap_start%от %price% $%wrap_end%"|trans({'%price%': category.cost, '%wrap_start%': '<span>', '%wrap_end%': '</span>'})|raw }}
                        </div>
                        <a class="show-in-portfolio" href="{{ path('portfolio_category_view', {'slug': category.slug}) }}">
                            <span class="arrow-btn"></span>
                            <span>{{ "посмотреть примеры проектов %project%"|trans({'%project%': linkTexts[category.slug] | default('') | trans }) }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
