{% extends 'StfalconPortfolioBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ category.name }}</h1>

    <p>
        {{ category.description }}
    </p>

    {% if category.projects.count %}
        <ul class="projects">
            {% for project in paginator %}
                <li>
                        <a href="{{ path('portfolio_project_view', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                            <span>
                                <img src="/uploads/portfolio/projects/{{ project.image }}" width="240" height="198"
                                     alt="{{ project.name }}" title="{{ project.name }}" class="project-thumb" />
                            </span>
                        </a>
                </li>
            {% endfor %}
        </ul>

        {{ knp_pagination_render(paginator) }}
    {% else %}
        <div class="info">
            This category is empty
        </div>
    {% endif %}
{% endblock %}