
<div class="job-skills">
    <h3>{{ 'В работе мы используем'|trans }}</h3>
    <ul class="skills-list">
        <li>
            <div class="php-icon"></div>

            <p>Symfony</p>

            <p>Silex</p>

            <p>Doctrine2</p>
        </li>
        <li>
            <div class="js-icon"></div>
            <p>Ember.js</p>

            <p>Angular.js</p>

            <p>CoffeeScript</p>
        </li>
        <li>
            <div class="db-icon"></div>
            <p>MySQL</p>

            <p>PgSQL</p>

            <p>MongoDB</p>
        </li>
        <li>
            <div class="html-icon"></div>
            <p>HTML</p>

            <p>CSS</p>

            <p>LESS/SASS</p>
        </li>
    </ul>
</div>
<div class="section-cms">
    {#<h3>{{ 'Разрабатываем с использованием CMS'|trans }}</h3>
    <ul class="cms-list">
        <li>
            <a href="https://www.prestashop.com/" target="_blank"><div class="prestashop-icon center-icon"></div>
                <p>PrestaShop</p></a>
        </li>
        <li>
            <a href="{{ path('page_landing', {'type': 'sylius'}) }}"><div class="salius-icon center-icon"></div>
                <p>Sylius</p></a>
        </li>
        <li>
            <a href="http://livestreetcms.com/" target="_blank"><div class="livestreetcms-icon center-icon"></div>
                <p>LiveStreetCMS</p></a>
        </li>
    </ul>#}
    <h3>{{ 'Примеры разработки веб-сайтов'|trans }}</h3>
    {{ render(controller('StfalconPortfolioBundle:Project:widgetExamplesProject', { 'category': category })) }}
    <div class="more">
        <a class="link-more" id="web-dev">{{ 'Подробнее про веб-разработку'|trans }}</a>
    </div>
</div>
