<div class="calculator">
    <div class="calculator__container">
        <div class="calculator__left">
            <h1 class="calculator__title">{{ '__order.page.title'|trans }}</h1>
            <p class="calculator__text">{{ '__order.page.description'|trans }}</p>
            <div class="chips calculator__chips">
                <div class="chips__title">{{ '__order.page.choise'|trans }}</div>
                <div class="chip-tabs">
                    <label class="chip-tabs__item">
                        <input type="radio" name="platform" value="ios" class="chip-tabs__radio">

                        <span class="chip-tabs__item-inner">
                            <span class="chip-tabs__item-icons">
							<svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
                                    d="M18.766 13.8403C18.7329 10.5415 21.4743 8.95947 21.5968 8.88086C20.0564 6.64186 17.657 6.33514 16.8019 6.29968C14.7599 6.0943 12.8174 7.49391 11.7811 7.49391C10.7473 7.49391 9.14813 6.33005 7.45457 6.36063C5.22883 6.39349 3.17656 7.64618 2.0305 9.62628C-0.282003 13.6123 1.43828 19.5174 3.69219 22.7501C4.79354 24.3325 6.10682 26.1098 7.83111 26.0463C9.49158 25.9805 10.1195 24.979 12.127 24.979C14.1344 24.979 14.6988 26.0463 16.456 26.0135C18.2428 25.9806 19.3748 24.4008 20.4686 22.8136C21.7333 20.9778 22.2541 19.2005 22.2848 19.1093C22.2451 19.0913 18.8005 17.7805 18.766 13.8403ZM15.4642 4.15958C16.3794 3.05666 16.9971 1.5265 16.8286 0C15.5104 0.0533168 13.9125 0.872249 12.9667 1.97267C12.118 2.94886 11.3751 4.5069 11.5742 6.00287C13.0459 6.11694 14.5481 5.26 15.4642 4.15958Z"/>
							</svg>
                            </span>
                            <span class="chip-tabs__item-text">
							    iOS
                            </span>
						</span>
                    </label>
                    <label class="chip-tabs__item chip-tabs__item--active">
                        <input type="radio" name="platform" value="android" class="chip-tabs__radio">

                        <span class="chip-tabs__item-inner">
                            <span class="chip-tabs__item-icons">
							<svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
                                    d="M22.0001 9.20457V15.5944C22.0001 16.4964 21.2944 17.2276 20.421 17.2276C19.5515 17.2276 18.8458 16.4964 18.8458 15.5944V9.20457C18.8458 8.30253 19.5476 7.57136 20.421 7.57136C21.2944 7.57136 22.0001 8.30253 22.0001 9.20457ZM2.46585 7.57136C1.59636 7.57136 0.890625 8.30253 0.890625 9.20457V15.5904C0.890625 16.4924 1.59636 17.2276 2.46585 17.2276C3.34313 17.2276 4.04496 16.4924 4.04496 15.5904V9.20457C4.04496 8.30253 3.34313 7.57136 2.46585 7.57136ZM4.40093 19.286C4.40093 19.9814 4.9546 20.5417 5.63304 20.5417H7.04059V24.0982C7.04059 25.0003 7.75023 25.7314 8.61971 25.7314C9.4931 25.7314 10.1988 25.0003 10.1988 24.0982V20.5417H12.6552V24.0982C12.6552 25.0003 13.3648 25.7314 14.2343 25.7314C15.1077 25.7314 15.8134 25.0003 15.8134 24.0982V20.5417H17.221C17.8994 20.5417 18.4531 19.9854 18.4531 19.29V7.61904H4.40093V19.286ZM18.418 7.29914H4.36974C4.553 5.12549 5.99956 3.26974 8.06605 2.2922L6.76765 0.3689C6.68967 0.257635 6.70918 0.106632 6.80665 0.0351042C6.90803 -0.0324497 7.05229 -0.000659535 7.13417 0.114579L8.47934 2.10941C9.36833 1.75177 10.3548 1.55308 11.3958 1.55308C12.4369 1.55308 13.4194 1.75177 14.3123 2.10941L15.6575 0.114579C15.7394 -0.000659535 15.8836 -0.0324497 15.985 0.0351042C16.0825 0.106632 16.102 0.257635 16.024 0.3689L14.7256 2.2922C16.7882 3.26974 18.2387 5.12549 18.418 7.29914ZM9.21235 4.52148C9.21235 4.08437 8.86144 3.73467 8.43255 3.73467C8.00365 3.73467 7.65274 4.08834 7.65274 4.52148C7.65274 4.96257 8.00365 5.31623 8.43255 5.31623C8.86144 5.31623 9.21235 4.96257 9.21235 4.52148ZM15.2325 4.52148C15.2325 4.08437 14.8855 3.73467 14.4566 3.73467C14.0277 3.73467 13.6807 4.08834 13.6807 4.52148C13.6807 4.96257 14.0277 5.31623 14.4566 5.31623C14.8855 5.31623 15.2325 4.96257 15.2325 4.52148Z"/>
							</svg>
                            </span>
                            <span class="chip-tabs__item-text">
						        Android
                            </span>
						</span>
                    </label>
                    <label class="chip-tabs__item">
                        <input type="radio" name="platform" value="android_ios" class="chip-tabs__radio">

                        <span class="chip-tabs__item-inner">
							<span class="chip-tabs__item-icons">
								<svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
                                    d="M18.766 13.8403C18.7329 10.5415 21.4743 8.95947 21.5968 8.88086C20.0564 6.64186 17.657 6.33514 16.8019 6.29968C14.7599 6.0943 12.8174 7.49391 11.7811 7.49391C10.7473 7.49391 9.14813 6.33005 7.45457 6.36063C5.22883 6.39349 3.17656 7.64618 2.0305 9.62628C-0.282003 13.6123 1.43828 19.5174 3.69219 22.7501C4.79354 24.3325 6.10682 26.1098 7.83111 26.0463C9.49158 25.9805 10.1195 24.979 12.127 24.979C14.1344 24.979 14.6988 26.0463 16.456 26.0135C18.2428 25.9806 19.3748 24.4008 20.4686 22.8136C21.7333 20.9778 22.2541 19.2005 22.2848 19.1093C22.2451 19.0913 18.8005 17.7805 18.766 13.8403ZM15.4642 4.15958C16.3794 3.05666 16.9971 1.5265 16.8286 0C15.5104 0.0533168 13.9125 0.872249 12.9667 1.97267C12.118 2.94886 11.3751 4.5069 11.5742 6.00287C13.0459 6.11694 14.5481 5.26 15.4642 4.15958Z"/>
							</svg>

						<svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
                                    d="M22.0001 9.20457V15.5944C22.0001 16.4964 21.2944 17.2276 20.421 17.2276C19.5515 17.2276 18.8458 16.4964 18.8458 15.5944V9.20457C18.8458 8.30253 19.5476 7.57136 20.421 7.57136C21.2944 7.57136 22.0001 8.30253 22.0001 9.20457ZM2.46585 7.57136C1.59636 7.57136 0.890625 8.30253 0.890625 9.20457V15.5904C0.890625 16.4924 1.59636 17.2276 2.46585 17.2276C3.34313 17.2276 4.04496 16.4924 4.04496 15.5904V9.20457C4.04496 8.30253 3.34313 7.57136 2.46585 7.57136ZM4.40093 19.286C4.40093 19.9814 4.9546 20.5417 5.63304 20.5417H7.04059V24.0982C7.04059 25.0003 7.75023 25.7314 8.61971 25.7314C9.4931 25.7314 10.1988 25.0003 10.1988 24.0982V20.5417H12.6552V24.0982C12.6552 25.0003 13.3648 25.7314 14.2343 25.7314C15.1077 25.7314 15.8134 25.0003 15.8134 24.0982V20.5417H17.221C17.8994 20.5417 18.4531 19.9854 18.4531 19.29V7.61904H4.40093V19.286ZM18.418 7.29914H4.36974C4.553 5.12549 5.99956 3.26974 8.06605 2.2922L6.76765 0.3689C6.68967 0.257635 6.70918 0.106632 6.80665 0.0351042C6.90803 -0.0324497 7.05229 -0.000659535 7.13417 0.114579L8.47934 2.10941C9.36833 1.75177 10.3548 1.55308 11.3958 1.55308C12.4369 1.55308 13.4194 1.75177 14.3123 2.10941L15.6575 0.114579C15.7394 -0.000659535 15.8836 -0.0324497 15.985 0.0351042C16.0825 0.106632 16.102 0.257635 16.024 0.3689L14.7256 2.2922C16.7882 3.26974 18.2387 5.12549 18.418 7.29914ZM9.21235 4.52148C9.21235 4.08437 8.86144 3.73467 8.43255 3.73467C8.00365 3.73467 7.65274 4.08834 7.65274 4.52148C7.65274 4.96257 8.00365 5.31623 8.43255 5.31623C8.86144 5.31623 9.21235 4.96257 9.21235 4.52148ZM15.2325 4.52148C15.2325 4.08437 14.8855 3.73467 14.4566 3.73467C14.0277 3.73467 13.6807 4.08834 13.6807 4.52148C13.6807 4.96257 14.0277 5.31623 14.4566 5.31623C14.8855 5.31623 15.2325 4.96257 15.2325 4.52148Z"/>
						</svg>
							</span>
						<span class="chip-tabs__item-text">
                            Both
                        </span>
						</span>
                    </label>
                </div>
            </div>
            <div class="chips calculator__chips calculator__chips_features" style="display: none">
                <div class="chips__title">{{ '__order.page.select'|trans }}</div>
                <div class="chips__list">

                </div>
            </div>
        </div>
        <div class="calculator__right calculator__popup" style="display: none">
            <div class="calc-card">
                <div class="calc-card__top">
                    <div class="calc-card__title calc-card__title--top">{{ '__order.page.form_title'|trans }}</div>
                    <div class="calc-card__toggle-icon">
                        <svg width="31" height="11" viewBox="0 0 31 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5" d="M2 1.5L15.5 9.5L29 1.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="calc-card__total">
                        $ <span class="calc-card__value-total">0</span>
                    </div>
                </div>
                <ul class="calc-card__list">
                    <li class="calc-card__item">
                        <div class="calc-card__label">Backend Development</div>
                        <div class="calc-card__value">
                            $ <span class="calc-card__value-be">0</span>
                        </div>
                    </li>

                    <li class="calc-card__item">
                        <div class="calc-card__label">Interface Design</div>
                        <div class="calc-card__value">
                            $ <span class="calc-card__value-design">0</span>
                        </div>
                    </li>

                    <li class="calc-card__item">
                        <div class="calc-card__label">Mobile</div>
                        <div class="calc-card__value">
                            $ <span class="calc-card__value-mobile">0</span>
                        </div>
                    </li>

                    <li class="calc-card__item">
                        <div class="calc-card__label">Quality Assurance</div>
                        <div class="calc-card__value">
                            $ <span class="calc-card__value-qa">0</span>
                        </div>
                    </li>
                    <li class="calc-card__item">
                        <div class="calc-card__label">Project Management</div>
                        <div class="calc-card__value">
                            $ <span class="calc-card__value-pm">0</span>
                        </div>
                    </li>
                </ul>
                <form action="#" class="calculator__form" id="calc_form" data-url="{{ path('send_order', {'type' : type}) }}">
                    <div class="calc-card__title">{{ '__order.page.form_detailed'|trans }}</div>
                    <input type="email" class="calc-card__input" placeholder="Your E-mail" required>
                    <button class="btn btn--dark calc-card__btn">{{ '__order.page.form_send'|trans }}</button>
                    <p class="calculator__form-success" style="display: none">{{ '__order.page.form_pdf_send_info'|trans|raw }}</p>
                </form>
            </div>
        </div>
    </div>
    <div class="calculator__container">
        <p class="calculator__hint">{{ '__order.page.footer'|trans }}</p>
    </div>

</div>