{% if categories %}
    <div class="accordion">
        {% for category in categories %}
            {% if category.projects.count %}
                <!--accordion block-->
                <h2>
                    {{ category.name }}
                </h2>

                <div class="service">
                    <p>
                        {{ category.description }}
                    </p>

                    <!--carousel-->
                    <div class="carousel">

                        <div class="btnPrev" title="{% trans %}Назад{% endtrans %}"></div>

                        <div class="carousel-wrapper">
                            <ul>
                                {% for project in category.projects %}
                                    {% if project.onFrontPage %}
                                        <li>
                                            <a href="{{ path('portfolio_project_view', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                                                <span>
                                                    <img class="project-thumb" width="240" height="198"
                                                        src="/uploads/portfolio/projects/{{ project.image }}"
                                                        alt="{{ project.name }}" title="{{ project.name }}" />
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="btnNext" title="{% trans %}Вперед{% endtrans %}"></div>
                    </div>
                    <!--/carousel-->

                    {% if category.projects.count > 3 %}
                        <a href="{{ path('portfolio_category_view', {'slug': category.slug}) }}" class="all-projects">
                            {% trans %}Посмотреть все работы{% endtrans %}
                        </a>
                    {% endif %}
                </div>
                <!--/accordion block-->
            {% endif %}
        {% endfor %}
    </div>
{% endif %}