{% form_theme form '@ApplicationDefault/Form/fields.html.twig' %}

<form action="" method="post" id="direct-order-form" enctype="multipart/form-data">
    <h3>{{ "Заявка на сотрудничество" | trans() }}</h3>
    {{ form_errors(form) }}
    <div class="line">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="line">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="line">
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
    <div class="line">
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>
    <div class="line btn-line">
        <div class="file-input">
            <p class="filename">{{ "Прикрепить файл" | trans() }}</p>
            <p class="filesize">{{ "до 20 МБ" | trans() }}</p>
            {{ form_widget(form.attach) }}
            {{ form_errors(form.attach) }}
        </div>
        <div class="google-captcha contact-captcha">
            {{ form_widget(form.captcha) }}
            {{ form_errors(form.captcha) }}
        </div>
        <button id="contact-submit" class="btn" onclick="RegSubmit(event)" >{{ "Отправить" | trans() }}</button>
    </div>
    {{ form_rest(form) }}
</form>
<script>
    var submitHireForm = function (token) {
        var form = $('#direct-order-form');
        form.submit();
    };

    function RegSubmit(e) {
        e.preventDefault();
        var form = $('#direct-order-form');
        if (form.valid()) {
            grecaptcha.execute();
        }
    }
</script>