{% form_theme form '@ApplicationDefault/Form/fields.html.twig' %}

<form action="" method="post" id="direct-order-form" enctype="multipart/form-data">
    <h2 class="promo-title">{{ "Свяжитесь с нами и получите бесплатную консультацию по проекту" | trans() }}</h2>
    {{ form_errors(form) }}
    <div class="line">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="line">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="line">
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
    <div class="line">
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>
    <div class="line">
        <section class="range-slider">
            <div class="range-slider__counter">
                <p class="range-slider__text">{{ 'text.budget'|trans }} <span id="range-slider-text"></span></p>
            </div>
            <div class="range-slider__content">
                <div id="range-slider"></div>
                <ul>
                    <li data-text="" style="opacity: 0;"></li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '10 000'}) }}">10K</li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '20 000'}) }}">20K</li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '50 000'}) }}">50K</li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '100 000'}) }}">100K</li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '150 000'}) }}">150K</li>
                    <li data-text="{{ 'text.up_to'|trans({'%sum%' : '200 000'}) }}">200K</li>
                </ul>
            </div>
        </section>
        {{ form_widget(form.budget) }}
        {{ form_errors(form.budget) }}
    </div>
    <div class="line btn-line">
        <button id="contact-submit" class="btn btn--blue" onclick="RegSubmit(event)" >{{ "Отправить" | trans() }}</button>
        <div class="google-captcha contact-captcha">
            {{ form_widget(form.captcha) }}
            {{ form_errors(form.captcha) }}
        </div>
    </div>
    {{ form_rest(form) }}
</form>
<script>
    var env = '{{ app.environment }}';

    $(document).ready(function () {
        $('#range-slider-text').on('change', function () {
           $('#direct_order_budget').val($(this).html());
        });
    });

    var submitHireForm = function (token) {
        var form = $('#direct-order-form');
        if ('prod' === env) {
            dataLayer.push({'event': 'submit_direct_order_form'});
        }
        form.submit();
    };

    function RegSubmit(e) {
        e.preventDefault();
        var form = $('#direct-order-form');
        if (form.valid()) {
            grecaptcha.execute();
        }
    }
</script>