<section>
    <h2 class="hidden">Список проектов</h2>
    <ul class="projects">
        {% for project in projects %}
            <li>
                <a href="{{ path('portfolio_project_view', { 'categorySlug': project.categories[0].slug, 'projectSlug': project.slug }) }}">
                    {% if project.image %}
                        <img src="{{ vich_uploader_asset(project, 'imageFile') | apply_filter('project_thumb') }}" alt="{{ project.name }}" title="{{ project.name }}" />
                    {% endif %}
                    <h3>{{ project.name }}</h3>
                </a>
                <p>{{ project.tags }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
<a class="show-all-projects" href="{{ path('portfolio_all_projects') }}">Все проекты</a>
