<section>
    <h2 class="hidden">Список проектов</h2>
    <ul class="projects">
        {% if categories %}
            {% for category in categories %}
                {% if category.projects.count %}
                    {% for project in category.projects %}
                        {% if project.onFrontPage %}
                            <li>
                                <a href="{{ path('portfolio_project_view', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                                    <img src="/uploads/portfolio/projects/{{ project.image }}" alt="{{ project.name }}" title="{{ project.name }}" />
                                    <h3>{{ project.name }}</h3>
                                </a>
                                <p>логотип, дизайн сайта, верстка, программирование, на основе движка OpenCart</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</section>
<a class="show-all-projects" href="#">Все проекты</a>
