<section class="blog-posts">

    {% if app.request.locale != 'de' %}
        <h3>{{ 'Свежее из блога'|trans }} <a href="{{ path('blog_rss') }}" target="_blank"><i
                        class="icon icon-share"></i></a></h3>
        {% render controller("StfalconBlogBundle:Post:last", { 'locale': app.request.locale, 'count': 3 }) %}
    {% else %}
        <h3></h3>
    {% endif %}
</section>
<section class="contacts">
    <h3>{{ 'На связи'|trans }}</h3>
    <ul class="address-list">
        <li>
            <span>{{ 'Позвонить'|trans }}:</span>
            <abbr title="{{ "+380 96 057-81-61" | trans() }}" class="tel">{{ "+380 96 057-81-61" | trans() }}</abbr>
        </li>
        <li>
            <span>{{ 'Написать'|trans }}:</span>
            <a class="email" href="mailto:info@stfalcon.com">info@stfalcon.com</a>
        </li>
        <li>
            <span>{{ 'Зайти в гости'|trans }}</span>
                    <span class="adr">
                        <span class="street-address">{{ 'ул. Заречанская 3/2'|trans }},</span>
                        <span class="locality">{{ 'Хмельницкий'|trans }},</span>
                        <span class="country-name">{{ 'Украина'|trans }}</span>
                    </span>
        </li>
    </ul>
</section>
<section class="link-cnt">
    <ul class="socials">
        <li><a href="https://www.facebook.com/stfalconcom" class="icon icon-facebook" target="_blank"></a></li>
        <li><a href="https://twitter.com/stfalcon" class="icon icon-twitter" target="_blank"></a></li>
        <li><a href="https://github.com/stfalcon-studio" class="icon icon-github" target="_blank"></a></li>
    </ul>
    <div class="copyright">&copy; 2009–{{ "now"|date("Y") }},
        <span class="category">{{ 'веб-студия'|trans }}</span>
        <a href="http://stfalcon.com" title="stfalcon" class="fn org">stfalcon.com</a>
    </div>
    <ul class="footer-links">
        <li><a href="{{ path('privacy_policy_page') }}">Privacy Policy</a></li>
        <li><a href="{{ path('terms_of_service_page') }}">Terms &amp; Conditions</a></li>
    </ul>
</section>