{% extends '@ApplicationDefault/Default/_landing_header.html.twig' %}
{% block header_content %}
    <h1 class="header-title">&laquo;{{ 'Хамелеон'|trans }}&raquo; {{ 'вашего бизнеса:'|trans }}<br> &nbsp;{{ 'адаптивный дизайн сайта'|trans }}</h1>
    <p>{{ 'Какая разница, каким именно устройством вы пользуетесь, если адаптивный дизайн сайта полностью нивелировал эту проблему?'|trans }}</p>
    <div class="link_more">
        <a href="#scroll">{{ 'Подробнее'|trans }} <div class="circle_link"></div></a>
    </div>
{% endblock header_content %}
