{% extends 'base.html.twig' %}

{% block title %}{{ main_title }}{% endblock %}

{% block body %}
<div>
<section class="page-wrapper home-page">
    {% include '::_header.html.twig' %}

    {% include '@ApplicationDefault/Default/_calculator.html.twig' %}

    <footer class="footer">
        {{ include('_footer.html.twig') }}
    </footer>
</section>
</div>
{{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': 'main_page' })) }}
{% endblock body %}

{% block javascripts -%}
    {{ parent() }}

    {% javascripts
        'assets/js/libs/sly.js'
        'assets/js/homepage.js'
        'assets/js/homepage-bg.js'
        'js/jquery.validate.min.js'
        'js/widgets.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('js/calculator.js') }}"></script>
{% endblock %}
