<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'Веб-студия'|trans }} stfalcon.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1"/>
</head>
    <body>
        <header class="header white">
            {% include '::_header_index.html.twig' %}
        </header>
        <article class="page-wrapper project-case">
            <div class="row case-header">
                <div class="col col-1"></div>
                <div class="col col-4">
                    <h1>MeinFernbus</h1>
                    <a href="#" class="project-link">www.meinfernbus.de</a>
                </div>
                <div class="col col-6 description-row"><p>Крупнейшая компания специализируется на пассажирских перевозках в Германии и Европе.</p></div>
                <div class="col col-1"></div>
            </div>
            <div class="row  case-header">
                <div class="col col-1"></div>
                <div class="col col-4">
                    <ul class="tags">
                        <li><a href="#">Проектирование</a></li>
                        <li><a href="#">Дизайн сайта</a></li>
                        <li><a href="#">Разработка backend</a></li>
                        <li><a href="#">Разработка backend</a></li>
                    </ul>
                </div>
                <div class="col col-6">
                    <h2 class="no-top-margin">О проекте</h2>
                    <p>Мы принимали участие в улучшении дизайна старого сайта, меняя отдельные блоки и части. При этом вся стилистика, цвета, шрифты тянулись еще с первой версии. И нас и клиента стало многое не устраивать в текущем дизайне и было решено разработать новый дизайн, заложить новую стилистику, описаную в брендбуке компании.</p>
                    <h2>Дизайн сайта</h2>
                    <p>Мы принимали участие в улучшении дизайна старого сайта, меняя отдельные блоки и части. При этом вся стилистика, цвета, шрифты тянулись еще с первой версии. И нас и клиента стало многое не устраивать в текущем дизайне и было решено разработать новый дизайн, заложить новую стилистику, описаную в брендбуке компании.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row  img-row">
                <div class="col col-4"><img src="{{ asset('assets/img/case/mfb/old1.jpg') }}" alt=""/></div>
                <div class="col col-4"><img src="{{ asset('assets/img/case/mfb/old2.jpg') }}" alt=""/></div>
                <div class="col col-4"><img src="{{ asset('assets/img/case/mfb/old3.jpg') }}" alt=""/></div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <h2>Новый дизайн сайта</h2>
                    <p>Новая версия дизайна сайта была разработана с учетом всех пожеланий клиента, а также выявлением слабых мест в старом дизайне, которые можно было бы улучшить, сделав более масштабные изменения расположения, цветов и шрифтов.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/new-big.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <span></span>
                    <p>Главная страница сделана в корпоративном стиле компании. Плоские формы, острые углы, преобладание зеленого цвета и акценты в оранжевом цвете. Главный элемент страницы — форма поиска — максимально выделяется на зеленом фоне, а оранжевая кнопка четко указывает на главное действие.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row bg-white">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/new-colors.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>В предыдущем дизайне использовались цвета, которые были взяты из полиграфических исходников дизайна. Они выглядели блекло и не соответствовали характеру, который был присущ бренду. Мы улучшили цвета, подтянули яркость, сделав общий тон более схожим с печатной продукцией, вместе с этим достаточ      о контрастный для отображения на мониторах.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row bg-white">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/new-fonts.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>Основной шрифт для сайта был выбран PT Sans. Отличный читаемый шрифт хорошо выглядит и в немецком и в английском языке. Ужатый вариант шрифта мы ипользовали на кнопках, так как подписи для кнопок достаточно длинные, а места на кнопке мало.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/two-columns.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>Результаты поиска мы решили отображать в две колонки. Таким образом человек сразу видел варианты «туда» и «обратно». В старой версии результаты для дороги назад отображались под колонкой «туда». Новый подход также хорошо сочитался с выбором станции в городе.
                        Еще мы добавили интересную деталь. В процессе покупки двигаясь шаг за шагом мы визуально отобразили движение маленького автобуса к конечной цели.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/new-cart.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>Блок корзины практически не изменился. Единственное, что мы улучшили — поле для ввода кода ваучера. Раньше у пользователя возникали трудности при поиске места, где указывать код ваучера. Мы скрыли поле, а вместо него показали экшн-ссылку, которая подталкивает пользователя к нажатию, если он хочет воспользоваться ваучером.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/page-info.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>Страницу информации о пассажирах мы перекомпоновали, визуализировали результаты валидации данных.</p>
                    <h2>Адаптивный дизайн</h2>
                    <p>На примере главной мы спроектировали адаптацию страницы под разные экраны. Как показывала статистика, большинстов мобильных пользователей — это пользователи iOS, потому мы ориентировались, в первую очередь, на эти устройства.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/responsive.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-1"></div>
                <div class="col col-3">
                </div>
                <div class="col col-1"></div>
                <div class="col col-6">
                    <h2>Схема линий маршрутов</h2>
                    <div class="col col-3 outside-image offset-left-1">
                        <img style="margin-top: 102px;" src="{{ asset('assets/img/case/mfb/scheme1.jpg') }}" alt=""/>
                    </div>
                    <p>Компания MeinFernbus начинала с одной линии маршрута между Фрайбургом и Мюнхеном. Тогда мы впервые визуализировали маршрут автобусов по этой линии. Компания постоянно развивалась, увеличивала количество маршрутов и линий. Потому и схема постоянно развивалась и улучшалась. </p>
                    <p>Мы вдохновлялись известными схемами метро Лондона, Нью-Йорка, Сиднея и других. Но в отличии от схемы метро, в схеме линий автобусов необходима была гео-привязка. Потому схема была менее сбалансирована и требовала постоянной оптимизации с ростом количества линий.</p>
                    <p>Схема пережила три основных пеработки и оптимизации.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/scheme2.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <p>Когда у компании появились ночные маршруты, мы сделали отдельную темную версию с указанием только ночных линий маршрутов.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/scheme3.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-5"></div>
                <div class="col col-6">
                    <h2>Ремайндеры</h2>
                    <p>Изначально концепция компании была в том, что человеку нет необходимости иметь при себе билет или что-то в этом роде. Он мог просто показать паспорт при посадке в автобус. Это вызывало нагрузку на водителей и скорость посадки была достаточно медленой. Было решено сделать некое подобие билета-ремайндера с данными пассажира, информацией о поездке, а также QR кодом. Код считывался намного быстрее, чем ручной поиск имени и фамили в списке пассажиров.</p>
                    <p>Для дизайнера была задача скомпоновать макет ремайндера максимально удобно для использования перед поездкой, во время посадки и во время поездки. Ремайндер распечатывался размером А4. Также его можно было загрузить в электронном виде на смартфонах или планшетах в формате PDF.</p>
                    <p>Пассажири обычно складывали эти листы, чтоб было удобно положить в карман или сумку. Потому мы учли сложенный вид ремайндера при компоновке. Мы протестировали основные варианты складывания ремайндера и расположили информацию так, чтоб человеку не обьязательно было его раскладывать.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/scheme4.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="row" style="position: relative;">
                <div class="col col-2"></div>
                <div class="col col-3 align-center">
                </div>
                <div class="col col-6">
                    <h2>Разработка программной части</h2>
                    <div class="col col-3 outside-image offset-left-2">
                        <img style="margin-top: 95px;" src="{{ asset('assets/img/case/mfb/time.png') }}" alt=""/>
                    </div>
                    <p>Мы разрабатывали проект на фреймворке Symfony2. Мы начинали с использования самой первой версии и по мере развития фреймворка, развивался и наш проект. Благодаря качественной архитектуре самого фреймворка, наличию огромного количества готовых компонентов, мы не тратили много времени на решение стандартных, рутинных задач, а большинство времени занимались только бизнес-логикой. В результате у нас получилась довольно мощная и удобная система управления транспортной компанией.</p>
                    <p>Мы разделили систему на отдельные составляющие: сайт продаж (frontend), система управления компанией (backend) и API, таким образом разнесли возможную нагрузку.</p>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="{{ asset('assets/img/case/mfb/back-end.png') }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col col-2"></div>
                <div class="col col-3">
                    <h3>Интересный случай произошел осенью 2014</h3>
                    <p class="small">Интересный случай произошел осенью 2014 года, когда сотрудники крупнейшего немецкого перевозчика Deutsche Bahn бастовали несколько дней, из-за чего остановились перевозки по железной дороге. Тогда люди массово пересели на автобусы. Cайт MeinFernbus, благодаря качественной архитектуре, выдержал и получил львиную долю клиентов, что конвертировалось в огромную прибыль. В то время как сайты конкурентов не выдерживали больших наплывов посетителей и прекращали работу. </p>
                </div>
                <div class="col col-6 text">
                    <p>Сайт продаж (frontend) — это основной сайт, через который совершается продажа билетов, он полностью работает через API, но также имеет свою небольшую CMS, для настройки внешнего вида. Сердцем системы является API, через который проходят все бизнес-процессы. Он рассчитан не только на внутренние коммуникации между сервисами и мобильными приложениями, но и доступен снаружи для партнеров и агентств. Система управления компанией (backend) — огромная часть проекта, где происходит все управление транспортной компанией. Ключевые компоненты бэкенда:</p>
                    <ul>
                        <li>Система планирования поездок, с возможностью создавать пересадки между линиями</li>
                        <li>Мощная система отчетов (транспортных, финансовых, системных)</li>
                        <li>Визуализация данных с помощью графиков</li>
                        <li>Визуализация данных с помощью графиков</li>
                        <li>Система оповещения пассажиров по электронной почте или через СМС</li>
                        <li>Управление агентствами, партнерами</li>
                        <li>Мониторинг движения автобусов на карте в живом режиме</li>
                    </ul>
                    <p>Над проектом мы работали совместно с немецкой командой разработчиков. Дважды они приглашали нас в Берлин для обмена опытом и обсуждения деталей развития проекта. Очень приятно было видеть как разработанная система работает в живую.</p>
                    <img src="{{ asset('assets/img/case/mfb/team.jpg') }}" alt=""/>
                </div>
                <div class="col col-1"></div>
            </div>
            <div class="row worked-on-project">
                <h2>Над проектом работали</h2>
                <ul class="team-list  team-list-small">
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Системный администратор</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                    <li>
                        <img src="http://stfalcon.com/media/cache/avatar_small/uploads/avatar/54ddd4a923d71.png" alt="Олег Уласюк">
                        <span>Олег Уласюк</span>
                        <p>Дизайнер</p>
                    </li>
                </ul>
            </div>
            <div class="row similar-projects">
                    <h2>Смотрите также</h2>
                    <ul class="projects">
                        <li>
                            <a href="/portfolio/web-development/naberezhny-kvartal-crm">
                                <img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f702bc2dbaa.png"
                                     alt="CRM для проекта «Набережный квартал»">

                                <h3>CRM для проекта «Набережный квартал»</h3>
                            </a>

                            <p>дизайн интерфейса, программирование, верстка</p>
                        </li>
                        <li>
                            <a href="/portfolio/web-design/truesocialmetrics-com">
                                <img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f8379ee155b.png"
                                     alt="TrueSocialMetrics.com">

                                <h3>TrueSocialMetrics.com</h3>
                            </a>

                            <p>дизайн опыта взаимодействия</p>
                        </li>
                        <li>
                            <a href="/portfolio/mobile-development/patrolife-ru-android">
                                <img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/54f817a96e5e6.png"
                                     alt="Приложение Patrolife для Android">

                                <h3>Приложение Patrolife для Android</h3>
                            </a>

                            <p>программирование</p>
                        </li>
                        <li>
                            <a href="/portfolio/web-design/meinfernbus-ios">
                                <img src="http://stfalcon.com/media/cache/project_thumb/uploads/portfolio/projects/53a40369e3a80.png"
                                     alt="Приложение MeinFernbus для iOS">

                                <h3>Приложение MeinFernbus для iOS</h3>
                            </a>

                            <p>дизайн интерфейса и иконки</p>
                        </li>
                    </ul>
            </div>
        </article>
    <footer class="footer">
        {% include '::_footer.html.twig' %}
    </footer>
    </body>
</html>