{% extends '::layout.html.twig' %}

{% block title %}{{ 'Контактная информация'|trans }} / {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <section class="contacts-wrapper">
        <h1>
            {{ 'Контактная информация'|trans }}
        </h1>

        <div class="clearfix">
            <div class="contacts-inf">
                <div class="info-group">
                    <span>{{ "Позвонить" | trans() }}:</span>
                    <a href="tel:+380 97 874-03-42"><b>+380 97 874-03-42</b></a>
                </div>
                <div class="info-group">
                    <span>{{ "Написать" | trans() }}:</span>
                    <a href="mailto:info@stfalcon.com"><b>info@stfalcon.com</b></a>
                </div>
                <div class="info-group">
                    <span>{{ "Зайти в гости" | trans() }}:</span>
                    <b>{{ "ул. Заречанская 3/2" | trans() }}, <br> {{ "Хмельницкий" | trans() }}, {{ "Украина" | trans() }}, 29000</b>
                </div>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/stfalconcom" target="_blank"><span class="icon icon-facebook"></span> <span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/stfalcon" target="_blank"><span class="icon icon-twitter"></span> <span>Twitter</span></a></li>
                    <li><a href="https://github.com/stfalcon-studio" target="_blank"><span class="icon icon-github"></span> <span>GitHub</span></a></li>
                </ul>
            </div>
            <div class="contacts-form-wr">
                {% include '@ApplicationDefault/Default/_direct_order_form.html.twig' %}
            </div>
        </div>
    </section>
    <!--google map-->
    <div class="map-wrapper">
        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ua/maps/ms?ie=UTF8&amp;hl={{ app.request.locale }}&amp;msa=0&amp;msid=206670551419898039551.00049e630c18ed6cc61ad&amp;ll=49.433578,27.000209&amp;spn=75.865986,149.414063&amp;z=17&amp;output=embed"></iframe>
    </div>
    <!--/google map-->
{% endblock %}
