{% extends '::layout.html.twig' %}

{% block content_wrapper %}
    <section class="teaser">
        <h1>{{ 'Дизайн сайтов, мобильные приложения и веб-разработка'|trans }}</h1>
        <p>{{ 'Мы не просто рисуем красивые картинки. Мы проектируем и разрабатываем сложные сайты.'|trans }}</p>
    </section>
    <section class="promo-banner" style="background-color: #56aa1c;">
        <div class="promo-banner-wrapper">
            <div class="img-wrapper"> <!--use class-->
                <a href="{{ path('portfolio_project_view', {'categorySlug': 'mobile-development', 'projectSlug': 'meinfernbus-android'}) }}"><img src="{{ asset('img/mfb.png') }}" alt=""/></a>
            </div>
            <aside>
                <h2><a href="{{ path('portfolio_project_view', {'categorySlug': 'mobile-development', 'projectSlug': 'meinfernbus-android'}) }}">{{ 'Android приложение MeinFernbus'|trans }}</a></h2>
                <p>{{ 'Мобильное приложение для крупнейшего пассажирского перевозчика в Германии.'|trans }}</p>
                <a class="more" href="{{ path('portfolio_project_view', {'categorySlug': 'mobile-development', 'projectSlug': 'meinfernbus-android'}) }}">{{ 'подробно о проекте'|trans }}</a>
            </aside>
        </div>
    </section>
    <p class="slogan">{{ '«Первое впечатление — визуальная эстетика. Второе — удобство повторения действий.»'|trans }}</p>
    <div id="content-index">
        {% include 'ApplicationDefaultBundle:Default:_portfolio_items_list.html.twig'
                with {'projects': projects} %}
    </div>
{% endblock %}
