{% extends 'base.html.twig' %}

{% block body %}
<div id="bg-wrapper">
<section class="page-wrapper home-page">
    <header class="header header--after header--fixed">
        <video class="header__video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
            <source src="{{ asset('uploads/video/STFalconCR1.mp4') }}">
        </video>
        {% include '::_header_index.html.twig' %}
        <div class="header__text">
            <h1 class="header__title">{{ 'We Code Your Ideas'|trans }}</h1>
            <p class="header__sub-title">
                {{ 'Разработка Web, iOS и Android приложения с нуля'|trans }}
            </p>
            <button id="hire_us-js" type="button" class="hire_us_main button home-btn home-btn--blue header__btn" onclick="ga('send', 'event', 'order_project', 'click');fbq('trackCustom', 'order_project');">{{ 'Заказать проект'|trans }}</button>
        </div>
    </header>
    <section class="solutions">
        <h2 class="promo-title promo-title--bold solutions__title">{{ 'main.promo.title2'|trans }}</h2>
        <ul class="solutions__list">
            <li class="solutions__item">
                <img src="{{ asset('img/solutions_logistics.svg') }}" alt="" class="solutions__icon">
                <div class="solutions__name">{{ 'main.promo.title2_1'|trans }}</div>
                <div class="solutions__text">{{ 'main.promo.title2_1.desc'|trans }}</div>
            </li>
            <li class="solutions__item">
                <img src="{{ asset('img/solutions_travel.svg') }}" alt="" class="solutions__icon">
                <div class="solutions__name">{{ 'main.promo.title2_2'|trans }}</div>
                <div class="solutions__text">{{ 'main.promo.title2_2.desc'|trans }}</div>
            </li>
            <li class="solutions__item">
                <img src="{{ asset('img/solutions_booking.svg') }}" alt="" class="solutions__icon">
                <div class="solutions__name">{{ 'main.promo.title2_3'|trans }}</div>
                <div class="solutions__text">{{ 'main.promo.title2_3.desc'|trans }}</div>
            </li>
            <li class="solutions__item">
                <img src="{{ asset('img/solutions_ondemand.svg') }}" alt="" class="solutions__icon">
                <div class="solutions__name">{{ 'main.promo.title2_4'|trans }}</div>
                <div class="solutions__text">{{ 'main.promo.title2_4.desc'|trans }}</div>
            </li>
        </ul>
        <button type="button" class="hire_us_main solutions__btn home-btn home-btn--white">{{ 'main.btn.title2_4'|trans }}</button>
    </section>
    <section data-bg="#2C373C" class="achievements bg-item">
        <h2 class="promo-title promo-title--bold achievements__title">{{ 'main.promo.title1'|trans }}</h2>
        <p class="achievements__text">{{ 'main.promo.title1.desc'|trans }}</p>
        <a href="https://clutch.co/profile/stfalcon" target="_blank">
            <img class="achievements__img" src="{{ asset('img/clutch_logo.png') }}" alt="">
        </a>
    </section>
    <section class="trusted">
        <h2 class="promo-title promo-title--bold trusted__title">{{ 'main.promo.title3'|trans }}</h2>
        <ul class="trusted__list">
            <li class="trusted__item">
                <img src="{{ asset('img/trusted_np.svg') }}" alt="" class="trusted__img">
            </li>
            <li class="trusted__item">
                <img src="{{ asset('img/trusted_nic.svg') }}" alt="" class="trusted__img">
            </li>
            <li class="trusted__item">
                <img src="{{ asset('img/trusted_ks.svg') }}" alt="" class="trusted__img">
            </li>
            <li class="trusted__item">
                <img src="{{ asset('img/trusted_busfor.svg') }}" alt="" class="trusted__img">
            </li>
            <li class="trusted__item">
                <img src="{{ asset('img/trusted_mfb.svg') }}" alt="" class="trusted__img">
            </li>
        </ul>
    </section>
    {% set add_class = ' project-item--left-text' %}
    <section class="projects-list">
        {% for project_review in reviews %}
            {% set project = project_review['project'] %}
            {% set review = project_review['review'] %}
            {% if review != null %}
                {% set reviewer = review.reviewer %}
            {% else %}
                {% set reviewer = null %}
            {% endif %}

            {% if add_class == ' project-item--left-text' %}
                {% set add_class = '' %}
            {% else %}
                {% set add_class = ' project-item--left-text' %}
            {% endif %}

            {% if project.useDarkTextColor is defined and project.useDarkTextColor == true %}
                {% set text_color_class = 'project-item--dark-text' %}
            {% else %}
                {% set text_color_class = 'project-item--white-text' %}
            {% endif %}

            <article data-bg="{{ project.backgroundColor }}" class="project-item{{ add_class }} {{ text_color_class }} bg-item{% if loop.last %} bg-item--last{% endif %}">
            {% if add_class == '' %}
                {% include '@ApplicationDefault/Default/_project_image.html.twig' with {'project':project} %}
                {% include '@ApplicationDefault/Default/_project_comment.html.twig' with {'project':project, 'review' : review, 'reviewer':reviewer} %}
            {% else %}
                {% include '@ApplicationDefault/Default/_project_comment.html.twig' with {'project':project, 'review' : review, 'reviewer':reviewer} %}
                {% include '@ApplicationDefault/Default/_project_image.html.twig' with {'project':project} %}
            {% endif %}
            </article>
        {% endfor %}
    </section>

    <section class="open-source">
        <span data-bg="#FFFFFF" class="bg-item bg-item--abs"></span>
        <h2 class="promo-title">{{ "Участвуем в Open Source" | trans() }}</h2>
        <div class="tabs-cnt">
            <ul class="tabs-content">
                <li class="tab active">
                    <p>
                        {{ '__main.we_contribution_text'|trans({'%link%': 'http://symfony.com', '%github_link%':'https://github.com/stfalcon/', '%android_link%':url('blog_post_view', {'slug':'useful-Android-libraries-from-stfalcon-com'})})|raw }}
                    </p>
                </li>
            </ul>
        </div>
    </section>

    {#закоментовано до часу, поки не будуть готові тексти для сервісів#}
    {#<section class="our-services">#}
        {#<span data-bg="#FFFFFF" class="bg-item bg-item--abs"></span>#}
        {#<h2 class="promo-title our-services__title">{{ 'main.promo.title4'|trans }}</h2>#}
        {#<ul class="services-list">#}
            {#{% for i in 1..9 %}#}
                {#{% include "@StfalconPortfolio/Category/_service_block.html.twig" with {'index' : i} %}#}
            {#{% endfor %}#}
        {#</ul>#}
        {#<button type="button" class="hire_us_main our-services__btn home-btn home-btn--grey">{{ 'Работать с нами!'|trans }}</button>#}
    {#</section>#}

    <section class="side-projects">
        <h2 class="promo-title side-projects__title">{{ 'main.promo.title5'|trans }}</h2>
        <div class="side-projects__list">
            <div class="side-projects__item side-projects__item--fwdays">
                <img src="{{ asset('img/fwdays.svg') }}" alt="" class="side-projects__logo">
                <div class="side-projects__text">{{ 'main.promo.title5_1.desc'|trans }}</div>
                <a class="arrow-button" href="https://frameworksdays.com/" rel="nofollow" target="_blank"></a>
            </div>
            <div class="side-projects__item side-projects__item--cnc">
                <img src="{{ asset('img/cnc.svg') }}" alt="" class="side-projects__logo">
                <div class="side-projects__text">{{ 'main.promo.title5_2.desc'|trans }}</div>
                <a class="arrow-button" href="http://kmcnc.stfalcon.com//" rel="nofollow" target="_blank"></a>
            </div>
            <div class="side-projects__item side-projects__item--academy">
                <img src="{{ asset('img/academy_' ~ app.request.locale ~ '.svg') }}" alt="" class="side-projects__logo">
                <div class="side-projects__text">{{ 'main.promo.title5_3.desc'|trans }}</div>
                <a class="arrow-button" href="http://academy.stfalcon.com/" rel="nofollow" target="_blank"></a>
            </div>
        </div>
    </section>
    <section class="blog">
        <h2 class="blog__title">
            <a href="{{ path('blog') }}" class="promo-title">{{ "Обновления в нашем блоге" | trans() }}</a>
            <a href="{{ path('blog_rss') }}" target="_blank"><i class="icon icon-rss"></i></a>
        </h2>
        {% include "@StfalconBlog/Post/_posts_main.html.twig" with {'posts' : posts} %}
        {{ render(controller('ApplicationDefaultBundle:Widgets:subscribeWidget', {'category': 'blog'})) }}
    </section>
    <section class="details-info">
        <h1>{{ "Stfalcon LLC &mdash; разработки сайтов и мобильных приложений" | trans()|raw }}</h1>
        <h3>{{ "Есть ли смысл дальше изучать наш сайт? <br/> да, если:" | trans() | raw }}</h3>
        <div class="more-detail-wrap">
            <ul class="more-detail">
                <li>{{ "Вы ищите компанию для разработки сайтов, приложений с нуля или хотите заказать экспертный консалтинг/аудит в данной сфере и, при этом, получить результат, к которому не возникнет вопросов." | trans() }}</li>
                <li>{{ "Вам нужны нестандартные решения, выходящие за рамки шаблонов, которые предлагает рынок." | trans() }}</li>
                <li>{{ "У Вас есть мечта, за воплощение которой другие боятся браться (мы оценим стоящие идеи и во что бы то ни стало реализуем)." | trans() }}</li>
                <li>{{ "Для реализации Вашей идеи требуются высоконагруженные системы." | trans() }}</li>
            </ul>
        </div>
        <div class="hidden-content hidden">
            <h3>{{ "Как именно мы решаем нестандартные задачи?" | trans() }}</h3>
            <div class="more-detail-wrap">
                <ul class="more-detail">
                    <li>{{ "Для создания сайтов на заказ наша компания использует самые передовые технологии (фреймворк Symfony и его компоненты,  Silex, MySQL, MongoDB, Sphinx, RabbitMQ, Ember.js, и др)." | trans() }}</li>
                    <li>{{ "Cоздаем нативные мобильные приложения (более производительные и стабильные, чем кросс-платформенные), используем самые популярные библиотеки (ORM, Robospice, Gson, UniversalImageLoader) и технологические решения." | trans() }}</li>
                    <li>{{ "Думаем наперед (чтобы вы могли легко анализировать, монетизировать и использовать продукт на полную катушку, а сторонним специалистам было удобно сопровождать его в дальнейшем)." | trans() }}</li>
                    <li>{{ "Любим свою работу (мы просто не беремся за проекты, к которым у нас не лежит душа и за успех которых мы искренне не болеем)." | trans() }}</li>
                </ul>
            </div>
            <h3>{{ "Чем докажем, что мы – лучшие?" | trans() }}</h3>
            <div class="more-detail-wrap">
                <ul class="more-detail">
                    <li>{{ "Более 100 успешных проектов;" | trans() }}</li>
                    <li>{{ "100% наших партнеров (именно так мы воспринимаем клиентов) остались довольны;" | trans() }}</li>
                    <li>{{ "У нас идеально отлажены коммуникации внутри команды, а это значит: <br/> а) проект будет выполнен в минимальные сроки; <br/> б) пока он дойдет до вас, мы уже найдем и исправим все «косяки»;" | trans() | raw }}</li>
                    <li>{{ "Мы имеем непосредственное отношение к развитию технологий (продвигаем фреймворк Symfony, создали множество полезных плагинов для LiveStreet, совершенствуем OpenCart CMS и сделали для нее шаблон Tecard, разработали шаблон Snowberry для Wordpress);" | trans() }}</li>
                    <li>{{ "Экспертному мнению компании Stfalcon LLC доверяют на рынке (на ивентах, которые мы организовываем, всегда аншлаг, а в блоге – сотни благодарных отзывов (почитайте)." | trans() }}</li>
                </ul>
            </div>
        </div>
        <a class="show-more-info">{{ "Подробнее" | trans() }}</a>
    </section>
    <footer class="footer">
        {{ include('_footer.html.twig') }}
    </footer>
</section>
</div>
{{ render(controller('ApplicationDefaultBundle:Widgets:hireUs')) }}
{% endblock body %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {{ parent() }}

    {% javascripts
        'assets/js/libs/sly.js'
        'assets/js/homepage.js'
        'assets/js/homepage-bg.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        jQuery.extend(jQuery.validator.messages, {
            required: "{{ 'Заполните это поле'|trans }}",
            email: "{{ 'Недопустимый адрес электронной почты'|trans }}",
            maxlength: jQuery.validator.format("{{ 'Максимальное количество символов {0}'|trans }}"),
            minlength: jQuery.validator.format("{{ 'Минимальное количество символов {0}'|trans }}"),
        });
    </script>
{% endblock %}