<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'Веб студия разработки сайтов, дизайна сайтов. Разработка мобильных приложений' | trans }}{% endblock %}</title>

    <meta property="og:title" content="{{ 'Веб студия разработки сайтов, дизайна сайтов. Разработка мобильных приложений' | trans }} | {{ 'Web cтудия Stfalcon.com'|trans }}" />
    <meta itemprop="name" content="{{ 'Веб студия разработки сайтов, дизайна сайтов. Разработка мобильных приложений' | trans }} | {{ 'Web cтудия Stfalcon.com'|trans }}" />

    <meta property="og:description" content="{{ 'Разработка и проектирование сложных сайтов на Symfony2, разработка мобильных приложений и игр. Продающий дизайн сайтов и интерфейсов. Консультации по тел.:+380 67 334-40-40'|trans }}" />
    <meta itemprop="description" content="{{ 'Разработка и проектирование сложных сайтов на Symfony2, разработка мобильных приложений и игр. Продающий дизайн сайтов и интерфейсов. Консультации по тел.:+380 67 334-40-40'|trans }}"/>
    <meta name="description" content="{{ 'Разработка и проектирование сложных сайтов на Symfony2, разработка мобильных приложений и игр. Продающий дизайн сайтов и интерфейсов. Консультации по тел.:+380 67 334-40-40'|trans }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1"/>

    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for stfalcon.com" href="{{ url('blog_rss') }}" />
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    {% if app.request.host == 'stfalcon.com' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-5635962-2', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter27048220 = new Ya.Metrika({id:27048220,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <!-- /Yandex.Metrika counter -->
        <!-- Facebook Conversion Code for заявка -->
        <script>(function() {
                var _fbq = window._fbq || (window._fbq = []);
                if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6020145370099', {'value':'0.00','currency':'USD'}]);
        </script>
    {% endif %}
</head>
<body>
<section class="page-wrapper home-page">
    <header class="header">
        {% include '::_header_index.html.twig' %}

        <h2 class="header-title">{{ "Решаем сложные задачи" | trans() }}</h2>
        <div class="project-tabs-wrap">
            <ul class="projects-tabs">
                <li>
                    <a href="#/development" data-category="development" class="">
                        <span class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill-rule="evenodd" clip-rule="evenodd" d="M38 7h-3V2c0-.545-.447-1-1-1H2c-.545 0-1 .447-1 1v32c0 .545.447 1 1 1h5v3c0 .545.447 1 1 1h30c.545 0 1-.447 1-1V8c0-.545-.447-1-1-1zM2.61 2.61h30.78L33.392 6H2.61V2.61zm0 30.796V7h30.782l.015 26.39-30.797.016zm6 4V35H34c.545 0 1-.447 1-1V8.61h2.39l.017 28.78-28.797.016zM4.5 4c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zm2 0c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zm2 0c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zm-1.006 7h12.013c.267 0 .493-.224.493-.5 0-.268-.22-.5-.494-.5H7.494c-.268 0-.494.224-.494.5 0 .268.22.5.494.5zm-.004 3h16.02c.275 0 .49-.224.49-.5 0-.268-.22-.5-.49-.5H7.49c-.275 0-.49.224-.49.5 0 .268.22.5.49.5zm21.002 2H10.508c-.28 0-.508.224-.508.5 0 .268.228.5.508.5h17.984c.28 0 .508-.224.508-.5 0-.268-.228-.5-.508-.5zm0 3H10.508c-.28 0-.508.224-.508.5 0 .268.228.5.508.5h17.984c.28 0 .508-.224.508-.5 0-.268-.228-.5-.508-.5zm-.99 3H13.498c-.276 0-.5.224-.5.5 0 .27.224.5.5.5h14c.276 0 .5-.224.5-.5 0-.27-.224-.5-.5-.5zm-3.992 3H7.49c-.275 0-.49.224-.49.5 0 .27.22.5.49.5h16.02c.275 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm-3.008 3H7.498c-.278 0-.498.224-.498.5 0 .27.223.5.498.5h13.004c.278 0 .498-.224.498-.5 0-.27-.223-.5-.498-.5z"/></svg>
                        </span>
                        {{ "разработка<br/>веб-сайтов" | trans() | raw }}
                    </a>
                </li>
                <li>
                    <a href="#/design" data-category="design">
                        <span class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill-rule="evenodd" clip-rule="evenodd" d="M38 7h-3V2c0-.545-.447-1-1-1H2c-.545 0-1 .447-1 1v32c0 .545.447 1 1 1h5v3c0 .545.447 1 1 1h30c.545 0 1-.447 1-1V8c0-.545-.447-1-1-1zM2.61 2.61h30.78L33.392 6H2.61V2.61zm0 30.796V7h30.782l.015 26.39-30.797.016zm6 4V35H34c.545 0 1-.447 1-1V8.61h2.39l.017 28.78-28.797.016zM4.5 4c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zm2 0c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zm2 0c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5zM9 16c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3zm18 0c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3zm-9 0c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3zm-6.49 8H6.49c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm9 0h-5.02c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm9 0h-5.02c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm-18 2H6.49c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm9 0h-5.02c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm9 0h-5.02c-.262 0-.49.224-.49.5 0 .27.22.5.49.5h5.02c.262 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zM8.503 28H6.496c-.28 0-.496.224-.496.5 0 .27.222.5.496.5h2.01c.278 0 .494-.224.494-.5 0-.27-.222-.5-.496-.5zm10.005 0h-3.02c-.275 0-.49.224-.49.5 0 .27.22.5.49.5h3.02c.275 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zm9 0h-3.02c-.275 0-.49.224-.49.5 0 .27.22.5.49.5h3.02c.275 0 .49-.224.49-.5 0-.27-.22-.5-.49-.5zM29 10H7c-.553 0-1 .448-1 1 0 .556.448 1 1 1h22c.553 0 1-.448 1-1 0-.556-.448-1-1-1z"/></svg>
                        </span>
                        {{ "Дизайн сайтов<br/>и интерфейсов" | trans() | raw }}
                    </a>
                </li>
                <li>
                    <a href="#/apps" data-category="apps">
                        <span class="icon-wrap">
                           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M9 24c-.552 0-1 .447-1 1s.448 1 1 1 1-.447 1-1-.448-1-1-1zm26 0c-.553 0-1 .447-1 1s.447 1 1 1 1-.447 1-1-.447-1-1-1zM10.51 5H7.49c-.275 0-.49.224-.49.5 0 .268.22.5.49.5h3.02c.275 0 .49-.224.49-.5 0-.268-.22-.5-.49-.5zm26.5 7H17V4.007C17 2.897 16.107 2 15.006 2H2.994C1.894 2 1 2.9 1 4.007v22.985C1 28.102 1.893 29 2.994 29H4v7c0 1.1.9 2 2.007 2h30.985C38.1 38 39 37.108 39 36.01V13.99c0-1.09-.892-1.99-1.99-1.99zM2.993 27.39c-.212 0-.384-.178-.384-.397V4.007c0-.22.172-.397.384-.397h12.012c.212 0 .384.178.384.397v22.985c0 .22-.172.397-.384.397H2.994zm34.396 8.62c0 .21-.178.38-.397.38H6.007c-.215 0-.397-.178-.397-.39v-7h9.396c1.1 0 1.994-.898 1.994-2.008V13.61h20.01c.206 0 .38.175.38.38v22.02z"/></svg>
                        </span>
                        {{ "Мобильная<br/>разработка" | trans() | raw }}
                    </a>
                </li>
                <li>
                    <a href="#/games" data-category="games">
                        <span class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 44 40"><path d="M42.933 18.666C40.763 11.292 37.52 6 33.525 6c-.438 0-.886.064-1.34.195-1.283.37-4.052 1.73-4.052 1.73-1.01.478-2.677 1.074-3.744 1.336l-.457.113c-.53.13-1.23.197-1.933.197-.7 0-1.4-.065-1.934-.196l-.455-.112c-1.058-.26-2.744-.854-3.745-1.322 0 0-2.867-1.375-4.05-1.745-.464-.146-.92-.216-1.37-.216-3.92 0-7.217 5.345-9.377 12.686-2.408 8.18-.71 16.056 4.03 17.158.233.055.47.08.707.08 4.01 0 8.534-7.252 8.534-7.252.63-.896 2.022-1.642 3.126-1.642h9.072c1.102 0 2.505.734 3.127 1.642 0 0 4.52 7.252 8.53 7.252.238 0 .476-.025.71-.08 4.74-1.102 6.436-8.977 4.028-17.158zm-1.907 13.537c-.66 1.132-1.496 1.82-2.486 2.052-.11.025-.225.038-.345.038-2.14 0-5.48-3.798-7.164-6.493l-.018-.03-.02-.028c-.915-1.335-2.83-2.342-4.455-2.342h-9.072c-1.627 0-3.496.98-4.444 2.325l-.025.036-.023.038c-1.688 2.697-5.027 6.495-7.168 6.495-.12 0-.233-.013-.344-.038-.99-.23-1.827-.92-2.487-2.052-1.7-2.915-1.843-8.05-.362-13.083 2.094-7.113 5.095-11.53 7.833-11.53.29 0 .59.047.89.142.88.275 3.066 1.292 3.85 1.667 1.097.512 2.873 1.14 4.043 1.426l.455.112c.638.157 1.46.243 2.32.243.858 0 1.682-.085 2.317-.242l.457-.112c1.157-.285 2.935-.918 4.07-1.454.734-.36 2.848-1.358 3.786-1.63.304-.086.604-.13.895-.13 2.803 0 5.742 4.302 7.862 11.51 1.482 5.03 1.34 10.165-.36 13.08zM32.5 16c.828 0 1.5-.67 1.5-1.5s-.672-1.5-1.5-1.5-1.5.67-1.5 1.5.672 1.5 1.5 1.5zm0 3c-.828 0-1.5.67-1.5 1.5 0 .828.672 1.5 1.5 1.5s1.5-.672 1.5-1.5c0-.83-.672-1.5-1.5-1.5zm-3-3c-.828 0-1.5.67-1.5 1.5s.672 1.5 1.5 1.5 1.5-.67 1.5-1.5-.672-1.5-1.5-1.5zm6 0c-.828 0-1.5.67-1.5 1.5s.672 1.5 1.5 1.5 1.5-.67 1.5-1.5-.672-1.5-1.5-1.5zm-20.622.375h-.258c-1.102 0-1.995-.89-1.995-1.995v-.26c0-.61-.504-1.12-1.125-1.12-.625 0-1.125.502-1.125 1.122v.26c0 1.1-.89 1.994-1.995 1.994h-.258C7.51 16.376 7 16.88 7 17.5c0 .625.502 1.125 1.122 1.125h.258c1.102 0 1.995.89 1.995 1.995v.26c0 .61.504 1.12 1.125 1.12.625 0 1.125-.502 1.125-1.122v-.258c0-1.102.89-1.995 1.995-1.995h.26c.61 0 1.12-.504 1.12-1.125 0-.625-.502-1.125-1.122-1.125zM22 16c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm0 3.4c-.772 0-1.4-.628-1.4-1.4s.628-1.4 1.4-1.4c.77 0 1.4.628 1.4 1.4s-.63 1.4-1.4 1.4z"/></svg>
                        </span>
                        {{ "создание <br/>мобильных Игр" | trans() | raw }}
                    </a>
                </li>
                <li class="disabled">
                    <a>
                        <span class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill-rule="evenodd" clip-rule="evenodd" d="M35 18c0-3.847-1.46-7.345-3.842-10H34l4-4h-4V0l-4 4v2.842C27.345 4.462 23.848 3 20 3 11.716 3 5 9.716 5 18c0 5.176 2.622 9.74 6.61 12.436L7.8 37.1c-.22.387-.085.88.3 1.1.126.07.263.105.398.105.28 0 .55-.146.7-.405l3.795-6.64c1.87.99 3.976 1.582 6.21 1.7-.002.014-.01.025-.01.04v5c0 .444.36.805.806.805.443 0 .804-.36.804-.805v-5c0-.015-.008-.026-.008-.04 2.233-.118 4.34-.71 6.21-1.7L30.8 37.9c.148.26.42.405.7.405.135 0 .272-.034.398-.105.386-.22.52-.713.3-1.1l-3.81-6.664C32.38 27.74 35 23.176 35 18zM20 31.39c-7.383 0-13.39-6.007-13.39-13.39 0-7.383 6.007-13.39 13.39-13.39 3.402 0 6.503 1.286 8.867 3.384l-3.81 3.81C23.68 10.677 21.92 10 20 10c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8c0-1.92-.677-3.68-1.804-5.058l3.81-3.81c2.098 2.365 3.384 5.465 3.384 8.867 0 7.383-6.007 13.39-13.39 13.39zm.722-15.25c-.225-.088-.467-.14-.722-.14-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2c0-.255-.053-.497-.14-.722l3.185-3.185c.84 1.082 1.345 2.435 1.345 3.907 0 3.523-2.866 6.39-6.39 6.39s-6.39-2.866-6.39-6.39 2.867-6.39 6.39-6.39c1.472 0 2.825.505 3.906 1.345l-3.184 3.185z"/></svg>
                        </span>
                        {{ "Консалтинг<br/>и аудит" | trans() | raw }}
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="projects-list">
        <div class="loader">
            <svg class="circular" height="50" width="50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <a class="prev-tab"></a>
        <a class="next-tab"></a>
        <div class="projects-row">
            <div class="project-cell project-cell-l">
                <a href="/portfolio/web-development/meinfernbus-de">
                    <img alt="MeinFernbus" src="/assets/img/preview/develop_big_mfb.jpg">
                    <span class="project-info">
                        <span class="project-info-text">
                            <span class="project-name">MeinFernbus</span>
                            <span class="project-description">Крупнейшая компания, специализируется на пассажирских перевозках в Германии</span>
                        </span>
                        <span class="helper"></span>
                    </span>
                </a>
            </div>
            <div class="project-cell">
                <a href="/portfolio/web-development/keepsnap-com">
                    <img alt="KeepSnap" src="/assets/img/preview/develop_small_keepsnap.jpg">
                    <span class="project-info">
                        <span class="project-info-text">
                            <span class="project-name">KeepSnap</span>
                            <span class="project-description">Сервис продажи фотографий для профессиональных фотографов</span>
                        </span>
                        <span class="helper"></span>
                    </span>
                </a>
            </div>
            <div class="project-cell">
                <a href="/portfolio/web-development/uaroads-com">
                    <img alt="UARoads" src="/assets/img/preview/develop_small_uaroads.jpg">
                    <span class="project-info">
                        <span class="project-info-text">
                            <span  class="project-name">UARoads</span>
                            <span class="project-description">Социальный стартап по оценке качества дорог Украины</span>
                        </span>
                        <span class="helper"></span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="open-source">
        <h2>{{ "Участвуем в Open Source" | trans() }}</h2>
        <div class="tabs-cnt">
            <ul class="tabs-header">
                <li><a class="active tab-title">Symfony2</a></li>
                <li><a class="tab-title">LiveStreetCMS</a></li>
                <li><a class="tab-title">OpenCart</a></li>
                <li><a class="tab-title">Wordpress</a></li>
            </ul>
            <ul class="tabs-content">
                <li class="tab active">
                    <p>
                        {{ 'Принимаем активное участие в развитии популярного PHP фреймворка <a href="%link%" rel="nofollow" target="_blank">Symfony2</a>. Благодаря этому имеем большой опыт разработки сайтов на этом фреймворке.' | trans({'%link%': 'http://symfony.com'}) | raw }}
                    </p>
                </li>
                <li class="tab">
                    <p>
                        {{ 'Создали целый набор полезных плагинов для системы управления контентом <a href="%link%" rel="nofollow" target="_blank">LiveStreet</a>.' | trans({'%link%': 'http://livestreetcms.com'}) | raw }}
                    </p>
                </li>
                <li class="tab">
                    <p>{{ 'Мы внесли свой вклад в развитие и разработку ядра <a href="%link2%" target="_blank" title="OpenCart CMS">OpenCart CMS</a>, предназначенной для управления интернет-магазинами. Для нее же мы сделали шаблон <a href="%link%" target="_blank" title="Tecart">Tecart</a>.' | trans({'%link%': 'http://stfalcon.com/portfolio/web-design/tecart', '%link2%':'http://www.opencart.com/'}) | raw }}</p>
                </li>
                <li class="tab">
                    <p>{{ '<a href="%link%" target="_blank" title="Snowberry">Snowberry</a>, шаблон, который нашел своих поклонников, был разработан нами специально для <a href="%link2%" target="_blank" title="Wordpress">Wordpress</a>.' | trans({'%link%': 'https://wordpress.org/themes/snowberry/', '%link2%':'https://wordpress.org/'}) | raw }}</p>
                </li>
            </ul>
        </div>
        <div class="sensiolabs">
            <svg class="sensiolabs-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="192px" height="62px" viewBox="0 0 192 62" enable-background="new 0 0 192 62" xml:space="preserve"><g><path d="M8.971 19.061c0 3.7 2.9 5.1 6.1 5.079c2.134 0 5.391-0.616 5.391-3.423c0-2.966-4.15-3.467-8.222-4.543 c-4.112-1.077-8.262-2.655-8.262-7.813c0-5.619 5.353-8.313 10.355-8.313c5.78 0 11.1 2.5 11.1 8.853h-5.896 C19.365 5.6 17 4.7 14.1 4.742c-1.94 0-4.189 0.808-4.189 3.118c0 2.1 1.3 2.4 8.3 4.2 c2.016 0.5 8.2 1.8 8.2 8.005c0 5.042-3.995 8.813-11.52 8.813c-6.128 0-11.868-3.001-11.791-9.775H8.971z"/><path d="M32.08 19.488c0.154 3.5 1.9 5.1 4.9 5.081c2.211 0 3.996-1.357 4.344-2.6h4.848 c-1.551 4.732-4.848 6.75-9.386 6.75c-6.323 0-10.24-4.346-10.24-10.549c0-6.013 4.151-10.589 10.24-10.589 c6.827 0 10.1 5.7 9.7 11.906H32.08z M41.039 15.998c-0.503-2.792-1.706-4.267-4.382-4.267c-3.491 0-4.5 2.715-4.577 4.3 H41.039z"/><path d="M47.06 8.123h5.235v2.795h0.117c1.396-2.251 3.801-3.336 6.129-3.336c5.855 0 7.3 3.3 7.3 8.26v12.335h-5.508V16.851 c0-3.297-0.97-4.926-3.53-4.926c-2.986 0-4.266 1.667-4.266 5.739v10.513H47.06V8.123z"/><path d="M71.55 21.66c0.039 2.4 2.1 3.4 4.2 3.375c1.588 0 3.605-0.621 3.605-2.56c0-1.669-2.288-2.25-6.244-3.104 c-3.18-0.697-6.36-1.823-6.36-5.353c0-5.119 4.42-6.438 8.726-6.438c4.383 0 8.4 1.5 8.8 6.398h-5.236 c-0.153-2.133-1.784-2.714-3.761-2.714c-1.24 0-3.062 0.232-3.062 1.86c0 2 3.1 2.2 6.2 3 c3.218 0.7 6.4 1.9 6.4 5.622c0 5.276-4.577 6.982-9.153 6.982c-4.653 0-9.193-1.746-9.426-7.06H71.55z"/><path d="M90.861 5.021h-5.508V0.483h5.508V5.021z M85.354 8.123h5.508v20.054h-5.508V8.123z"/><path d="M101.754 7.582c6.32 0 10.4 4.2 10.4 10.587c0 6.361-4.074 10.551-10.395 10.6 c-6.283 0-10.355-4.189-10.355-10.551C91.398 11.8 95.5 7.6 101.8 7.6 M101.754 24.569c3.762 0 4.887-3.22 4.887-6.4 c0-3.219-1.125-6.438-4.887-6.438c-3.723 0-4.849 3.219-4.849 6.438C96.905 21.4 98 24.6 101.8 24.6"/><polygon fill="#82E83F" points="113.2,28.4 113.2,1.2 118.7,1.2 118.7,23.8 129.7,23.8 129.7,28.4"/><path fill="#82E83F" d="M135.403 14.59l-4.767-0.86c0.535-1.918 1.457-3.339 2.768-4.263c1.307-0.922 3.252-1.383 5.832-1.383 c2.344 0 4.1 0.3 5.2 0.832c1.147 0.6 2 1.3 2.4 2.112c0.468 0.9 0.7 2.4 0.7 4.701l-0.057 6.1 c0 1.7 0.1 3 0.3 3.861c0.169 0.8 0.5 1.7 0.9 2.663h-5.198c-0.138-0.35-0.305-0.866-0.504-1.552 c-0.088-0.312-0.149-0.519-0.188-0.617c-0.897 0.873-1.857 1.526-2.879 1.963c-1.022 0.437-2.112 0.654-3.272 0.7 c-2.043 0-3.655-0.555-4.832-1.663c-1.179-1.11-1.768-2.512-1.768-4.208c0-1.121 0.27-2.121 0.804-3 c0.537-0.879 1.288-1.552 2.253-2.019c0.967-0.467 2.359-0.876 4.18-1.227c2.455-0.46 4.156-0.89 5.104-1.289v-0.523 c0-1.01-0.25-1.729-0.748-2.159c-0.498-0.431-1.439-0.645-2.822-0.645c-0.936 0-1.664 0.184-2.189 0.6 C136.15 13 135.7 13.7 135.4 14.6 M142.434 18.853c-0.674 0.225-1.738 0.492-3.197 0.8 c-1.458 0.312-2.412 0.617-2.861 0.916c-0.684 0.485-1.026 1.104-1.026 1.851c0 0.7 0.3 1.4 0.8 1.9 c0.548 0.5 1.2 0.8 2.1 0.805c0.945 0 1.85-0.312 2.71-0.935c0.636-0.473 1.052-1.053 1.253-1.739 c0.137-0.448 0.205-1.302 0.205-2.561V18.853z"/><path fill="#82E83F" d="M149.695 28.388V0.979h5.252v9.871c1.621-1.845 3.539-2.767 5.76-2.767c2.416 0 4.4 0.9 6 2.6 c1.58 1.8 2.4 4.3 2.4 7.543c0 3.391-0.807 6.001-2.422 7.834c-1.613 1.832-3.574 2.748-5.879 2.7 c-1.135 0-2.254-0.284-3.355-0.851c-1.105-0.566-2.055-1.405-2.854-2.515v2.917H149.695z M154.91 18 c0 2.1 0.3 3.6 1 4.562c0.91 1.4 2.1 2.1 3.6 2.094c1.158 0 2.146-0.495 2.963-1.486s1.225-2.553 1.225-4.684 c0-2.269-0.412-3.904-1.234-4.907s-1.876-1.505-3.159-1.505c-1.259 0-2.307 0.489-3.142 1.5 C155.328 14.5 154.9 16 154.9 18"/><path fill="#82E83F" d="M168.79 22.724l5.272-0.806c0.225 1 0.7 1.8 1.4 2.329c0.684 0.5 1.6 0.8 2.9 0.8 c1.357 0 2.381-0.25 3.066-0.748c0.459-0.349 0.691-0.816 0.691-1.403c0-0.398-0.125-0.729-0.375-0.99 c-0.261-0.249-0.848-0.479-1.758-0.691c-4.236-0.935-6.923-1.789-8.057-2.562c-1.571-1.072-2.355-2.562-2.355-4.469 c0-1.72 0.68-3.165 2.039-4.338c1.355-1.17 3.463-1.756 6.316-1.756c2.718 0 4.7 0.4 6.1 1.3 c1.32 0.9 2.2 2.2 2.7 3.926l-4.955 0.916c-0.212-0.772-0.613-1.364-1.205-1.776c-0.592-0.411-1.437-0.617-2.534-0.617 c-1.383 0-2.373 0.194-2.973 0.58c-0.398 0.274-0.598 0.63-0.598 1.065c0 0.4 0.2 0.7 0.5 1 c0.473 0.3 2.1 0.8 4.9 1.477s4.752 1.4 5.9 2.338c1.097 0.9 1.6 2.2 1.6 3.907c0 1.82-0.76 3.384-2.28 4.7 s-3.771 1.963-6.749 1.963c-2.705 0-4.846-0.549-6.423-1.646C170.309 26.1 169.3 24.6 168.8 22.7"/><g><rect y="39.6" width="192" height="0.4"/></g><path fill="#231F20" d="M7.185 51.458h3.096l3.743 10.279h-3.283l-0.432-1.469H7.041l-0.46 1.469H3.399L7.185 51.458z M9.676 58.066l-0.921-3.168H8.725l-0.993 3.168H9.676z"/><polygon fill="#231F20" points="16.9,51.5 24.8,51.5 24.8,54.1 20.1,54.1 20.1,55.4 24.2,55.4 24.2,57.8 20.1,57.8 20.1,61.7 16.9,61.7"/><polygon fill="#231F20" points="28.1,51.5 36.1,51.5 36.1,54.1 31.3,54.1 31.3,55.4 35.4,55.4 35.4,57.8 31.3,57.8 31.3,61.7 28.1,61.7"/><rect x="39.3" y="51.5" fill="#231F20" width="3.2" height="10.3"/><polygon fill="#231F20" points="46.3,51.5 49.5,51.5 49.5,59.1 54,59.1 54,61.7 46.3,61.7"/><rect x="57.5" y="51.5" fill="#231F20" width="3.2" height="10.3"/><path fill="#231F20" d="M67.33 51.458h3.095l3.743 10.279h-3.283l-0.432-1.469h-3.268l-0.46 1.469h-3.182L67.33 51.458z M69.82 58.066l-0.921-3.168H68.87l-0.993 3.168H69.82z"/><polygon fill="#231F20" points="78.5,54.1 75.6,54.1 75.6,51.5 84.5,51.5 84.5,54.1 81.6,54.1 81.6,61.7 78.5,61.7"/><polygon fill="#231F20" points="87.8,51.5 96.3,51.5 96.3,54.1 91,54.1 91,55.4 95.8,55.4 95.8,57.8 91,57.8 91,59.1 96.5,59.1 96.5,61.7 87.8,61.7"/><polygon fill="#231F20" points="106.5,51.5 107.6,51.5 113.6,60.2 113.6,60.2 113.6,51.5 114.6,51.5 114.6,61.7 113.5,61.7 107.5,53 107.5,53 107.5,61.7 106.5,61.7"/><polygon fill="#231F20" points="118.8,51.5 125.9,51.5 125.9,52.3 119.8,52.3 119.8,56 125.5,56 125.5,56.8 119.8,56.8 119.8,60.9 126,60.9 126,61.7 118.8,61.7"/><polygon fill="#231F20" points="128.4,51.5 136.5,51.5 136.5,52.3 132.9,52.3 132.9,61.7 132,61.7 132,52.3 128.4,52.3"/><polygon fill="#231F20" points="138.6,51.5 139.7,51.5 142,60.5 142,60.5 144.5,51.5 145.8,51.5 148.3,60.5 148.3,60.5 150.7,51.5 151.6,51.5 148.8,61.7 147.8,61.7 145.2,52.5 145.1,52.5 142.5,61.7 141.5,61.7"/><path fill="#231F20" d="M159.174 51.242c3.226 0 4.8 2.5 4.8 5.355s-1.612 5.355-4.838 5.4 c-3.238 0-4.852-2.548-4.852-5.355S155.936 51.2 159.2 51.2 M159.174 61.118c2.707 0 3.859-2.274 3.859-4.521 s-1.152-4.521-3.859-4.521c-2.721 0-3.872 2.274-3.872 4.521S156.453 61.1 159.2 61.1"/><path fill="#231F20" d="M167.697 51.458h4.707c1.699 0 3.1 0.8 3.1 2.678c0 1.296-0.677 2.361-2.001 2.62v0.029 c1.339 0.2 1.7 1.1 1.8 2.317c0.044 0.7 0 2.1 0.5 2.635h-1.08c-0.245-0.403-0.245-1.166-0.273-1.599 c-0.088-1.439-0.202-3.037-2.06-2.965h-3.714v4.563h-0.979V51.458z M168.676 56.339h3.656c1.195 0 2.217-0.749 2.217-2.002 c0-1.252-0.748-2.044-2.217-2.044h-3.656V56.339z"/><polygon fill="#231F20" points="179.5,51.5 180.4,51.5 180.4,57 186.4,51.5 187.7,51.5 183.1,55.7 188,61.7 186.7,61.7 182.4,56.4 180.4,58.2 180.4,61.7 179.5,61.7"/></g></svg>
            <p>{{ 'Мы &mdash;&nbsp;официальный партнер <a href="%link%" rel="nofollow" target="_blank">SensioLabs</a>, создателя фреймворка Symfony2.' | trans({'%link%': 'https://sensiolabs.com/'}) | raw }}</p>
        </div>
    </section>
    <section class="conference">
        <h2>{{ "проводим конференции" | trans() }}</h2>
        <ul class="conference-list clearfix">
            <li class="fwdays">
                <div class="conf-logo">
                    <svg width="176" height="143" viewBox="0 0 176 143" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="50%" y1="99.341%" x2="50%" y2=".059%" id="a"><stop stop-color="#9DFF00" offset="0%"/><stop stop-color="#ABF80A" offset="6.06%"/><stop stop-color="#C9E821" offset="21.98%"/><stop stop-color="#E1DC33" offset="38.73%"/><stop stop-color="#F2D340" offset="56.47%"/><stop stop-color="#FCCE48" offset="75.86%"/><stop stop-color="#FFCC4A" offset="100%"/></linearGradient><linearGradient x1="50%" y1="95.808%" x2="50%" y2="8.868%" id="b"><stop stop-color="#0063C2" offset="0%"/><stop stop-color="#026EC1" offset="3.57%"/><stop stop-color="#0793BE" offset="17.09%"/><stop stop-color="#0BB2BB" offset="31.25%"/><stop stop-color="#0ECAB9" offset="46.01%"/><stop stop-color="#10DBB7" offset="61.65%"/><stop stop-color="#12E5B6" offset="78.73%"/><stop stop-color="#12E8B6" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g><g id="Group" fill="#fff"><path d="M22.175 92.75H18.28v13.39h-3.404V92.75H12.25v-1.585l2.626-1.04v-1.038c0-1.885.442-3.283 1.327-4.19.884-.91 2.236-1.365 4.054-1.365 1.192 0 2.365.2 3.52.592l-.895 2.57c-.837-.27-1.635-.406-2.395-.406-.77 0-1.33.24-1.68.714-.35.475-.527 1.19-.527 2.143v1.04h3.895v2.566zM32.78 89.894c.683 0 1.245.05 1.688.145l-.332 3.16c-.48-.117-.98-.175-1.5-.175-1.357 0-2.456.443-3.297 1.328-.842.885-1.263 2.035-1.263 3.447v8.34h-3.39V90.184h2.654l.448 2.812h.174c.53-.952 1.22-1.707 2.07-2.264.85-.558 1.767-.838 2.748-.838zM46.768 106.14l-.678-2.223h-.115c-.77.972-1.544 1.634-2.323 1.983-.78.352-1.78.527-3 .527-1.568 0-2.793-.422-3.673-1.27-.88-.845-1.32-2.042-1.32-3.59 0-1.646.61-2.887 1.83-3.724 1.223-.836 3.084-1.293 5.584-1.37l2.756-.086v-.852c0-1.02-.24-1.782-.715-2.286-.476-.507-1.214-.76-2.214-.76-.817 0-1.6.122-2.35.362s-1.472.524-2.165.852L37.29 91.28c.865-.452 1.812-.796 2.84-1.03 1.03-.237 2-.356 2.916-.356 2.03 0 3.56.444 4.595 1.327 1.034.886 1.55 2.277 1.55 4.17v10.75H46.77zm-5.05-2.31c1.232 0 2.22-.344 2.965-1.03.746-.687 1.118-1.653 1.118-2.893v-1.385l-2.047.087c-1.597.056-2.758.323-3.484.8-.727.475-1.09 1.204-1.09 2.185 0 .71.21 1.26.634 1.65.424.39 1.058.586 1.905.586zM65.774 106.14H62.37V96.3c0-1.22-.23-2.133-.692-2.735-.462-.6-1.184-.9-2.165-.9-1.308 0-2.267.424-2.878 1.276-.61.852-.916 2.268-.916 4.25v7.948h-3.392V90.183h2.655l.476 2.09h.173c.442-.758 1.084-1.346 1.925-1.76.842-.412 1.768-.62 2.777-.62 2.453 0 4.078.837 4.877 2.51h.23c.472-.788 1.136-1.404 1.992-1.847.855-.442 1.837-.663 2.942-.663 1.904 0 3.292.48 4.162 1.442.87.963 1.305 2.43 1.305 4.4v10.403h-3.39v-9.84c0-1.22-.233-2.132-.7-2.733-.466-.6-1.19-.902-2.17-.902-1.318 0-2.282.41-2.894 1.233-.61.823-.916 2.085-.916 3.787v8.456zM86.63 106.427c-2.483 0-4.423-.723-5.823-2.17-1.4-1.447-2.098-3.44-2.098-5.98 0-2.606.648-4.654 1.946-6.146 1.3-1.49 3.083-2.236 5.353-2.236 2.105 0 3.768.64 4.99 1.92 1.222 1.28 1.833 3.04 1.833 5.28v1.833H82.2c.048 1.548.467 2.738 1.256 3.57.788.832 1.9 1.25 3.333 1.25.94 0 1.818-.09 2.63-.27.814-.176 1.686-.472 2.62-.885v2.756c-.827.394-1.664.672-2.51.836-.848.16-1.815.243-2.9.243zm-.622-13.964c-1.077 0-1.94.34-2.59 1.024-.65.683-1.036 1.678-1.16 2.986h7.24c-.018-1.317-.335-2.314-.952-2.994-.615-.68-1.46-1.017-2.538-1.017zM109.77 106.14l-2.063-7.445c-.25-.79-.703-2.62-1.357-5.497h-.13c-.56 2.598-1 4.44-1.328 5.525l-2.12 7.416h-3.75l-4.474-15.957h3.463l2.035 7.862c.46 1.943.79 3.607.98 4.992h.088c.097-.702.243-1.508.44-2.417.196-.91.367-1.59.512-2.04l2.424-8.397h3.72l2.352 8.396c.144.47.325 1.192.54 2.162.218.97.345 1.727.383 2.267h.115c.145-1.185.482-2.84 1.01-4.965l2.064-7.862h3.404l-4.5 15.955h-3.808zM134.294 98.133c0 2.606-.668 4.64-2.006 6.102-1.337 1.46-3.197 2.192-5.583 2.192-1.49 0-2.808-.337-3.952-1.01-1.145-.673-2.024-1.64-2.64-2.9-.617-1.258-.923-2.72-.923-4.384 0-2.59.663-4.608 1.99-6.06 1.327-1.453 3.197-2.18 5.612-2.18 2.308 0 4.135.744 5.483 2.23 1.345 1.486 2.02 3.49 2.02 6.01zm-11.613 0c0 3.683 1.36 5.524 4.082 5.524 2.694 0 4.04-1.84 4.04-5.524 0-3.645-1.356-5.47-4.068-5.47-1.424 0-2.455.474-3.094 1.414-.64.944-.96 2.296-.96 4.056zM144.776 89.894c.682 0 1.246.05 1.688.145l-.333 3.16c-.48-.117-.98-.175-1.498-.175-1.357 0-2.456.443-3.297 1.328-.842.885-1.262 2.035-1.262 3.447v8.34h-3.39V90.184h2.654l.447 2.812h.174c.53-.952 1.218-1.707 2.07-2.264.85-.558 1.767-.838 2.748-.838zM151.84 97.714l1.92-2.395 4.818-5.137h3.91l-6.42 6.852 6.824 9.104h-3.983l-5.122-6.998-1.862 1.53v5.467h-3.36V83.69h3.36v10.952l-.172 3.073h.086zM175.94 101.595c0 1.557-.567 2.753-1.7 3.585-1.137.832-2.763 1.247-4.878 1.247-2.125 0-3.832-.322-5.12-.967v-2.928c1.874.866 3.62 1.298 5.235 1.298 2.087 0 3.13-.63 3.13-1.89 0-.404-.115-.74-.345-1.01-.23-.27-.61-.548-1.14-.836-.53-.29-1.265-.616-2.207-.98-1.838-.713-3.08-1.425-3.73-2.137-.65-.71-.973-1.634-.973-2.77 0-1.364.55-2.426 1.652-3.18 1.1-.756 2.598-1.133 4.494-1.133 1.875 0 3.65.38 5.323 1.14l-1.095 2.554c-1.722-.712-3.17-1.068-4.342-1.068-1.79 0-2.684.51-2.684 1.53 0 .5.232.923.7 1.27.466.346 1.482.822 3.05 1.427 1.318.51 2.275.977 2.87 1.4.598.423 1.04.91 1.328 1.465.29.552.432 1.214.432 1.983zM73.673 131.14c0 1.56-.568 2.755-1.702 3.586-1.134.832-2.76 1.248-4.876 1.248-2.125 0-3.832-.322-5.12-.966v-2.93c1.874.866 3.62 1.3 5.235 1.3 2.086 0 3.13-.63 3.13-1.892 0-.403-.115-.738-.346-1.01-.23-.268-.61-.547-1.14-.836-.53-.287-1.265-.614-2.207-.98-1.838-.71-3.08-1.423-3.73-2.136-.65-.71-.973-1.635-.973-2.77 0-1.365.55-2.425 1.652-3.18 1.1-.755 2.6-1.133 4.494-1.133 1.875 0 3.65.38 5.323 1.142l-1.096 2.552c-1.722-.71-3.17-1.066-4.342-1.066-1.79 0-2.684.51-2.684 1.53 0 .5.234.92.7 1.268.468.345 1.485.823 3.053 1.428 1.318.51 2.274.976 2.87 1.4.597.423 1.04.91 1.328 1.464.29.553.433 1.214.433 1.983zM19.55 135.974c-1.99 0-3.545-.72-4.66-2.163-1.116-1.442-1.674-3.467-1.674-6.073 0-2.616.565-4.653 1.695-6.11 1.13-1.456 2.696-2.186 4.697-2.186 2.097 0 3.693.775 4.79 2.323h.173c-.164-1.143-.246-2.046-.246-2.71v-5.815h3.405v22.448h-2.655l-.592-2.09h-.16c-1.085 1.584-2.676 2.378-4.773 2.378zm.91-2.74c1.393 0 2.408-.393 3.042-1.177.635-.783.962-2.055.98-3.816v-.475c0-2.01-.326-3.44-.98-4.284-.653-.846-1.678-1.27-3.072-1.27-1.193 0-2.112.484-2.756 1.45-.645.968-.966 2.345-.966 4.135 0 1.77.312 3.118.938 4.046.625.93 1.562 1.393 2.813 1.393zM41.32 135.685l-.678-2.22h-.115c-.77.97-1.544 1.632-2.323 1.983-.78.35-1.78.526-3 .526-1.568 0-2.792-.423-3.672-1.27-.88-.845-1.32-2.043-1.32-3.59 0-1.645.61-2.887 1.832-3.723 1.22-.836 3.082-1.292 5.583-1.37l2.755-.087v-.85c0-1.02-.238-1.782-.714-2.287-.477-.506-1.215-.758-2.215-.758-.818 0-1.6.12-2.352.36-.75.24-1.47.526-2.163.85l-1.096-2.422c.866-.452 1.813-.795 2.843-1.03 1.03-.237 2-.354 2.914-.354 2.03 0 3.56.443 4.596 1.327 1.033.884 1.55 2.273 1.55 4.168v10.748H41.32zm-5.05-2.308c1.232 0 2.22-.343 2.966-1.03.745-.688 1.118-1.652 1.118-2.894v-1.383l-2.05.085c-1.596.058-2.757.326-3.483.8-.725.477-1.09 1.206-1.09 2.186 0 .714.213 1.263.636 1.654.423.39 1.058.583 1.905.583zM45.16 119.73h3.692l3.247 9.045c.49 1.288.817 2.502.98 3.635h.115c.086-.53.246-1.17.477-1.926.23-.755 1.452-4.34 3.664-10.755H61l-6.824 18.076c-1.24 3.32-3.31 4.978-6.203 4.978-.75 0-1.482-.082-2.193-.246v-2.683c.51.116 1.09.173 1.745.173 1.636 0 2.785-.947 3.45-2.842l.59-1.5-6.405-15.957z" id="Shape"/></g><g transform="translate(.228)"><path d="M29.91 60.354L.902 31.35 29.91 2.342l2.61 2.612L6.126 31.35 32.52 57.74l-2.61 2.612z" id="Shape" fill="url(#a)"/><path d="M95.847 61.66L77.38 43.194 58.915 61.66l-27.7-27.7L4.82 60.354l-2.61-2.612 29.004-29.004 27.7 27.7L77.38 37.97l18.467 18.467 26.394-26.394 2.613 2.61L95.847 61.66z" fill="url(#b)"/><ellipse id="Oval" fill="#FF700A" cx="31.214" cy="3.649" rx="3.001" ry="3.001"/><ellipse id="Oval" fill="#C9B600" cx="3.515" cy="31.349" rx="3.001" ry="3.001"/><ellipse id="Oval" fill="#135A9E" cx="3.515" cy="59.049" rx="3.001" ry="3.001"/><ellipse id="Oval" fill="#02C2AC" cx="31.214" cy="31.349" rx="3.693" ry="3.693"/><ellipse id="Oval" fill="#135A9E" cx="58.914" cy="59.049" rx="3.001" ry="3.001"/><ellipse id="Oval" fill="#02C2AC" cx="77.381" cy="40.582" rx="3.001" ry="3.001"/><ellipse id="Oval" fill="#135A9E" cx="95.847" cy="59.049" rx="3" ry="3"/><ellipse id="Oval" fill="#02C2AC" cx="123.547" cy="31.349" rx="3.693" ry="3.693"/><ellipse fill="#4BAD00" cx="31.214" cy="59.049" rx="3.001" ry="3.001"/></g></g></g></svg>
                </div>
                <p>{{ "Уникальная в своем роде конференция, объединяющая любителей программных фреймворков различных направлений и платформ." | trans() }}</p>
                <a class="arrow-button" href="http://frameworksdays.com/" rel="nofollow" target="_blank"></a>
            </li>
            <li class="cnc">
                <div class="conf-logo">
                    <svg width="149" height="121" viewBox="0 0 149 121" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g fill="#fff"><path d="M33.082 69.012c.847 0 1.622.484 2.116.83.21.14.564-.415.493-.553-.634-1.038-1.69-1.452-3.173-1.452-4.442 0-14.67 5.252-14.67 14.03 0 3.662 3.315 6.22 6.842 6.22 10.226 0 19.817-12.993 19.817-20.458 0-5.806-4.23-8.5-8.604-8.5-10.72 0-21.792 10.85-24.26 13.477C5.998 79.103.497 88.917.497 96.867c0 8.64 2.61 13.753 13.33 13.753 6.488 0 12.27-4.7 15.516-8.57 4.725-5.6 6.206-8.57 6.98-10.02.213-.347-.492-1.038-.774-.76-1.058 1.104-3.456 5.528-7.265 9.95-3.455 3.94-7.97 8.018-14.316 8.018-6.56 0-9.945-3.11-9.945-9.26 0-8.848 9.17-21.703 9.804-22.532 9.872-13.27 19.11-17.348 21.58-17.348 3.244 0 5.924 1.313 5.924 4.7 0 7.948-10.438 22.186-16.645 22.186-2.116 0-4.232-1.383-4.232-3.732 0-5.6 7.828-14.24 12.624-14.24zm14.03 34.212c9.804 0 13.612-13.96 13.612-17.97 0-3.524-1.904-6.428-6.488-6.428-10.085 0-14.81 12.233-14.81 16.656 0 4.08 2.398 7.742 7.687 7.742zm6.913-23.43c2.75 0 2.89 1.936 2.89 2.972 0 1.59-4.936 19.49-10.366 19.49-2.187 0-3.033-1.865-3.033-3.73 0-2.63 5.29-18.732 10.508-18.732zm19.254.483h6.064v-.967h-5.642l3.95-9.953c3.384-8.155 8.18-11.887 12.623-11.887.917 0 2.187.207 2.187.76 0 .69-.917.69-.917 1.59 0 1.244 1.27 2.143 2.468 2.143 1.764 0 2.82-1.106 2.82-2.35 0-2.143-2.82-3.11-5.218-3.11-8.745 0-15.728 5.46-18.337 12.854l-3.95 9.953h-6.275v.967h5.854l-10.932 27.37c-2.82 6.704-8.18 11.887-12.624 11.887-.916 0-2.186-.207-2.186-.76 0-.69.917-.69.917-1.59 0-1.244-1.27-2.143-2.468-2.143-1.763 0-2.82 1.107-2.82 2.35 0 2.144 2.82 3.11 5.22 3.11 8.18 0 15.444-5.666 18.335-12.853l10.932-27.37zm42.665-20.664c0-2.143-2.82-3.11-5.22-3.11-8.744 0-15.727 5.46-18.336 12.854l-3.95 9.953h-6.277v.967h5.854l-10.933 27.37c-2.82 6.704-8.18 11.887-12.624 11.887-.916 0-2.186-.207-2.186-.76 0-.69.916-.69.916-1.59 0-1.244-1.27-2.143-2.468-2.143-1.764 0-2.82 1.107-2.82 2.35 0 2.144 2.82 3.11 5.218 3.11 8.182 0 15.445-5.666 18.337-12.853l10.932-27.37h6.064v-.967H92.81l3.95-9.953c3.386-8.155 8.182-11.887 12.624-11.887.917 0 2.187.207 2.187.76 0 .69-.915.69-.915 1.59 0 1.244 1.27 2.143 2.468 2.143 1.765 0 2.822-1.107 2.822-2.35zm-9.142 19.213c-7.053 0-14.67 9.47-14.67 17.348 0 4.01 2.54 7.05 6.7 7.05 2.257 0 4.303-1.105 5.713-2.902 1.2-1.52 2.75-4.147 3.738-6.22.14-.347-.705-.69-.847-.347-.987 1.936-2.257 4.147-3.386 5.53-1.34 1.658-2.82 2.694-4.865 2.694-2.256-.07-3.455-1.245-3.455-3.388 0-1.45 1.2-4.77 2.75-8.017.564.068 1.27.138 1.975.138 4.303 0 10.438-1.935 10.438-8.293 0-2.418-1.622-3.594-4.09-3.594zm-6.63 10.782c-.353 0-.775 0-1.198-.07.987-2.003 4.372-9.744 7.123-9.744.775 0 1.058.83 1.058 1.52 0 2.143-1.41 8.294-6.982 8.294zm26.022-10.782c-7.053 0-14.67 9.47-14.67 17.348 0 4.01 2.54 7.05 6.7 7.05 2.257 0 4.303-1.105 5.713-2.902 1.2-1.52 2.75-4.147 3.738-6.22.14-.347-.706-.69-.847-.347-.988 1.936-2.258 4.147-3.387 5.53-1.34 1.658-2.82 2.694-4.866 2.694-2.257-.07-3.455-1.245-3.455-3.388 0-1.45 1.198-4.77 2.75-8.017.564.068 1.27.138 1.975.138 4.303 0 10.438-1.935 10.438-8.293 0-2.418-1.62-3.594-4.09-3.594zm-6.63 10.782c-.353 0-.775 0-1.198-.07.987-2.003 4.372-9.744 7.123-9.744.775 0 1.058.83 1.058 1.52 0 2.143-1.41 8.294-6.983 8.294zm12.948-19.304c-.254-.07-.528-.123-.82-.16-.294-.036-.575-.058-.845-.065-.27-.01-.486.005-.648.04l-3.145 5.594.727.49 5.362-5.08-.05-.578c-.133-.09-.326-.172-.58-.242zM61.56 46.694h1.634l.232.79h1.644l-1.684-4.623H61.48l-1.764 4.623h1.62l.224-.79zm.8-2.632h.032l.465 1.517h-.97l.473-1.518zm6.315 3.42h1.69v-4.62H68.98v2.148l.04.466h-.033l-1.683-2.615h-1.667v4.623h1.378v-1.967l-.03-.6h.03l1.66 2.567zm4.63-4.78c-.73 0-1.385.056-1.962.163v4.618l.232.04c.155.026.396.053.726.08.33.025.667.038 1.015.038.93 0 1.637-.21 2.123-.635.486-.424.73-1.03.73-1.822 0-.8-.25-1.414-.75-1.84-.5-.426-1.204-.64-2.112-.64zm.93 3.397c-.197.19-.5.286-.905.286h-.385V43.96h.36c.417 0 .726.097.926.29.2.193.302.505.302.934 0 .42-.098.724-.297.915zm5.345-1.346h22.236v-.385H79.58v.384zm-22.236-.385H35.107v.384h22.237v-.385zm-40.14-17.093L7.602 19.41l9.605-7.77-3.02-3.02L1.13 19.45l13.052 10.845 3.02-3.016zm7.292.42c.865.827 1.917 1.45 3.156 1.87 1.24.42 2.64.63 4.202.63 1.085 0 2.124-.088 3.118-.267.994-.178 1.956-.452 2.885-.82v-4.145c-.387.166-.804.32-1.25.46-.444.14-.896.264-1.354.37-.458.11-.917.19-1.375.25-.458.057-.894.085-1.307.085-.852 0-1.626-.137-2.323-.41-.696-.273-1.294-.67-1.79-1.184-.498-.516-.882-1.143-1.153-1.88-.27-.74-.406-1.573-.406-2.503 0-.89.126-1.71.378-2.453.25-.745.616-1.378 1.094-1.9.478-.52 1.064-.93 1.762-1.222.698-.293 1.484-.44 2.363-.44.84 0 1.726.11 2.662.326.936.216 1.804.52 2.604.916v-4.525c-.696-.203-1.48-.372-2.352-.506-.872-.135-1.946-.2-3.225-.2-1.562 0-2.98.24-4.25.725-1.27.483-2.36 1.17-3.263 2.062-.904.892-1.604 1.967-2.102 3.228-.497 1.26-.745 2.667-.745 4.22 0 1.604.23 3.017.688 4.24.46 1.22 1.12 2.244 1.986 3.072zm18.43.086c.8.833 1.774 1.46 2.924 1.88 1.148.42 2.452.63 3.91.63 1.537 0 2.906-.248 4.106-.744 1.2-.498 2.214-1.197 3.04-2.102.826-.903 1.46-1.988 1.898-3.255.438-1.267.658-2.664.658-4.19 0-1.63-.21-3.066-.63-4.307-.42-1.24-1.03-2.282-1.83-3.122-.8-.84-1.774-1.474-2.924-1.9-1.148-.426-2.46-.64-3.93-.64-1.512 0-2.867.246-4.067.735-1.2.49-2.217 1.18-3.05 2.07-.832.892-1.47 1.968-1.916 3.228-.445 1.26-.668 2.66-.668 4.2 0 1.668.213 3.13.64 4.383.425 1.255 1.04 2.3 1.84 3.133zm2.7-9.996c.175-.738.45-1.385.824-1.938.374-.555.852-.99 1.433-1.31.58-.318 1.284-.477 2.11-.477 1.498 0 2.63.506 3.398 1.52.77 1.01 1.153 2.522 1.153 4.533 0 .866-.09 1.675-.27 2.425-.183.753-.453 1.404-.814 1.958-.362.554-.834.986-1.415 1.3-.58.31-1.265.467-2.053.467-1.433 0-2.562-.513-3.39-1.537-.826-1.024-1.238-2.55-1.238-4.573 0-.84.088-1.63.263-2.368zM64.05 27.65c.612.846 1.37 1.497 2.274 1.955.903.46 1.937.688 3.1.688.696 0 1.332-.08 1.906-.238.574-.16 1.113-.382 1.617-.668.503-.287.975-.633 1.413-1.04.44-.408.865-.86 1.278-1.356l.116 2.865h4.086V2.875h-4.725v7.58c-.388-.102-.83-.184-1.327-.247-.496-.064-.99-.096-1.48-.096-1.46 0-2.81.207-4.048.62-1.24.414-2.31 1.05-3.214 1.91-.904.858-1.61 1.94-2.12 3.245-.51 1.305-.766 2.85-.766 4.63 0 1.49.16 2.84.484 4.05.324 1.208.792 2.236 1.405 3.082zm3.417-10.064c.232-.808.564-1.492.997-2.053.433-.56.952-.992 1.56-1.298.606-.306 1.29-.458 2.053-.458.555 0 1.106.045 1.655.133.55.09 1.01.204 1.385.345v8.478c-.813 1.107-1.582 1.98-2.305 2.615-.723.638-1.484.955-2.285.955-.542 0-1.026-.11-1.452-.334-.426-.224-.784-.577-1.075-1.06-.29-.485-.51-1.105-.658-1.863-.148-.757-.223-1.67-.223-2.74-.002-1.005.114-1.912.347-2.72zM85.94 27.802c.827.82 1.834 1.44 3.022 1.86 1.188.422 2.53.63 4.028.63.594 0 1.207-.02 1.84-.065.632-.045 1.258-.11 1.878-.2.62-.09 1.227-.19 1.82-.306.594-.114 1.143-.24 1.646-.38v-3.705c-1.175.33-2.308.57-3.398.716-1.09.148-2.113.22-3.07.22-.825 0-1.577-.114-2.255-.343-.677-.23-1.258-.563-1.74-1.002-.485-.44-.86-.984-1.125-1.634-.265-.647-.396-1.398-.396-2.252h12.935c.04-.445.067-.922.087-1.432.02-.51.03-.923.03-1.24 0-1.262-.19-2.42-.563-3.476-.376-1.057-.925-1.968-1.647-2.73-.723-.765-1.62-1.36-2.69-1.786-1.072-.426-2.306-.64-3.7-.64-1.406 0-2.682.252-3.824.755-1.144.5-2.114 1.215-2.915 2.138-.8.923-1.42 2.03-1.86 3.322-.437 1.292-.657 2.728-.657 4.306 0 1.59.22 2.99.658 4.2.436 1.21 1.07 2.224 1.895 3.046zm3.68-13.118c.762-.782 1.736-1.174 2.925-1.174.542 0 1.048.09 1.52.268.472.178.884.45 1.24.82.354.37.635.838.842 1.404.206.566.303 1.23.29 1.994h-8.172c.142-1.425.593-2.53 1.355-3.312zm32.946-11.81h-4.61L104.442 33.96h4.59l13.536-31.086zm-1.208 8.765l9.585 7.847-9.585 7.79 3 3.017 13.053-10.845L124.36 8.62l-3.002 3.017zm19.61-9.136h-1.68l-.91 1.33c-.11.173-.22.354-.32.535h-.02V.502h-1.395v6.43h1.396V5.546l.357-.436 1.083 1.82h1.718l-1.837-2.634 1.61-1.792zm6.014-.1c-.33 0-.606.072-.854.218-.21.126-.413.308-.578.534h-.02c-.19-.462-.65-.752-1.23-.752-.77 0-1.165.416-1.357.697h-.028l-.064-.597h-1.174c.02.39.036.86.036 1.412V6.93h1.36V4.35c0-.108.01-.235.055-.344.082-.227.294-.498.65-.498.442 0 .644.38.644.942v2.48h1.36V4.34c0-.108.02-.253.055-.353.092-.263.322-.48.644-.48.448 0 .66.372.66 1.015V6.93h1.358V4.323c0-1.32-.652-1.92-1.516-1.92z"/></g></g></svg>
                </div>
                <p>{{ "ІТ ивент с несколькими краткими докладами, кофе, новыми знакомствами и доброжелательной атмосферой." | trans() }}</p>
                <a class="arrow-button" href="http://kmcnc.stfalcon.com/" target="_blank"></a>
            </li>
        </ul>
    </section>
    {{ render(controller("StfalconBlogBundle:Post:lastHomepage", { 'locale': app.request.locale, 'count': 3 })) }}
    <section class="details-info">
        <h1>{{ "Stfalcon &mdash; студия веб-дизайна и разработки сайтов" | trans()|raw }}</h1>
        <h3>{{ "Есть ли смысл дальше изучать наш сайт? <br/> да, если:" | trans() | raw }}</h3>
        <div class="more-detail-wrap">
            <ul class="more-detail">
                <li>{{ "Вы ищите web студию разработки сайтов, приложений, мобильных игр с нуля или хотите заказать экспертный консалтинг/аудит в данной сфере и, при этом, получить результат, к которому не возникнет вопросов." | trans() }}</li>
                <li>{{ "Вам нужны нестандартные решения, выходящие за рамки шаблонов, которые предлагает рынок." | trans() }}</li>
                <li>{{ "У Вас есть мечта, за воплощение которой другие боятся браться (мы оценим стоящие идеи и во что бы то ни стало реализуем)." | trans() }}</li>
                <li>{{ "Для реализации Вашей идеи требуются высоконагруженные системы." | trans() }}</li>
            </ul>
        </div>
        <div class="hidden-content hidden">
            <h3>{{ "Как именно мы решаем нестандартные задачи?" | trans() }}</h3>
            <div class="more-detail-wrap">
                <ul class="more-detail">
                    <li>{{ "Для создания сайтов на заказ наша веб студия использует самые передовые технологии (фреймворк Symfony2 и его компоненты,  Silex, MySQL, MongoDB, Sphinx, RabbitMQ, Ember.js, и др)." | trans() }}</li>
                    <li>{{ "Cоздаем нативные мобильные приложения (более производительные и стабильные, чем кросс-платформенные), используем самые популярные библиотеки (ORM, Robospice, Gson, UniversalImageLoader) и технологические решения." | trans() }}</li>
                    <li>{{ "Думаем наперед (чтобы вы могли легко анализировать, монетизировать и использовать продукт на полную катушку, а сторонним специалистам было удобно сопровождать его в дальнейшем)." | trans() }}</li>
                    <li>{{ "Любим свою работу (мы просто не беремся за проекты, к которым у нас не лежит душа и за успех которых мы искренне не болеем)." | trans() }}</li>
                </ul>
            </div>
            <h3>{{ "Чем докажем, что мы – лучшие?" | trans() }}</h3>
            <div class="more-detail-wrap">
                <ul class="more-detail">
                    <li>{{ "Более 90 успешных проектов;" | trans() }}</li>
                    <li>{{ "100% наших партнеров (именно так мы воспринимаем клиентов) остались довольны;" | trans() }}</li>
                    <li>{{ "У нас идеально отлажены коммуникации внутри команды, а это значит: <br/> а) проект будет выполнен в минимальные сроки; <br/> б) пока он дойдет до вас, мы уже найдем и исправим все «косяки»;" | trans() | raw }}</li>
                    <li>{{ "Мы имеем непосредственное отношение к развитию технологий (продвигаем фреймворк Symfony, создали множество полезных плагинов для LiveStreet, совершенствуем OpenCart CMS и сделали для нее шаблон Tecard, разработали шаблон Snowberry для Wordpress);" | trans() }}</li>
                    <li>{{ "Экспертному мнению студии web дизайна Stfalcon доверяют на рынке (на ивентах, которые мы организуем, всегда аншлаг, а в блоге – сотни благодарных отзывов (почитайте)." | trans() }}</li>
                </ul>
            </div>
        </div>
        <a class="show-more-info">{{ "Подробнее" | trans() }}</a>
    </section>
    <footer class="footer">
        {{ include('_footer.html.twig') }}
    </footer>
</section>
<script>
    var serviceData = {
        'development': {
            url: '/services/web-development',
            projects: [
                {
                    name: 'MeinFernbus',
                    description: '{{ "Крупнейшая компания, специализируется на пассажирских перевозках в Германии" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/develop_big_mfb.jpg',
                    customer: {
                        name: '{{ "Алексей Колупаев" | trans() }}',
                        position: '{{ "CTO at MeinFernbus" | trans() }}',
                        avatarURL: '/assets/img/fish/customer.png',
                        comment: '{{ "Мы сотрудничали со студией больше 3 лет. Сейчас MeinFernbus является крупнейшим пассажирским перевозчиком. Всё благодаря ребятам из stfalcon!" | trans() }}'
                    },
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'meinfernbus-de', 'categorySlug': 'web-development'}) }}'
                },
                {
                    name: 'KeepSnap',
                    description: '{{ "Сервис продажи фотографий для профессиональных фотографов" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/develop_small_keepsnap.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'keepsnap-com', 'categorySlug': 'web-development'}) }}'
                },
                {
                    name: 'UARoads',
                    description: '{{ "Социальный стартап по оценке качества дорог Украины" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/develop_small_uaroads.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'uaroads-com', 'categorySlug': 'web-development'}) }}'
                }
            ]
        },
        'design': {
            url: '/services/web-design',
            projects: [
                {
                    name: 'KeepSnap',
                    description: '{{ "Сервис продажи фотографий для профессиональных фотографов" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/design_big_keepsnap.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'keepsnap-com', 'categorySlug': 'web-design'}) }}'
                },
                {
                    name: 'Real Estate CRM',
                    description: '{{ "Система по работе с клиентами для строительной компании" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/design_small_crm.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'naberezhny-kvartal-crm', 'categorySlug': 'web-design'}) }}'
                },
                {
                    name: 'MeinFernbus',
                    description: '{{ "Крупнейшая компания, специализируется на пассажирских перевозках в Германии" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/design_small_mfb.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'meinfernbus-de', 'categorySlug': 'web-design'}) }}'
                }
            ]
        },
        'apps': {
            url: '/services/apps',
            projects: [
                {
                    name: 'MeinFernbus',
                    description: '{{ "Крупнейшая компания, специализируется на пассажирских перевозках в Германии" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/apps_big_mfb.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'meinfernbus-android', 'categorySlug': 'mobile-development'}) }}'
                },
                {
                    name: 'KeepSnap',
                    description: '{{ "Сервис продажи фотографий для профессиональных фотографов" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/apps_small_keepsnap.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'keepsnap-android', 'categorySlug': 'mobile-development'}) }}'
                },
                {
                    name: 'UARoads',
                    description: '{{ "Социальный стартап по оценке качества дорог Украины" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/apps_small_uaroads.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'uaroads-android', 'categorySlug': 'mobile-development'}) }}'
                }
            ]
        },
        'games': {
            url: '/services/games',
            projects: [
                {
                    name: 'Nizam',
                    description: '{{ "Увлекательный мобильный вариант одноименной настольной игры" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/games_big_nizam.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'nizam-android', 'categorySlug': 'game-development'}) }}'
                },
                {
                    name: 'Galaxy Recon',
                    description: '{{ "Двумерный аркадный шутер, оружие и враги в ассортименте" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/games_small_galrecon.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'galaxy-recon-android', 'categorySlug': 'game-development'}) }}'
                },
                {
                    name: 'Swell Foop',
                    description: '{{ "Головоломка, цель которой — убрать все кубики с игрового поля" | trans() }}',
                    projectPreviewURL: '/assets/img/preview/games_small_samegame.jpg',
                    URL: '{{ path('portfolio_project_view', {'projectSlug': 'swell-foop-android', 'categorySlug': 'game-development'}) }}'
                }
            ]
        }
    };
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% javascripts 'assets/js/libs/jquery.history.min.js' 'assets/js/libs/sly.js' 'assets/js/homepage.js' 'js/subscribe.js' output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if app.request.host == 'stfalcon.com' %}
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1047640200;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="Google conversion" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1047640200/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <script type="text/javascript">
        adroll_adv_id = "4D2635Z5I5HHPLZFLSLGPF";
        adroll_pix_id = "QCTMESTTRVHSZENSLNPNCG";
        (function () {
            var oldonload = window.onload;
            window.onload = function(){
                __adroll_loaded=true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if(oldonload){oldonload()}};
        }());
    </script>
    <script type="text/javascript">
        (function () {
            var a = document.createElement("iframe");
            a.style.cssText = "width: 0; height: 0; border: 0";
            a.src = "javascript:false";
            var b = function () {
                setTimeout(function () {
                    var b = a.contentDocument || a.contentWindow.document, c = b.createElement("script");
                    c.src = "//static-trackers.adtarget.me/javascripts/pixel.min.js";
                    c.id = "GIHhtQfW-atm-pixel";
                    c["data-pixel"] = "6b426f21b81c3aad68c1d763c1d156e4";
                    c["allow-flash"] = false;
                    b.body.appendChild(c);
                }, 0);
            };
            a.addEventListener ? a.addEventListener("load", b, !1) : a.attachEvent ? a.attachEvent("onload", b) : a.onload = b;
            document.body.appendChild(a);
        })();

        $(document).ready(function() {
            $( "a[href^='tel:']" ).on( 'click', function() {
                ga('send', 'event', 'click', 'phone', this.href);
            });

            $( "a[href^='skype:stfalcon']" ).on( 'click', function() {
                ga('send', 'event', 'click', 'skype', this.href);
            });

            $( "a[href='mailto:info@stfalcon.com']" ).on( 'click', function() {
                ga('send', 'event', 'click', 'mail', this.href);
            });
        });
    </script>
{% endif %}
</body>
</html>
