{% extends '::base.html.twig' %}

{% block body %}
<div class="wrapper_landing projection_land">
    {{ include('@ApplicationDefault/Default/_ui_design_landing_header.html.twig') }}
    <section id="scroll" class="info_slide">
        <div class="top_text"><p>{{ 'Хорошо, если этот спор действительно рождает истину, а не превращается в банальную ссору'|trans }}. {{ 'В первом варианте развития событий имеет место быть продуктивная работа команды, во втором – неправильный подход к проектированию работы'|trans }}.</p></div>
        <div class="bottom_text"><p>{{ 'От того, насколько проект сложеный и как качественно было выполнено проектирование, зависит результат, уровень удовлетворенности заказчика, а в дальнейшем – покупателей продукта или услуги'|trans }}.</p></div>
    </section>
    <section class="info_technology">
        <h2>{{ 'Общие положения'|trans }}<br> &laquo;{{ 'кораблестроения'|trans}}&raquo; {{ 'интерфейса'|trans }} </h2>
        <div class="wrap_text"><p>{{ 'Правильное проектирование веб-интерфейсов – эта то важнейшее звено цепи качественной реализации, которое соединяет модели поведения пользователя и функциональность продукта'|trans }}.</p></div>
        <div class="bottom_text"><p>{{ 'На первом этапе определяется тип аудитории, ставятся цели и задачи, которых необходимо достичь или решить'|trans }}. {{ 'Все пользовательские действия прорабатываются на основе «карты взаимодействия» - анализируются поведенческие факторы, сравниваются результаты и выводится самый оптимальный способ графического и текстового отображения информации'|trans }}.</p></div>
    </section>
    <section class="list_projection">
        <div class="title_projection">
            <p>{{ 'Если разбить все проектирование пользовательского интерфейса на этапы, то можно вывести следующую картину работы:'|trans }}</p>
        </div>
        <ul>
            <li><h3>{{ 'ПРЕДВАРИТЕЛЬНЫЙ'|trans }}<br> {{ 'АНАЛИЗ'|trans }} </h3><p>{{ 'Обсуждается основное направление проекта'|trans}}: {{ 'суть, цель, краткое описание функциональности при помощи микро-сценариев взаимодействия'|trans }}. {{ 'Обязательно имеется абрис ментальности клиентов – их потребности, точки принятия решения, побудительные факторы для совершения покупки и тд'|trans }}</p></li>
            <li><h3>{{ 'ОПРЕДЕЛЕНИЕ ЗНАЧИМОСТИ'|trans }}<br> {{ 'ФУНКЦИОНАЛЬНЫХ ЗОН'|trans }}</h3><p>{{ 'Некоторые особенности проекта требуют использования полного функционального процесса, другие – отдельной страницы, а третьи – обычной кнопки действия'|trans }}. {{ 'Эта сетка данных накладывается на карту сайта, создавая схему навигации'|trans }}.</p></li>
            <li><h3>{{ 'СОСТАВЛЕНИЕ КАРТЫ САЙТА'|trans }}</h3><p>{{ 'Это лишь черновой набросок, но именно он будет в дальнейшем отвечать за проектирование интерфейса пользователя'|trans }}. {{ 'Карта составляется на основе компиляции информации, определенной в первом пункте'|trans }}. {{ 'Здесь же оценивается фронт работ и рассчитываются сроки выполнения заказа'|trans }}.</p></li>
            <li><h3>{{ 'СОЗДАНИЕ'|trans }}<br>{{ 'СТРУКТУРНЫХ СХЕМ СТРАНИЦ'|trans }} </h3><p>{{ 'Происходит визуализация расположения элементов управления и информации – это не дизайн, но wireframes, те техническое задание для дизайнера'|trans }}. {{ 'Процесс утверждения и подтверждения всех элементов системы занимает от одной до нескольких недель, в зависимости от сложности проекта'|trans }}.</p></li>
            <li><h3>{{ 'КРЕАТИВ-КОНЦЕПТ'|trans }}<br> {{ ' И ДИЗАЙН-МАКЕТЫ'|trans }}</h3><p>{{ 'Прорабатываем общую стилистику проекта на основе креативной работы дизайнера, прорисовываем макеты основных страниц системы'|trans }}. {{ 'Это ключевой этап, так как на нем объединяется внутренняя суть проекта и его полная визуализация'|trans }}. {{ 'Дополнительно создается руководство по стилям интерфейса, позволяющее в дальнейшем сохранять выбранное направление в случае доработки и расширения функционала или добавления новых систем'|trans }}.</p></li>
        </ul>
    </section>
    <section class="checkmark_text">
        <div class="wrap_text">
            <p>{{ 'Решив заказать проектирование интерфейса в компании Stfalcon, вы также получите авторскую поддержку интерфейса и подготовку специфики продукта, включающую все требования системы по функциональности, архитектуре и эксплуатации'|trans }}.</p>
            <p>{{ 'Мы обеспечиваем вас идеально работающей системой и полным пакетом документов, позволяющих оперативно реагировать на изменения в требованиях системы'|trans }}. {{ 'Учитывая частоту изменений в современных проектах, это является существенным бонусом от нашей компании, так как позволяет безукоризненно следовать выбранному успешному пути взаимодействия с клиентом'|trans }}.</p>
        </div>
    </section>
    {% include('@ApplicationDefault/Default/_landing_order_form.html.twig') %}
</div>
<footer class="footer vcard">
    {% include('::_footer.html.twig') %}
</footer>
{% endblock body %}
{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts 'js/vendor/jquery-1.11.1.min.js' 'js/sly.js' 'js/jquery.validate.min.js' 'js/promotion_apps_main.js' output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}
