{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper_landing ember_land">
        {% include('@ApplicationDefault/Default/ember_js_landing_header.html.twig') %}
        <section id="scroll" class="info_product">
            <div class="top_text"><p>{{ 'Рынок веб-разработки развивается очень стремительно, становится более изменчивым, ежедневно диктует новую моду на технологии'|trans }}.</p></div>
            <div class="info">
                <div class="info_1">
                    <div class="wrap_icon">
                        <span class="icon_info icon_speed-blue"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'Еще недавно вездесущие инструменты становятся все более несостоятельными, в то время как для решения большинства конкретных задач сегодня чаще используются узкие технологии'|trans }}. {{ 'Удобство становится тождественным с пользованием нативными веб-приложениями (например, написанными на java — для Android, для iOS — на Objective-C, Swift)'|trans }}.</p></div>
                </div>
                <div class="info_2">
                    <div class="wrap_icon">
                        <span class="icon_info icon_window-code"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'Говоря о передовых технологиях, связанных с веб-архитектурой, невозможно не упомянуть о Single Page Application (SPA) — так называется популярная сегодня категория веб-приложений, которые выполняются непосредственно на стороне клиента в его веб-браузере без перезагрузки страницы'|trans }}.</p></div>
                </div>
            </div>
        </section>
        <section class="gmail">
            <span class="icon_gmail"></span>
            <div class="wrap_text">
                <p>{{ 'Одно из самых известных, показательных и мощных SPA в мире —  это почтовый сервис GMail от Google'|trans }}.</p>
            </div>
        </section>
        <section class="list_number">
            <h2>{{ 'Преимущества'|trans }}<br>  Single Page Application (SPA)</h2>
            <ul>
                <li><p class="number">1</p><p>{{ 'SPA работают по принципу нативных десктоп-приложений c богатым пользовательским интерфейсом, построить который намного проще именно за счет одностраничности;'|trans }}</p></li>
                <li><p class="number">2</p><p>{{ 'мгновенная загрузка интернет-страницы'|trans }}: {{ 'html-страница в браузере загружается без перезагрузки вместе со всем кодом приложения (js и css файлами);'|trans }}</p></li>
                <li><p class="number">3</p><p>{{ 'если приложение слишком масштабное, AMD загружает необходимые модули по требованию;'|trans }}</p></li>
                <li><p class="number">4</p><p>{{ 'жесткое разделение клиентской и серверной логики (разроботка api)'|trans }}</p></li>
            </ul>
        </section>
        <section class="info_technology">
            <h2>{{ 'Почему Emberjs — лучший фреймворк'|trans }}<br>{{ 'для создания Single Page Applications'|trans }}</h2>
            <div class="wrap_text"><p>{{ 'Разработка и создание web-приложений на базе framework Emberjs — возможность быстро и качественно решить вопрос с организацией своего бизнеса в интернете'|trans }}.</p></div>
            <div class="list_ember">
                <ul>
                    <li><h3>{{ 'ДОВЕРИЕ ЛИДЕРОВ'|trans }}</h3><p>{{ 'Для создания гибких маштабируемых spa-приложений его используют такие всемирно известные крупные компании, как Instagrille, Yahoo, Tilde, Twine, Univese, Ted и другие'|trans }}.</p></li>
                    <br>
                    <li><h3>{{ 'КАСТОМИЗАЦИЯ'|trans }}</h3><p>{{ 'Проект на Emberjs  можно легко расширять и поддерживать'|trans }}.</p></li>
                    <li><h3>{{ 'СКОРОСТЬ'|trans }}</h3><p>{{ 'При разработке на Ember особое внимание всегда уделялось быстродействию, поэтому приложения загружаются моментально'|trans }}.</p></li>
                    <li><h3>{{ 'УНИВЕРСАЛЬНОСТЬ'|trans }}</h3><p>{{ 'Возможность компонентной архитектуры (можно повторно использовать код)'|trans }}.</p></li>
                    <li><h3>{{ 'БУДУЩЕЕ'|trans }}</h3><p>{{ 'Это активно развивающаяся и перспективная технология'|trans }}.</p></li>
                </ul>
            </div>
        </section>
        <section class="checkmark_text">
            <h2>{{ 'Что вы получите, обратившись к нам?'|trans }}</h2>
            <div class="wrap_text">
                <p>{{ 'В Stfalcon работает команда профессионалов - верстальщиков, дизайнеров, разработчиков, художников и менеджеров, которые, используя современные технологии, добиваются точного исполнения поставленной Вами задачи'|trans }}. {{ 'Мы экспертно владеем php-фреймворком Symfony2, имеем большой опыт разработки web сайтов на Emberjs'|trans }}. {{ 'Пожалуй, лучше, чем кто-либо'|trans }}.</p>
                <p>{{ 'Наше сотрудничество будет приятным, взаимовыгодным и интересным для обеих сторон'|trans }}.</p>
            </div>
        </section>
        {% include('@ApplicationDefault/Default/_landing_order_form.html.twig') %}
    </div>
<footer class="footer vcard">
    {% include('::_footer.html.twig') %}
</footer>
{% endblock body %}
{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts 'js/vendor/jquery-1.11.1.min.js' 'js/sly.js' 'js/jquery.validate.min.js' 'js/promotion_apps_main.js' output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}
