{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper_landing sylius_land">
        {% include('@ApplicationDefault/Default/_sylius_landing_header.html.twig') %}
        <section id="scroll" class="info_product about_technology">
            <div class="top_text"><p>{{ 'На рынок ключевых игроков среди e-commerce решений несколько лет назад вышла e-commerce платформа Sylius, основанная на Symfony2'|trans }}. {{ 'В ее актив можно записать хорошо документированный открытый код, покрытость тестами, а также'|trans }} &laquo;{{ 'дружелюбность интерфейса'|trans }}&raquo;.</p></div>
            <div class="info">
                <div class="info_1">
                    <div class="wrap_icon">
                        <span class="icon_info icon_speed"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'Иными словами, девелоперам не придется прикладывать много усилий в области маркетинга – достаточно будет просто акцентировать внимание на том, что Sylius строится на базе Symfony2'|trans }}. {{ 'Благодаря базе Symfony2 проект на Sylius легко расширяемый и масштабируемый'|trans }}.</p></div>
                </div>
                <div class="info_2">
                    <div class="wrap_icon">
                        <span class="icon_info icon_puzzle"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'Разработка web-сайтов на Sylius предполагает бесплатную загрузку, внесение изменений и дистрибуцию по MIT-лицензии – все то, о чем только могут мечтать девелоперы'|trans }}. {{ 'Основанная на BDD и TDD принцыпах, она состоит из 20 независимых компонентов, которые могут использоваться как по отдельности, так и вместе в наиболее удобной компиляции'|trans }}.</p></div>
                </div>
            </div>
        </section>
        <section class="sylius_platform">
            <h2>{{ 'Новая и надежная платформа'|trans }}</h2>
            <div class="wrap_text"><span class="icon_sylius"></span><p>{{ 'Создание веб сайта на Sylius позиционируется, как безусловно дружелюбная пользователям и разработчикам платформа'|trans }}. {{ 'Конечная цель – мощный движок для интернет-магазина, который имеет максимально широкий охват инструментов, позволяющих уделять больше внимания действительно важным моментам, не тратя время на детали'|trans }}.</p></div>
        </section>
        <section class="list_sylius">
            <div class="wrap_text"><p>{{ 'Пока что даже самые критично настроенные разработчики не нашли минусов в столь идеальном e-commerce решении'|trans }}. {{ 'Список возможностей при разработке с нуля впечатляет'|trans }}:</p></div>
            <ul>
                <li><div class="wrap_icon"><span class="icon_manage"></span></div><p>{{ 'Простое'|trans }}<br> {{ 'управление'|trans }} </p></li>
                <li><div class="wrap_icon"><span class="icon_box-hand"></span></div><p>{{ 'Быстрая категоризация'|trans }}<br> {{ 'продуктов'|trans }} </p></li>
                <li><div class="wrap_icon"><span class="icon_delivery"></span></div><p>{{ 'Доставка'|trans }}</p></li>
                <li><div class="wrap_icon"><span class="icon_graph-up"></span></div><p>{{ 'Система'|trans }}<br> {{ 'продвижения'|trans }} </p></li>
                <li><div class="wrap_icon"><span class="icon_barcode-search"></span></div><p>{{ 'Контроль'|trans }}<br> {{ 'над остатком товара'|trans }} </p></li>
                <li><div class="wrap_icon"><span class="icon_bill"></span></div><p>{{ 'Отслеживание'|trans }}<br> {{ 'налогов'|trans }}</p></li>
            </ul>
        </section>
        <section class="text_info">
            <div class="wrap_text">
                <p>{{ 'К чести Sylius можно смело заявить'|trans }}: {{ 'команда разработчиков избавилась от одного аспекта, значительно усложняющего работу на других платформах'|trans }}. {{ 'Речь идет о усложненном пользовательском управлении – интерфейс стал гораздо более удобным, работая по принципу «Регистрация, вход в систему и выход из системы»'|trans }}. {{ 'С одной стороны, это отличное решение, но только для стандартных и шаблонных действий – некоторые продвинутые e-commerce аспекты, например, такие как CRM, требуют управления взаимоотношениями с пользователями'|trans }}.</p>
            </div>
        </section>
        <section class="info_product development">
            <h2>{{ 'Стабильное развитие'|trans }}<br>  {{ 'и совершенствование'|trans }}</h2>
            <div class="info">
                <div class="info_1">
                    <div class="wrap_icon">
                        <span class="icon_info icon_arrow-ripple"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'За последнее время в системе Sylius не происходило никаких заметных изменений, что является отличным показателем для столь молодой платформы – это сигнализирует о том, что платформа продолжает свое развитие в том же направлении и в тех же темпах'|trans }}.</p></div>
                </div>
                <div class="info_2">
                    <div class="wrap_icon">
                        <span class="icon_info icon_box-lights"></span>
                    </div>
                    <div class="wrap_text"><p>{{ 'Создание сайта на заказ на платформе Sylius – это кропотливая работа истинных спецов своего дела, знающих не только язык программирования, но и язык успеха в бизнесе'|trans }}. {{ 'Обращаясь к нам, вы получаете сайт, отвечающий всем современным требованиям'|trans }}: {{ 'высокая скорость загрузки, предельно четкий и интуитивно понятный интерфейс, специальное дизайнерское оформление; и постоянную информационную поддержку'|trans }}.</p></div>
                </div>
            </div>
        </section>
        {% include('@ApplicationDefault/Default/_landing_order_form.html.twig') %}
    </div>
<footer class="footer vcard">
    {% include('::_footer.html.twig') %}
</footer>
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts 'js/vendor/jquery-1.11.1.min.js' 'js/sly.js' 'js/jquery.validate.min.js' 'js/promotion_apps_main.js' output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

