{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper_landing mob_design_land">
        {{ include('@ApplicationDefault/Default/_mobile_app_landing_header.html.twig') }}
        <section id="scroll" class="info_slide">
            <div class="top_text">
                <p>{{ 'Мы живем в век экспоненциального роста – количество используемых мобильных устройств и приложений увеличивается даже не с каждым годом, а с каждым днем'|trans }}
                    . {{ 'Смартфоны, планшеты и мобильные устройства применяются для самых невообразимых целей'|trans }}
                    .</p></div>
            <div class="bottom_text">
                <p>{{ 'Разработка дизайна мобильных приложений под платформы iOS и Android позволяет вашим товарам и услугам проникать в гаджеты ваших потенциальных клиентов, делая их реальными заказчиками'|trans }}
                    .</p></div>
        </section>
        <section class="apple_mania">
            <h2>{{ 'Эппл-мания и ваш успех'|trans }}</h2>

            <div class="wrap_text">
                <div class="numbers_info">
                    <div class="number">
                        <div class="number_sup"><p>1,4<sup>{{ 'млн'|trans }}</sup></p></div>
                        <p class="number_text">{{ 'приложений'|trans }}</p>
                    </div>
                    <div class="number">
                        <div class="number_sup"><p>50<sup>{{ 'млн'|trans }}</sup></p></div>
                        <p class="number_text">{{ 'скачиваний'|trans }}</p>

                        <p class="text_note">* {{ 'Согласно статистике 2014 года'|trans }}</p>
                    </div>
                </div>
                <div class="inform">
                    <p>{{ 'Несомненное преимущество мобильных приложений – возможность прямой стимуляции покупательской активности'|trans }}
                        . {{ 'Пусть ваш клиент не всегда носит с собой ноутбук, но смартфон стал неотъемлемой частью «ежедневного набора» современного человека'|trans }}
                        . {{ 'Используя Push-уведомления, вы сможете сообщать своим клиентам о появлении нового продукта, услуги или акции'|trans }}
                        .</p>

                    <p>{{ 'Креативный дизайн приложений для iOS – это трамплин успеха для вашего бизнеса, который поднимет вас не небывалые высоты'|trans }}
                        . {{ 'По самым скромным подсчетам годовой оборот средней компании увеличивается на 10% в случае правильной разработки программ для планшетов и смартфонов – с уникальным дизайном, высоким порогом защиты от вредоносного ПО и интуитивно понятным управлением'|trans }}
                        .</p>
                </div>
            </div>
        </section>
        <section class="trick">
            <h3>{{ 'Маленькая хитрость'|trans }}</h3>

            <div class="stars"><span class="icon_stars"></span></div>
            <div class="wrap_text">
                <p>{{ 'Мы можем модифицировать приложение таким образом, чтобы ОС отслеживала интернет-запросы покупателя, и предлагало ему именно тот продукт, который ему будет наиболее интересен'|trans }}
                    .</p>
            </div>
        </section>
        <section class="android">
            <h2>{{ 'Android не для андроидов'|trans }},<br> {{ 'а для людей'|trans }} </h2>

            <div class="wrap_text">
                <div class="numbers_info">
                    <div class="number">
                        <div class="number_sup"><p>86<sup>%</sup></p></div>
                        <p class="number_text">{{ 'УСТРОЙСТВ'|trans }}<br> {{ 'C ANDROID OS'|trans }}</p>
                    </div>
                </div>
                <div class="inform">
                    <p>{{ 'А что же дает дизайн приложений для Android? Обратимся к тем же вездесущим цифрам, отражающим реальную статистику покупок и интересы современного общества'|trans }}
                        . {{ 'Только за прошлый год в стране было приобретено более 1 млрд устройств, работающих на основе этой ОС'|trans }}
                        . {{ 'Иными словами, в 86% всех проданных смартфонов во втором квартале была установлена Android-система'|trans }}
                        .</p>

                    <p>{{ 'Android представляет собой платформу с открытым исходным кодом от Google и отличается весьма простыми настройками и высокой адаптивностью по отношению к разнообразным планшетам и телефонам'|trans }}
                        . {{ 'Эти особенности сделали данную операционную систему идеальной для внедрения самых интересных мобильных приложений, что идеально соответствует современным потребностям бизнеса'|trans }}
                        .</p>
                </div>
            </div>
        </section>
        <section class="button_order">
            <a href="#scroll_form">{{ 'Заказать дизайн мобильного приложения'|trans }}</a>
        </section>
        <section class="slide_mob mfb_mob">
            <div class="wrap">
                <div class="img-site">
                    <div class="app-inf-right">
                        <h1>MeinFernbus.de</h1>

                        <p>{{ 'Мобильное приложение для крупнейшего пассажирского перевозчика в Германии'|trans }}.</p>
                    </div>
                    <img src="{{ asset('img/img_land/mob_mfb.png') }}" alt=""/>
                </div>
            </div>
        </section>
        <section class="slide_mob cook_mob">
            <div class="wrap">
                <div class="app-inf">
                    <h1>Cookorama</h1>

                    <p>{{ 'Узнавать новые рецепты стало еще удобней'|trans }}
                        . {{ 'База рецептов пополняется постоянно, ингредиенты можно на лету добавлять в список покупок'|trans }}
                        .</p>
                </div>
                <div class="site-img">
                    <img src="{{ asset('img/img_land/devapp_tablet_cook.png') }}" width="893" height="480" alt="">

                    <div class="dev-img">
                        <img src="{{ asset('img/img_land/devapp_mob_cook1.png') }}" width="240" height="300" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="slide_mob ks_mob">
            <div class="wrap">
                <div class="img-site">
                    <div class="app-inf-right">
                        <h1>KeepSnap</h1>

                        <p>{{ 'Позволяет фотографу просматривать баланс, создавать закрытые галереи и отмечать свое положение на карте'|trans }}
                            .</p>
                    </div>
                    <img src="{{ asset('img/img_land/mob_ks.png') }}" alt=""/>
                </div>
            </div>
        </section>
        <section class="slide_mob megasos_mob">
            <div class="wrap">
                <div class="app-inf">
                    <h1>MegaS.O.S.</h1>

                    <p>{{ 'Приложение позволяет автомобилисту отправить сообщение с просьбой о помощи и указать, где именно приключилась неприятность'|trans }}
                        .</p>
                </div>
                <div class="site-img">
                    <img src="{{ asset('img/img_land/devapp_tablet_ms.png') }}" width="481" height="480" alt="">

                    <div class="dev-img">
                        <img src="{{ asset('img/img_land/devapp_mob_ms1.png') }}" width="282" height="335" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="platform_select">
            <h2>{{ 'Какую платформу выбрать'|trans }}?</h2>

            <div class="title_platform">
                <p>{{ 'Какой бы вы ни выбрали вариант, создание приложений от компании Stfalcon будет реализовано следующим образом'|trans }}
                    :</p>
            </div>
            <ul>
                <li><h3>{{ 'ФОРМИРОВАНИЕ МАКЕТА'|trans }}</h3>

                    <p>{{ 'Анализируем пожелания заказчика, составляем черновые наброски макета – именно на этом этапе вносятся основные корректировки, необходимые для дальнейшего совершенствования'|trans }}
                        .</p></li>
                <li><h3>{{ 'ПРОПИСЫВАЕМ ЛОГИКУ'|trans }}<br> {{ 'ИНТЕРФЕЙСА'|trans }} </h3>

                    <p>{{ 'Иными словами, тестируем утвержденные макеты, проверяем механику смены экрана при переходе между меню и подменю'|trans }}
                        . {{ 'Этот этап определяет работу дизайнеров, ее направленность и особенности'|trans }}.</p>
                </li>
                <li><h3>{{ 'РАЗРАБОТКА ДИЗАЙНА'|trans }}</h3>

                    <p>{{ 'От работы дизайнеров будет зависеть привлекательность приложения для пользователей и, как результат, количество его загрузок'|trans }}
                        . {{ 'Дизайнеры проведут обширную исследовательскую работу, итогом которой станет нахождение лучшего интерфейсного решения'|trans }}
                        . {{ 'Отдельно стоит выделить работу над созданием узнаваемой иконки приложения'|trans }}.</p>
                </li>
                <li><h3>{{ 'СОВМЕЩЕНИЕ ПО И ДИЗАЙНА'|trans }}</h3>

                    <p>{{ 'Собственно, основная и самая значимая разработка всего приложения, так как в этот момент происходит совмещение выбранной версии ПО и нарисованного ранее дизайна с внесенными коррективами'|trans }}
                        .</p></li>
                <li><h3>{{ 'ПОЛНОЕ ТЕСТИРОВАНИЕ'|trans }}</h3>

                    <p>{{ 'Мы проверяем работоспособность приложения «от и до», обнаруживаем ошибки интерфейса, если таковые имеются'|trans }}
                        .</p></li>
                <li><h3>{{ 'СДАЕМ ПРОЕКТ'|trans }}</h3>

                    <p>{{ 'Приложение публикуется в AppStore (iOS) или Play Market (Android)'|trans }}
                        . {{ 'Вы начинаете получать прибыль'|trans }}.</p></li>
            </ul>
        </section>
        <section class="checkmark_text">
            <div class="wrap_text">
                <p>{{ 'Вы можете заказать у нас разработку приложения любой сложности'|trans }}
                    . {{ 'Мы работаем, чтобы вы зарабатывали и развивались, получая постоянную прибыль'|trans }}.</p>
            </div>
        </section>
        {% include('@ApplicationDefault/Default/_landing_order_form.html.twig') %}
    </div>
<footer class="footer vcard">
    {% include('::_footer.html.twig') %}
</footer>
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts 'js/vendor/jquery-1.11.1.min.js' 'js/sly.js' 'js/jquery.validate.min.js' 'js/promotion_apps_main.js' output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

