{% extends '::base.html.twig' %}
{% block title %}{{ title }}{% endblock title %}
{% set styles = {
    'mobile-app-design': 'mob_design_land',
    'responsive-design':'adaptive_land',
    'ui-design':'projection_land',
    'ember-js':'ember_land',
    'silex':'silex_land',
    'sylius':'sylius_land'}
%}

{% block body %}
    {% if styles[app.request.get('type')] is defined %}
        {% set land_style = 'wrapper_landing '~styles[app.request.get('type')] %}
    {% else %}
        {% set land_style = 'landing-wrapper' %}
    {% endif %}
    <div class="{{ land_style }}">
        {% if landing_page %}
            {% if render_html is defined %}
                <div class="header">
                    {% include '::_header_index.html.twig' %}
                </div>
                {{ render_html|raw }}
            {% else %}
                {% include('@ApplicationDefault/Default/_landing_header.html.twig') with {'landing_page': landing_page}  %}
                {{ landing_page.text|raw }}
            {% endif %}
        {% endif %}
        {% if landing_page.projects|length > 0 -%}
            <div class="section-cms">
                <h3>{{ 'Примеры разработки веб-сайтов'|trans }}</h3>
                {% include ('@StfalconPortfolio/Category/_widget_examples_prj.html.twig') with {'projects': landing_page.projects} %}
            </div>
        {% endif %}
        {% if landing_page.posts|length > 0 %}
            <div class="blog-post post-content">
                {% include ('@StfalconBlog/Post/relatedPosts.twig') with {'related_posts': landing_page.posts} %}
            </div>
        {% endif %}
        <div class="contact-us">
            <div class="h2 contact-us__title">
                {{ 'Давайте сделаем что-то классное вместе'|trans }}
            </div>
            <div class="contact-us__text">
                {{ 'Свяжитесь с нами, и мы поможем решить ваши задачи.'|trans }}
            </div>
            {% include('@StfalconPortfolio/hire_us_right_button.html.twig') %}
            {% include('@StfalconPortfolio/hire_us_button.html.twig') with {'category':landing_page } %}
            {{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': landing_page.slug })) }}
        </div>
    </div>
<footer class="footer vcard">
    {% include('::_footer.html.twig') %}
</footer>
{% endblock body %}
