{% extends '::base.html.twig' %}

{% block body %}
    {% set eventName = 'order_games' %}
    <div class="slide scrollto-line">
        <div class="wrap">
            <a class="btn" id="scrollto-btn" href="#">{{ 'Связаться с нами'|trans }}</a>
        </div>
    </div>
    <section class="slide header-slide">
        <div class="inner">
            <a class="logo icon" title="stfalcon" href="{{ path('homepage') }}"></a>

            <div id="scroll-down" class="icon"></div>

            <div class="inner-content wider-text">
                <h1>{{ "Разработка мобильных игр" | trans() }}</h1>
                <p>{{ "Мы разрабатываем игры для мобильных устройств на игровом движке Unity под платформы Android и iOS." | trans() }}</p>
                <div class="platforms">
                    <div class="icon icon-android"></div>
                    <div class="icon icon-apple"></div>
                </div>
                <a class="btn" id="to-feedback-btn" href="#">{{ 'Связаться с нами' | trans() }}</a>
            </div>
        </div>
    </section>

    <section class="our-advantages-wr">
        <div class="wrap">
            <h1>{{ "Почему мы?" | trans() }}</h1>
            <div class="our-advantages clearfix">
                <div class="column float-left">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Индивидуальный подход к менеджменту проекта и организации рабочего процесса" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Соблюдаем сроки, используем разные методологии разработки" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column float-right">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Команда состоит из более 20 опытных специалистов" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "За 5 лет мы успешно запустили и поддерживаем более 80 проектов" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-slide nizam">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "Nizam" | trans() }}</h1>
                <p>{{ "Увлекательный мобильный вариант одноименной настольной игры. Вариация механики «три-в-ряд», интегрированная в дуэльный режим." | trans() }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/app_nizam.png') }}" width="843" height="435" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide galaxyrecon">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "Galaxy Recon" | trans() }}</h1>
                <p>{{ "2D Survival Shooter. Идея проста: есть главный герой, есть толпа различных монстров, нужно от них отбиться." | trans() }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/app_galaxyrecon.png') }}" width="846" height="435" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide samegame">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "SameGame" | trans() }}</h1>
                <p>{{ "Головоломка, целью которой является уничтожение всех кубиков, расположенных на экране, за как можно меньшее количество ходов." | trans() }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="{{ app.request.locale == 'ru'?asset('img/pages/promotions/apps/app_samegame.png'):asset('img/pages/promotions/apps/app_samegame_en.png') }}" width="843" height="435" alt=""/></a>
            </div>
        </div>
    </section>

    {#<section class="testimonials" >#}
        {#<div class="wrap">#}
            {#<a id="slider-prev" href=""></a>#}
            {#<a id="slider-next" href=""></a>#}
            {#<h3>Слово нашим клиентам</h3>#}
            {#<div class="icon icon-quote"></div>#}
            {#<div id="slider">#}
                {#<ul id="slidee">#}
                    {#<li>#}
                        {#<div class="inf-pad">#}
                            {#<div class="wr">#}
                                {#<p>Мобильное кулинарное приложение — «Рецепты от Кукорамы» (Cookorama). Создали полезное#}
                                    {#и интуитивно удобное приложение для любителей готовить. Позволяет легко пополнять#}
                                    {#свою кулинарную книгу новыми рецептами, формировать список избранных рецептов и#}
                                    {#одним движением добавлять нужные продукты в список покупок, который корректируется в#}
                                    {#зависимости от количества порций или имеющихся продуктов. </p>#}
                                {#<div class="review-author">#}
                                    {#<p class="name">Андрей Мануленко, </p>#}
                                    {#<p>сооснователь Cookorama.net</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}

                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section id="feedback-line" class="blue-line">
        <div class="wrap">
            {% block order_form %}
                {% include 'ApplicationDefaultBundle:Default/promotion:order_form.html.twig' with {'form': form, 'type': 'mobilegames', 'locale': app.request.locale} %}
            {% endblock order_form %}
        </div>
    </section>
    <!--content end-->

    <!--footer begin-->
    {{ include('ApplicationDefaultBundle:Default:_promotion_footer.html.twig') }}
    <!--footer end-->
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}
    <script src="{{ asset('js/jquery.validate.min.js') }}" type="text/javascript"></script>
    {% javascripts
        'js/sly.js'
        'js/promotion_apps_main.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

{% block stylesheets %}
    <!--[if gte IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/ie.css') }}"/>
    <![endif]-->
    {% stylesheets filter='less, cssrewrite' output='cache/css/*.css' 'css/page_promotions.less' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
