{% extends '::base.html.twig' %}

{% block body %}
    <section class="slide header-slide">
        <div class="inner">
            <a class="logo icon" href="{{ path('homepage') }}"></a>

            <div id="scroll-down" class="icon"></div>

            <div class="inner-content">
                <h1>{{ 'Разработка веб-проектов'|trans|raw }}</h1>

                <p>{{ 'Мы специализируемся на разработке больших и средних<br />сайтов с нестандартной функциональностью.'|trans|raw }}</p>

                <a class="btn" id="to-feedback-btn" href="#">{{ 'Заказать сайт'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="our-advantages-wr">
        <div class="wrap">
            <h1>{{ 'Почему мы?'|trans }}</h1>

            <div class="our-advantages clearfix">
                <div class="column float-left">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Индивидуальный подход к менеджменту проекта и организации рабочего процесса'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Соблюдаем сроки, используем разные методологии разработки'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column float-right">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Команда состоит из более 20 опытных специалистов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'За 5 лет мы успешно запустили и поддерживаем более 80 проектов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="webdev-slide mfb">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "MeinFernbus" | trans() }}</h1>
                <p>{{ "Сайт крупнейшей компании<br>пассажирских перевозок в Европе." | trans()|raw }}</p>

                <div class="tech-list">
                    <p>{{ "В разработке использовали:" | trans() }}</p>
                    <ul>
                        <li><div class="webtech-mysql"></div></li>
                        <li><div class="webtech-doctrine"></div></li>
                        <li><div class="webtech-behat"></div></li>
                        <li><div class="webtech-symphony"></div></li>
                        <li><div class="webtech-elasticsearch"></div></li>
                        <li><div class="webtech-rollbar"></div></li>
                        <li><div class="webtech-leaflet"></div></li>
                    </ul>
                </div>
            </div>
            <div class="site-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/page_mfb.jpg') }}" width="630" height="378" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="webdev-slide keepsnap">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "KeepSnap" | trans() }}</h1>
                <p>{{ "Сервис, где профессиональные фотографы продают отснятые фотографии своим клиентам. Клиент может купить фото любого качества из галереи фотографа." | trans() }}</p>
                <div class="tech-list">
                    <p>{{ "В разработке использовали:" | trans() }}</p>
                    <ul>
                        <li><div class="webtech-jquery"></div></li>
                        <li><div class="webtech-less"></div></li>
                        <li><div class="webtech-mysql"></div></li>
                        <li><div class="webtech-symphony"></div></li>
                        <li><div class="webtech-rabbitmq"></div></li>
                        <li><div class="webtech-sphinx"></div></li>
                        <li><div class="webtech-grunt"></div></li>
                    </ul>
                </div>
            </div>
            <div class="site-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/page_keepsnap.jpg') }}" width="630" height="378" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="webdev-slide megasos">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "MegaS.O.S" | trans() }}</h1>
                <p>{{ "Сообщество, где обсуждают вопросы тюнинга и ремонта или просто общаются на автомобильною тематику." | trans() }}</p>
                <div class="tech-list">
                    <p>{{ "В разработке использовали:" | trans() }}</p>
                    <ul>
                        <li><div class="webtech-less"></div></li>
                        <li><div class="webtech-leaflet"></div></li>
                        <li><div class="webtech-fresco"></div></li>
                        <li><div class="webtech-symphony"></div></li>
                        <li><div class="webtech-sphinx"></div></li>
                        <li><div class="webtech-enquire"></div></li>
                    </ul>
                </div>
            </div>
            <div class="site-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/page_megasos.jpg') }}" width="630" height="378" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="webdev-slide radialka">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "Радиалка" | trans() }}</h1>
                <p>{{ "Один из крупнейших интернет-магазинов, реализующих такую нишевую продукцию, как снаряжение для туризма и активного отдыха." | trans() }}</p>
                <div class="tech-list">
                    <p>{{ "В разработке использовали:" | trans() }}</p>
                    <ul>
                        <li><div class="webtech-less"></div></li>
                        <li><div class="webtech-behat"></div></li>
                        <li><div class="webtech-opencart"></div></li>
                        <li><div class="webtech-backbone"></div></li>
                        <li><div class="webtech-enquire"></div></li>
                    </ul>
                </div>
            </div>
            <div class="site-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/page_radialka.jpg') }}" width="630" height="378" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="webdev-slide cookorama">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "Кукорама" | trans() }}</h1>
                <p>{{ "Кулинарное сообщество, где собираются для обмена новыми рецептами и<br> делятся практическим опытом." | trans() }}</p>
                <div class="tech-list">
                    <p>{{ "В разработке использовали:" | trans() }}</p>
                    <ul>
                        <li><div class="webtech-mootools"></div></li>
                        <li><div class="webtech-livestreet"></div></li>
                        <li><div class="webtech-sphinx"></div></li>
                    </ul>
                </div>
            </div>
            <div class="site-img">
                <a href=""><img src="{{ asset('img/pages/promotions/apps/page_cookorama.jpg') }}" width="630" height="378" alt=""/></a>
            </div>
        </div>
    </section>


    <section class="testimonials" >
        <div class="wrap">
            <a id="slider-prev" href=""></a>
            <a id="slider-next" href=""></a>
            <h3>{{ 'Слово нашим клиентам'|trans }}</h3>
            <div class="icon icon-quote"></div>
            <div id="slider">
                <ul id="slidee">
                    <li>
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Мобильное кулинарное приложение — «Рецепты от Кукорамы» (Cookorama). Создали полезное и интуитивно удобное приложение для любителей готовить. Позволяет легко пополнять свою кулинарную книгу новыми рецептами, формировать список избранных рецептов и одним движением добавлять нужные продукты в список покупок, который корректируется в зависимости от количества порций или имеющихся продуктов.'|trans }}</p>
                                <div class="review-author">
                                    <p class="name">{{ 'Андрей Мануленко'|trans }},</p>
                                    <p>{{ 'сооснователь Cookorama.net'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'KeepSnap позволяет зарабатывать всем фотографам, в том числе начинающим фотографам-любителям. Проект создавался с нуля, отталкиваясь от идеи. Фотографы делают снимки на различных мероприятиях, загружают их к себе в галерею, а люди могут найти и купить свои фотографии. Заинтересованность людей в покупке очень высока, т.к. есть личная привязанность к этим фотографиям. Студия отлично справилась с созданием сайта, нестандартными задачами по обработке фотографий и написанию нативных приложений для платформ iOS и Android.'|trans }}</p>
                                <div class="review-author">
                                    <p class="name">{{ 'Команда KeepSnap.com'|trans }},</p>
                                    <p>{{ 'Онтарио, Канада'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="feedback-line" class="blue-line">
        <div class="wrap">
            <form novalidate="novalidate" autocomplete="off" id="feedback-form" class="feedback-form webdev-form" action="{{ path('promotion_order', {'type': 'development'}) }}" method="post" {{ form_enctype(form) }}>
                <div class="form-pad">
                    <h1>{{ 'Отправте заявку'|trans }}</h1>
                    <p>{{ "И мы поможем решить вашу задачу" | trans() }}</p>

                    <div class="line">
                        <div class="col2 float-left">
                            {{ form_widget(form.name, {'attr': {'placeholder': 'Ваше имя'|trans} }) }}
                        </div>
                        <div class="col2 float-right">
                            {{ form_widget(form.email, {'attr': {'class' : 'email', 'placeholder': 'Электронная почта'|trans} }) }}
                        </div>
                    </div>
                    <div class="line">
                        {{ form_widget(form.message, {'attr': {'placeholder': 'Напишите пару слов о сайте'|trans} }) }}
                    </div>
                    <div class="line">
                        <button class="btn btn-black float-right">{{ 'Заказать сайт'|trans }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-success">
                    <div class="wr">
                        <div class="inner-pad">
                            <h3>{{ 'Спасибо!'|trans }}</h3>

                            <p>{{ 'Мы изучим Вашу заявку<br>и ответим в ближайшее время.'|trans|raw }}</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!--content end-->

    <!--footer begin-->
    <footer class="vcard">
        <div class="wrap">
            {{ include('::_footer.html.twig') }}
        </div>
    </footer>
    <!--footer end-->
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts
        'js/vendor/jquery-1.11.1.min.js'
        'js/sly.js'
        'js/jquery.validate.min.js'
        'js/promotion_apps_main.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

{% block stylesheets %}
    <!--[if gte IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/ie.css') }}"/>
    <![endif]-->
    {% stylesheets filter='less, cssrewrite' output='cache/css/*.css' 'css/page_promotions.less' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
