{% extends '::base.html.twig' %}

{% block body %}
    {% set eventName = 'order_admin' %}
    <div class="slide scrollto-line">
        <div class="wrap">
            <a class="btn" id="scrollto-btn" href="#" onclick="ga('send', 'event', '{{ eventName }}', 'click');fbq('trackCustom', '{{ eventName }}');">{{ 'Заказать администрирование'|trans }}</a>
        </div>
    </div>
    <section class="slide header-slide">
        <div class="inner">
            <a class="logo icon" title="stfalcon" href="{{ path('homepage') }}"></a>


            <div id="scroll-down" class="icon"></div>

            <div class="inner-content wider-text">
                <h1>{{ "Администрирование веб&#8209;серверов" | trans() | raw }}</h1>
                <p>{{ "Мы специализируемся на администрировании больших и средних сайтов с нестандартной функциональностью." | trans() }}</p>
                <a class="btn" id="to-feedback-btn" href="#" onclick="ga('send', 'event', '{{ eventName }}', 'click');fbq('trackCustom', '{{ eventName }}');">{{ "Заказать администрирование" | trans() }}</a>
            </div>
        </div>
    </section>

    <section class="our-advantages-wr">
        <div class="wrap">
            <h1>{{ "Что мы предлагаем" | trans() }}</h1>
            <div class="our-advantages clearfix">
                <div class="column float-left">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Индивидуальный подход к менеджменту проекта и организации рабочего процесса" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Соблюдаем сроки, используем разные методологии разработки" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column float-right">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "Команда состоит из более 20 опытных специалистов" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ "За 5 лет мы успешно запустили и поддерживаем более 80 проектов" | trans() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-item centered">
                    <div class="inf-pad">
                        <div class="wr">
                            <p>{{ "Скрипты для автоматизации типовых задач администрирования" | trans() }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sysadmin-slide white-line">
        <div class="wrap">
            <div class="slide-inf float-left">
                <h1>{{ "Конфигурирование" | trans() }}</h1>
                <p>{{ "Мы используем систему централизованного управления конфигурациями Puppet, что позволяет быстрее выполнять повторяющиеся задачи и делает инфраструктуру более гибкой." | trans() }}</p>
                <div class="tech-img puppetlab-img"></div>
            </div>
            <div class="img-wr right-side">
                <div class="shadowed-img">
                    <img src="{{ asset('img/pages/promotions/apps/adminlanding_img01.jpg') }}" width="660" height="462" alt=""/>
                </div>
            </div>

            <div class="tech-list">
                <ul>
                    <li><div class="webtech-jenkins"></div></li>
                    <li><div class="webtech-nginx"></div></li>
                    <li><div class="webtech-docker"></div></li>
                    <li><div class="webtech-mongodb"></div></li>
                    <li><div class="webtech-mysql"></div></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="sysadmin-slide">
        <div class="wrap">
            <div class="slide-inf float-right">
                <h1>{{ "Горизонтальное масштабирование" | trans() }}</h1>
                <p>{{ "Имеем опыт горизонтального масштабирования приложений, что позволит вашему проекту справляться с высокими нагрузками. Разворачивание проекта в облаке Amazon Web Services позволит быстрее масштабироваться под требуемые нагрузки" | trans() }}</p>
                <div class="tech-img amazon-img"></div>
            </div>
            <div class="img-wr left-side">
                <img src="{{ asset('img/pages/promotions/apps/adminlanding_img03.jpg') }}" width="630" height="499" alt=""/>
            </div>
        </div>
    </section>

    <section class="sysadmin-slide white-line">
        <div class="wrap">
            <div class="slide-inf float-left">
                <h1>{{ "Мониторинг" | trans() }}</h1>
                <p>{{ "Мониторинг ваших серверов позволит нам оперативно узнавать о возникших проблемах" | trans() }}</p>
            </div>
            <div class="img-wr right-side">
                <img src="{{ asset('img/pages/promotions/apps/adminlanding_img04.jpg') }}" width="630" height="379" alt=""/>
            </div>

            <div class="tech-list">
                <ul>
                    <li><div class="webtech-munin"></div></li>
                    <li><div class="webtech-zabbix"></div></li>
                    <li><div class="webtech-graphite"></div></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="sysadmin-slide">
        <div class="wrap">
            <div class="slide-inf float-right">
                <h1>{{ "Развертывание" | trans() }}</h1>
                <p>{{ "Развертывание с использованием Capifony позволит быстро и безопасно обновлять код на production серверах" | trans() }}</p>
            </div>
            <div class="img-wr left-side">
                <img src="{{ asset('img/pages/promotions/apps/adminlanding_img05.jpg') }}" width="630" height="499" alt=""/>
            </div>
        </div>
    </section>

    {#<section class="testimonials" >#}
        {#<div class="wrap">#}
            {#<a id="slider-prev" href=""></a>#}
            {#<a id="slider-next" href=""></a>#}
            {#<h3>Слово нашим клиентам</h3>#}
            {#<div class="icon icon-quote"></div>#}
            {#<div id="slider">#}
                {#<ul id="slidee">#}
                    {#<li>#}
                        {#<div class="inf-pad">#}
                            {#<div class="wr">#}
                                {#<p>Мобильное кулинарное приложение — «Рецепты от Кукорамы» (Cookorama). Создали полезное#}
                                    {#и интуитивно удобное приложение для любителей готовить. Позволяет легко пополнять#}
                                    {#свою кулинарную книгу новыми рецептами, формировать список избранных рецептов и#}
                                    {#одним движением добавлять нужные продукты в список покупок, который корректируется в#}
                                    {#зависимости от количества порций или имеющихся продуктов. </p>#}
                                {#<div class="review-author">#}
                                    {#<p class="name">Андрей Мануленко, </p>#}
                                    {#<p>сооснователь Cookorama.net</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}

                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section id="feedback-line" class="blue-line">
        <div class="wrap">
            {% block order_form %}
                {% include 'ApplicationDefaultBundle:Default/promotion:order_form.html.twig' with {'form': form, 'type': 'sysadmin', 'locale': app.request.locale} %}
            {% endblock order_form %}
        </div>
    </section>
    <!--content end-->

    <!--footer begin-->
    {{ include('ApplicationDefaultBundle:Default:_promotion_footer.html.twig') }}
    <!--footer end-->
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts
        'js/vendor/jquery-1.11.1.min.js'
        'js/sly.js'
        'js/jquery.validate.min.js'
        'js/promotion_apps_main.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

{% block stylesheets %}
    <!--[if gte IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/ie.css') }}"/>
    <![endif]-->
    {% stylesheets filter='less, cssrewrite' output='cache/css/*.css' 'css/page_promotions.less' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
