{% extends '::base.html.twig' %}

{% block body %}
    <section class="slide header-slide">
        <div class="inner">
            <a class="logo icon" href="{{ path('homepage') }}"></a>

            <div id="scroll-down" class="icon"></div>

            <div class="inner-content">
                <h1>{{ 'Разработка мобильных игр<br>и приложений'|trans|raw }}</h1>

                <p>{{ 'Мы разрабатываем игры и приложения для смартфонов и<br> планшетов на базе платформ Android и iOS.'|trans|raw }}</p>

                <div class="platforms">
                    <div class="icon icon-android"></div>
                    <div class="icon icon-apple"></div>
                </div>
                <a class="btn" id="to-feedback-btn" href="#">{{ 'Заказать дизайн веб-сайта'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="our-advantages-wr">
        <div class="wrap">
            <h1>{{ 'Почему мы?'|trans }}</h1>

            <div class="our-advantages clearfix">
                <div class="column float-left">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Индивидуальный подход к менеджменту проекта и организации рабочего процесса'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Соблюдаем сроки, используем разные методологии разработки'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column float-right">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Команда состоит из более 20 опытных специалистов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'За 5 лет мы успешно запустили и поддерживаем более 80 проектов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-slide mfb">
        <div class="wrap">
            <div class="app-inf">
                <h1>MeinFernbus.de</h1>

                <p>{{ 'Мобильное приложение для крупнейшего пассажирского перевозчика в Германии.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_mfb.png" width="422" height="646" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide cookorama">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "Кукорама" | trans() }}</h1>

                <p>{{ '«Рецепты от Кукорамы» — удобное приложение с красочными пошаговыми рецептами для любителей готовить.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_cookorama.png" width="960" height="480" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide keepsnap">
        <div class="wrap">
            <div class="app-inf">
                <h1>KeepSnap</h1>

                <p>{{ 'Нативные приложения проекта KeepSnap для iOS и Android — возможность просмотреть свой баланс, создать галереи на лету или же отметить свое местоположение на карте.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_keepsnap.png" width="427" height="645" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide megasos">
        <div class="wrap">
            <div class="app-inf">
                <h1>MegaS.O.S.</h1>

                <p>{{ 'Приложение позволяет автомобилисту отправить сообщение с просьбой о помощи и указать, где именно приключилась неприятность.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_megasos.png" width="543" height="480" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide nizam">
        <div class="wrap">
            <div class="app-inf">
                <h1>Nizam</h1>

                <p>{{ 'Увлекательный мобильный вариант одноименной настольной игры. Вариация механики «три-в-ряд», интегрированная в дуэльный режим.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_nizam.png" width="843" height="435" alt=""/></a>
            </div>
        </div>
    </section>

    <section class="app-slide galaxyrecon">
        <div class="wrap">
            <div class="app-inf">
                <h1>Galaxy Recon</h1>

                <p>{{ '2D Survival Shooter. Идея проста: есть главный герой, есть толпа различных монстров, нужно от них отбиться.'|trans }}</p>
            </div>
            <div class="app-img">
                <a href=""><img src="/img/pages/promotions/apps/app_galaxyrecon.png" width="846" height="435" alt=""/></a>
            </div>
        </div>
    </section>


    <section class="testimonials" >
        <div class="wrap">
            <a id="slider-prev" href=""></a>
            <a id="slider-next" href=""></a>
            <h3>{{ 'Слово нашим клиентам'|trans }}</h3>
            <div class="icon icon-quote"></div>
            <div id="slider">
                <ul id="slidee">
                    <li>
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Мобильное кулинарное приложение — «Рецепты от Кукорамы» (Cookorama). Создали полезное и интуитивно удобное приложение для любителей готовить. Позволяет легко пополнять свою кулинарную книгу новыми рецептами, формировать список избранных рецептов и одним движением добавлять нужные продукты в список покупок, который корректируется в зависимости от количества порций или имеющихся продуктов.'|trans }}</p>
                                <div class="review-author">
                                    <p class="name">{{ 'Андрей Мануленко'|trans }},</p>
                                    <p>{{ 'сооснователь Cookorama.net'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'KeepSnap позволяет зарабатывать всем фотографам, в том числе начинающим фотографам-любителям. Проект создавался с нуля, отталкиваясь от идеи. Фотографы делают снимки на различных мероприятиях, загружают их к себе в галерею, а люди могут найти и купить свои фотографии. Заинтересованность людей в покупке очень высока, т.к. есть личная привязанность к этим фотографиям. Студия отлично справилась с созданием сайта, нестандартными задачами по обработке фотографий и написанию нативных приложений для платформ iOS и Android.'|trans }}</p>
                                <div class="review-author">
                                    <p class="name">{{ 'Команда KeepSnap.com'|trans }},</p>
                                    <p>{{ 'Онтарио, Канада'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="feedback-line" class="blue-line">
        <div class="wrap">
            <form novalidate="novalidate" autocomplete="off" id="feedback-form" class="feedback-form" action="{{ path('promotion_order', {'type': 'design'}) }}" method="post" {{ form_enctype(form) }}>
                <div class="form-pad">
                    <h1>{{ 'Заказать дизайн веб-сайта'|trans }}</h1>

                    <div class="line">
                        <div class="col2 float-left">
                            {{ form_widget(form.name, {'attr': {'placeholder': 'Ваше имя'|trans} }) }}
                        </div>
                        <div class="col2 float-right">
                            {{ form_widget(form.email, {'attr': {'class' : 'email', 'placeholder': 'Электронная почта'|trans} }) }}
                        </div>
                    </div>
                    <div class="line">
                        {{ form_widget(form.message, {'attr': {'placeholder': 'Напишите пару слов о сайте'|trans} }) }}
                    </div>
                    <div class="line">
                        <button class="btn btn-black float-right">{{ 'Заказать дизайн веб-сайта'|trans }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-success">
                    <div class="wr">
                        <div class="inner-pad">
                            <h3>{{ 'Спасибо!'|trans }}</h3>

                            <p>{{ 'Мы изучим Вашу заявку<br>и ответим в ближайшее время.'|trans|raw }}</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!--content end-->

    <!--footer begin-->
    <footer class="vcard">
        <div class="wrap">
            {{ include('::_footer.html.twig') }}
        </div>
    </footer>
    <!--footer end-->
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts
        'js/vendor/jquery-1.11.1.min.js'
        'js/sly.js'
        'js/jquery.validate.min.js'
        'js/promotion_apps_main.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

{% block stylesheets %}
    <!--[if gte IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/ie.css') }}"/>
    <![endif]-->
    {% stylesheets filter='less, cssrewrite' output='cache/css/*.css' 'css/page_promotions.less' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
