{% extends '::base.html.twig' %}

{% block body %}
    {% set eventName = 'order_design' %}
    <div class="slide scrollto-line">
        <div class="wrap">
            <a class="btn" id="scrollto-btn" href="#" onclick="ga('send', 'event', {{ eventName }}, 'click');fbq('trackCustom', {{ eventName }});">{{ 'Заказать дизайн веб-сайта'|trans }}</a>
        </div>
    </div>
    <section class="slide header-slide">
        <div class="inner">
            <a class="logo icon" title="stfalcon" href="{{ path('homepage') }}"></a>


            <div id="scroll-down" class="icon"></div>

            <div class="inner-content">
                <h1>{{ 'Дизайн веб-сайтов'|trans|raw }}</h1>

                <p>{{ 'Мы создаем дизайн веб-сайтов и интерфейсов<br>веб&#8209;приложений.'|trans|raw }}</p>


                <a class="btn" id="to-feedback-btn" href="#" onclick="ga('send', 'event', {{ eventName }}, 'click');fbq('trackCustom', {{ eventName }});">{{ 'Заказать дизайн веб-сайта'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="our-advantages-wr">
        <div class="wrap">
            <h1>{{ 'Почему мы?'|trans }}</h1>

            <div class="our-advantages clearfix">
                <div class="column float-left">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Индивидуальный подход к менеджменту проекта и организации рабочего процесса'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Соблюдаем сроки, используем разные методологии разработки'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column float-right">
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'Команда состоит из более 20 опытных специалистов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="inf-pad">
                            <div class="wr">
                                <p>{{ 'За 5 лет мы успешно запустили и поддерживаем более 80 проектов'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="design-slide keepsnap">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "KeepSnap" | trans() }}</h1>
                <p>{{ "Сервис, где профессиональные фотографы продают отснятые фотографии своим клиентам. Клиент может купить фото любого качества из галереи фотографа." | trans() }}</p>
            </div>
            <div class="site-img">
                <img src="{{ asset('img/pages/promotions/apps/page_keepsnap.jpg') }}" width="630" height="378" alt=""/>
                <div class="dev-img">
                    <img src="{{ asset('img/pages/promotions/apps/devapp_keepsnap.png') }}" width="183" height="330" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="design-slide mfb">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "MeinFernbus" | trans() }}</h1>
                <p>{{ "Сайт крупнейшей компании<br>пассажирских перевозок в Европе." | trans()|raw }}</p>
            </div>
            <div class="site-img">
                <img src="{{ asset('img/pages/promotions/apps/page_mfb.jpg') }}" width="630" height="378" alt=""/>
                <div class="dev-img">
                    <img src="{{ asset('img/pages/promotions/apps/devapp_mfb.png') }}" width="183" height="330" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="design-slide {{ app.request.locale == 'ru'?'empo':'etopus' }}">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "EMPO" | trans() }}</h1>
                <p>{{ "Компания обучает всех желающих интернет-маркетингу, проводит онлайн тренинги и семинары." | trans() }}</p>
            </div>
            <div class="site-img">
                <img src="{{ app.request.locale == 'ru'?asset('img/pages/promotions/apps/page_empo.jpg'):asset('img/pages/promotions/apps/page_empo_en.jpg') }}" width="630" height="468" alt=""/>
            </div>
        </div>
    </section>

    <section class="design-slide {{ app.request.locale == 'ru'?'cooldoors':'softarchive' }}">
        <div class="wrap">
            <div class="app-inf">
                <h1>{{ "CoolDoors" | trans() }}</h1>
                <p>{{ "Крупный интернет-магазин по продаже металлических и межкомнатных дверей, а также фурнитуры и аксессуаров к ним." | trans() }}</p>
            </div>
            <div class="site-img">
                <img src="{{ app.request.locale == 'ru'?asset('img/pages/promotions/apps/page_cooldoors.jpg'):asset('img/pages/promotions/apps/page_softarchive_en.jpg') }}" width="630" height="468" alt=""/>
                <div class="dev-img">
                    <img src="{{ asset('img/pages/promotions/apps/devapp_cooldoors.png') }}" width="183" height="317" alt=""/>
                </div>
            </div>
        </div>
    </section>
    {% if app.request.locale == 'ru' %}
        <section class="design-slide uaweb">
            <div class="wrap">
                <div class="app-inf">
                    <h1>{{ "UA Web Challenge" | trans() }}</h1>
                    <p>{{ "Сайт всеукраинского чемпионата по веб-разработке. Чемпионат проводится ежегодно в восьми номинациях среди новичков и опытных разработчиков." | trans() }}</p>
                </div>
                <div class="site-img">
                    <img src="{{ asset('img/pages/promotions/apps/page_uaweb.jpg') }}" width="630" height="468" alt=""/>
                </div>
            </div>
        </section>
    {% endif %}


    {#<section class="testimonials" >#}
        {#<div class="wrap">#}
            {#<a id="slider-prev" href=""></a>#}
            {#<a id="slider-next" href=""></a>#}
            {#<h3>{{ 'Слово нашим клиентам'|trans }}</h3>#}
            {#<div class="icon icon-quote"></div>#}
            {#<div id="slider">#}
                {#<ul id="slidee">#}
                    {#<li>#}
                        {#<div class="inf-pad">#}
                            {#<div class="wr">#}
                                {#<p>{{ 'Мобильное кулинарное приложение — «Рецепты от Кукорамы» (Cookorama). Создали полезное и интуитивно удобное приложение для любителей готовить. Позволяет легко пополнять свою кулинарную книгу новыми рецептами, формировать список избранных рецептов и одним движением добавлять нужные продукты в список покупок, который корректируется в зависимости от количества порций или имеющихся продуктов.'|trans }}</p>#}
                                {#<div class="review-author">#}
                                    {#<p class="name">{{ 'Андрей Мануленко'|trans }},</p>#}
                                    {#<p>{{ 'сооснователь Cookorama.net'|trans }}</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    {#<li>#}
                        {#<div class="inf-pad">#}
                            {#<div class="wr">#}
                                {#<p>{{ 'KeepSnap позволяет зарабатывать всем фотографам, в том числе начинающим фотографам-любителям. Проект создавался с нуля, отталкиваясь от идеи. Фотографы делают снимки на различных мероприятиях, загружают их к себе в галерею, а люди могут найти и купить свои фотографии. Заинтересованность людей в покупке очень высока, т.к. есть личная привязанность к этим фотографиям. Студия отлично справилась с созданием сайта, нестандартными задачами по обработке фотографий и написанию нативных приложений для платформ iOS и Android.'|trans }}</p>#}
                                {#<div class="review-author">#}
                                    {#<p class="name">{{ 'Команда KeepSnap.com'|trans }},</p>#}
                                    {#<p>{{ 'Онтарио, Канада'|trans }}</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section id="feedback-line" class="blue-line">
        <div class="wrap">
            {% block order_form %}
                {% include 'ApplicationDefaultBundle:Default/promotion:order_form.html.twig' with {'form': form, 'type': 'design', 'locale': app.request.locale} %}
            {% endblock order_form %}
        </div>
    </section>
    <!--content end-->

    <!--footer begin-->
    {{ include('ApplicationDefaultBundle:Default:_promotion_footer.html.twig') }}
    <!--footer end-->
{% endblock body %}

{% block javascripts %}

    {% set locale = app.request.locale %}

    {% javascripts
        'js/vendor/jquery-1.11.1.min.js'
        'js/sly.js'
        'js/jquery.validate.min.js'
        'js/promotion_apps_main.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if locale == 'en' %}
        {% javascripts 'js/locales/order_application_form.en.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'ru' %}
        {% javascripts 'js/locales/order_application_form.ru.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% if locale == 'de' %}
        {% javascripts 'js/locales/order_application_form.de.js' output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}

{% block stylesheets %}
    <!--[if gte IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/ie.css') }}"/>
    <![endif]-->
    {% stylesheets filter='less, cssrewrite' output='cache/css/*.css' 'css/page_promotions.less' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
