{% extends '::layout.html.twig' %}

{% block title %}{{ 'Команда'|trans }} | {{ parent() }}{% endblock %}

{% block content_wrapper %}
    <div class="clearfix">
        <section class="team-info">
            <h1>{{ 'Команда'|trans }}</h1>
            <p>
                {{ 'Stfalcon.com — это команда профессионалов, которые любят свою работу и нацелены на качественный результат.'|trans }}
            </p>
            <p>
                {{ 'Сотрудничая с нами, Вы выбираете надежного партнера для бизнеса!'|trans }}
            </p>
        </section>
        {{ render(controller('StfalconPortfolioBundle:Project:projectsCounter')) }}
    </div>
    <ul class="team-list">
        {% for user in users %}
        <li>
            <div class="login-{{ user.username }} {% if user.drink %}drink-{{ user.drink }}{% endif %}">
                {% if user.avatarName %}
                <img src="{{ vich_uploader_asset(user, 'avatar') | apply_filter('avatar') }}" alt="{{ user.firstname~' '~user.lastname }}" class="avatar"
                     data-interests="{{ user.getInterestsValues|json_encode() }}" width="135">
                {% endif %}
                {% if user.caricatureName %}
                    <img src="{{ vich_uploader_asset(user, 'caricature') | apply_filter('avatar') }}" class="overlay" width="135">
                {% endif %}
            </div>
            <span>{{ user.firstname~' '~user.lastname }}</span>
            <p>{{ user.position }}&nbsp;</p>
        </li>
        {% endfor %}
    </ul>
    <ul class="interests">
        {% for key, interest in interestsList %}
        <li><a data-filter="{{ key }}">{{ interest|trans }}</a></li>
        {% endfor %}
        <li><a data-filter="drinks">{{ 'Напитки'|trans }}</a></li>
    </ul>
{% endblock %}
{% block after_body %}
    {% include('@StfalconPortfolio/hire_us_right_button.html.twig') %}
    {{ render(controller('ApplicationDefaultBundle:Widgets:hireUs')) }}
{% endblock %}