{% extends 'PortfolioBundle::internal.html.twig' %}

{% block content %}
    <h1>{{ category.name }}</h1>
    
    <p>
        {{ category.description }}
    </p>

    {% if category.projects.count %}
        <ul class="projects">
            {% for project in paginator %}
                <li>
                        <a href="{{ path('portfolioCategoryProjectView', { 'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                            <span>
                                <img class="project-thumb" src="/bundles/portfolio/uploads/projects/{{ project.imageFilename }}" width="240" height="198"
                                     alt="{{ project.name }}" title="{{ project.name }}" />
                            </span>
                        </a>
                </li>
            {% endfor %}
        </ul>

        {{paginator|paginate}}
    {% else %}
        <div class="info">
            This category is empty
        </div>
    {% endif %}
{% endblock %}