<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head lang="en">
    <meta charset="UTF-8">

    {{ sonata_seo_title() }}

    <link rel="sitemap" type="application/xml" href="{{ app.request.scheme }}://stfalcon.com/sitemap.xml"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1"/>
    <link rel="stylesheet" media="screen" href="{{ asset('css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for stfalcon.com" href="{{ url('blog_rss') }}"/>
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    {% if app.environment == 'prod' %}
        {% include "::google_tag_manager.html.twig" %}
    {% endif %}
</head>
<body>
<div class="landing-wrapper">
    <div class="header">
        {% include '::_header_index.html.twig' %}
    </div>
    <section class="land-promo land-promo--travel">
        <div class="land-container">
            <h1 class="land-promo__title">Туризм и гостиничный бизнес</h1>
            <p class="land-promo__text">Незабываемые впечатления от путешествий для ваших клиентов</p>
        </div>
    </section>
    <section class="land-section">
        <div class="land-container land-section__container">
            <div class="land-description land-description--center">
                <h2 class="land-description__title">Pазрабатываем индивидуальное решение для Вашего бизнеса</h2>
                <p class="land-description__text">Игроки туристического бизнеса, от турагентств до международных гостиничных сетей, стремятся предоставить максимум информации в легком доступе и помочь сделать каждое путешествие прекрасным. Созданное индивидуально для вашего бизнеса приложение либо веб-сервис даст широкие возможности работы с клиентами и заставит их обращаться за вашими услугами вновь и вновь</p>
            </div>
            <div class="land-section__img-box land-section__img-box--full">
                <img src="{{ asset('img/land-travel/pict_2.jpg') }}" alt="" class="land-section__img">
            </div>
        </div>
    </section>
    <section class="land-section land-section--col-2 land-section--text-left">
        <div class="land-section__col">
            <div class="land-description">
                <h2 class="land-description__title">Целевой маркетинг</h2>
                <p class="land-description__text">Благодаря приложениям вы можете разрабатывать целевые маркетинговые кампании, а также отправлять персонализированные уведомления со специальными предложениями и рекомендациями. Вы можете понимать, чего хочет пользователь, основываясь на его действия в приложении</p>
                <ul class="land-text-list land-description__land-text-list">
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_notififcation.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Персонализированные push-уведомления</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_geo.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Таргетинг по геопозиции</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_apps.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Специальные предложения</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_chat.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Обзоры и цены</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="land-section__col">
            <div class="land-section__img-box">
                <img src="{{ asset('img/land-travel/pict_3.jpg') }}" alt="" class="land-section__img">
            </div>
        </div>
    </section>
    <section class="land-section land-section--col-2 land-section--text-right">
        <div class="land-section__col">
            <div class="land-description">
                <h2 class="land-description__title">Меньше времени на поиск – больше на впечатления</h2>
                <p class="land-description__text">Дайте пользователям без каких-либо сложностей находить нужную информацию, забронировать билеты либо отель, и сделать оплату в любое время, в любой точке мира </p>
                <ul class="land-text-list land-description__land-text-list">
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_booking.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Гостиницы и апартаменты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_tickets.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Достопримечательности</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_autorent.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Транспортные билеты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_portal.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Интеграция платежей</div>
                    </li>
                </ul>
                <a href="#" class="land-description__link">Читать о проекте  MeinFernbus</a>
            </div>
        </div>
        <div class="land-section__col">
            <div class="land-section__img-box">
                <img src="{{ asset('img/land-travel/pict_4.jpg') }}" alt="" class="land-section__img">
            </div>
        </div>
    </section>
    <section class="land-section land-section--col-2 land-section--text-left" style="background-color: #098eb9;">
        <div class="land-section__col">
            <div class="land-description land-description--white-text">
                <h2 class="land-description__title">Коммуникации</h2>
                <p class="land-description__text">Дайте пользователям возможность общаться и делиться уникальным опытом со всех уголков мира с помощью вашего сервиса. Это значительно повысит узнаваемость бренда и даст вам доступ к уникальному контенту</p>
                <ul class="land-text-list land-description__land-text-list">
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_management.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Гостиницы и апартаменты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_crm.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Достопримечательности</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_integration.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Транспортные билеты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_support.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Интеграция платежей</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="land-section__col">
            <div class="land-section__img-box">
                <img src="{{ asset('img/land-travel/p5.jpg') }}" alt="" class="land-section__img">
            </div>
        </div>
    </section>
    <section class="land-section land-section--col-2 land-section--text-right" style="background-color: #098eb9;">
        <div class="land-section__col">
            <div class="land-description land-description--white-text">
                <h2 class="land-description__title">Информация в доступном виде</h2>
                <p class="land-description__text">Мы знаем, как создать приложение или веб-сервис, использовании которого простое и понятное, ведь это так важно для путешественников, которым всегда не хватает времени.</p>
                <p class="land-description__text">Выделяйтесь среди конкурентов, предложив своим клиентам удобство пользования, и у них будет повод вернуться.</p>
                <ul class="land-text-list land-description__land-text-list">
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_search.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Гостиницы и апартаменты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_store.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Достопримечательности</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_programms.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Транспортные билеты</div>
                    </li>
                    <li class="land-text-list__item">
                        <img src="{{ asset('img/land-travel/icons/ic_development.svg') }}" class="land-text-list__icon">
                        <div class="land-text-list__text">Интеграция платежей</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="land-section__col">
            <div class="land-section__img-box">
                <img src="{{ asset('img/land-travel/pict_7.jpg') }}" alt="" class="land-section__img">
            </div>
        </div>
    </section>
    <section class="land-section achievements landing-wrapper__achievements">
        <p class="achievements__text">Благодаря широко известным брендам и компаниям, которые доверяют нашей экспертизе, мы признаны лучшими разработчиками решений для туристического бизнеса за версией
            <a href="https://clutch.co/profile/stfalcon" class="achievements__link">Clutch.co</a>
        </p>
        <a href="https://clutch.co/profile/stfalcon" target="_blank">
            <img class="achievements__img" src="{{ asset('img/clutch_logo.png') }}" alt="">
        </a>
    </section>
    <div class="section-cms">
        <h3>{{ 'Примеры разработки веб-сайтов'|trans }}</h3>
        {#{{ render(controller('StfalconPortfolioBundle:Project:widgetExamplesProject', { 'category': category })) }}#}
    </div>
    <h3 class="post-heading">{{ 'Похожие статьи'|trans }}</h3>
    {#<div class="wrap_related_posts post-content">#}
        {#<ul class="related_posts">#}
            {#{% for post in related_posts %}#}
                {#<li>#}
                    {#<a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#more">#}
                        {#<div class="wrap_img">#}
                            {#<div class="container_img">#}
                                {#{{ get_post_first_image(post, '', app.request.host) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<h3>{{ post.title }}</h3>#}
                    {#</a>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}
    {#</div>#}
    <div class="contact-us">
        <div class="h2 contact-us__title">
            {{ 'Давайте сделаем что-то классное вместе'|trans }}
        </div>

        <div class="contact-us__text">
            {{ 'Свяжитесь с нами, и мы поможем решить ваши задачи'|trans }}.
        </div>
        {#{% include('@StfalconPortfolio/hire_us_right_button.html.twig') %}#}
        {#{% include('@StfalconPortfolio/hire_us_button.html.twig') with {'category':category } %}#}
        {#{{ render(controller('ApplicationDefaultBundle:Widgets:hireUs', {'slug': category.slug })) }}#}

    </div>
    <footer class="footer">
        {{ include('_footer.html.twig') }}
    </footer>
</div>
{{ render(controller('ApplicationDefaultBundle:Widgets:hireUs')) }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% javascripts
'assets/js/libs/jquery.history.min.js'
'assets/js/libs/sly.js'
'assets/js/homepage.js'
'assets/js/homepage-bg.js'
'js/jquery.validate.min.js'
'js/widgets.js'
'js/subscribe.js'
output='cache/js/*.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    jQuery.extend(jQuery.validator.messages, {
        required: "{{ 'Заполните это поле'|trans }}",
        email: "{{ 'Пожалуйста введите правильный имейл.'|trans }}",
        maxlength: jQuery.validator.format("{{ 'Максимальное количество символов {0}'|trans }}"),
        minlength: jQuery.validator.format("{{ 'Минимальное количество символов {0}'|trans }}"),
    });
</script>
</body>
</html>
