{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="btn-group">
        <a class="btn btn-link btn-flat" href="{{ path('sonata_admin_price_load', {'type':'app'}) }}">Загрузить APP прайс</a>
        <a class="btn btn-link btn-flat" href="{{ path('sonata_admin_price_load', {'type':'web'}) }}">Загрузить WEB прайс</a>
    </div>

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    {% if blocks.top|length > 0 %}
        <div class="row">
            {% for block in blocks.top %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% set has_center = false %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.left %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>

        {% if blocks.center|length > 0 %}
            <div class="col-md-4">
                {% for block in blocks.center %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.right %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>
    </div>

    {% if blocks.bottom|length > 0 %}
        <div class="row">
            {% for block in blocks.bottom %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}
{% endblock %}
