<button id="hire_us-js" class="hire_us {% if app.request.locale == 'en' %}en-btn{% endif %}" onclick="if (window.ga) {ga('send', 'event', 'Knopka', 'Rabotat_s_nami')}">{{ 'Работать с нами!'|trans }}</button>

<section id="hire-us-widget" class="hire_us-form">
    <div class="wrap_form">
        <div class="wrap_close">
        <svg viewBox="0 0 20 20" fill="#fff" class="close-hire_us">
            <path class="icon-close-nav"
                  d="M19.53 18.47l.53.53L19 20.06l-.53-.53L10 11.06l-8.47 8.47-.53.53L-.06 19l.53-.53L8.94 10 .47 1.53-.06 1 1-.06l.53.53L10 8.94 18.47.47 19-.06 20.06 1l-.53.53L11.06 10l8.47 8.47zm0 0"></path>
        </svg>
            </div>
        <form id="hire-us-form" class="webdev-form feedback-form" action="{{ path('ajax_hire_us') }}" method="post">
            <div class="form-pad">
                <h2>{{ 'Отправьте заявку'|trans }}</h2>
                <p>{{ 'И мы поможем решить вашу задачу'|trans }}</p>
                <div class="line line-mob">
                    <div class="col2 float-left">
                        {{ form_widget(form.name, {'attr': {'placeholder': 'Ваше имя'|trans} }) }}
                    </div>
                    <div class="col2 float-right">
                        {{ form_widget(form.email, {'attr': {'class' : 'email', 'placeholder': 'Электронная почта'|trans} }) }}
                     </div>
                </div>
                <div class="line">
                    {{ form_widget(form.message, {'attr': {'placeholder': 'Опишите ваш проект'|trans, 'rows':'1'} }) }}
                </div>
                <div class="google-captcha">
                    {{ form_widget(form.captcha, {'theme': 'dark' }) }}
                </div>
                <div class="line">
                    <button class="btn">{{ 'Отправить заявку'|trans }}</button>
                </div>
            </div>
            <div class="form-success">
                <div class="wr">
                    <div class="inner-pad">
                        <h2>{{ 'Спасибо!'|trans }}</h2>
                        <p>{{ 'Мы изучим Вашу заявку'|trans }}<br>{{ 'и ответим в ближайшее время'|trans }}.</p>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</section>
