{% form_theme form '@ApplicationDefault/Form/fields.html.twig' %}

<section class="lead-form">
    <div class="wrap_form">
        <div class="wrap_close wrap_close--transparent">
            <svg viewBox="0 0 20 20" fill="#fff" class="close-hire_us">
                <path class="icon-close-nav" d="M19.53 18.47l.53.53L19 20.06l-.53-.53L10 11.06l-8.47 8.47-.53.53L-.06 19l.53-.53L8.94 10 .47 1.53-.06 1 1-.06l.53.53L10 8.94 18.47.47 19-.06 20.06 1l-.53.53L11.06 10l8.47 8.47zm0 0"></path>
            </svg>
        </div>
        <form id="lead-form" class="webdev-form feedback-form feedback-form--fluid" data-url="{{ path('ajax_send_lead') }}" method="post">
            <div class="form-pad">
                <h2 class="form-pad__title">{{ '__lead_form.title'|trans }}</h2>
                <p class="form-pad__description">{{ '__lead_form.description'|trans }}</p>

                <div class="form-pad__wrapper">
                    <div class="line">
                        {{ form_widget(form.name, {'attr': {'placeholder': 'Ваше имя'|trans }}) }}
                    </div>
                    <div class="line">
                        {{ form_widget(form.email, {'attr': {'class' : 'email', 'placeholder': 'Электронная почта'|trans} }) }}
                    </div>
                    <div class="line">
                        {{ form_widget(form.company, {'attr': {'placeholder': 'Компания'|trans} }) }}
                    </div>
                    <div class="line">
                        {{ form_widget(form.position, {'attr': {'placeholder': 'Должность'|trans} }) }}
                    </div>
                    <div class="line">
                        <button type="submit" class="btn btn--marg-bot btn--fluid">{{ '__lead_form.button'|trans }}</button>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</section>
<script>
    var body = $('body');
    var windowHeight = $(window).height();
    var hasShowed = false;
    $(window).scroll(function(){
        if ($(this).scrollTop() >= windowHeight) {

            if (!body.hasClass("lead-gener") && !hasShowed) {
                body.addClass("lead-gener");
                hasShowed = true;
            }
        }
    });

    $('.lead-form').find('.close-hire_us').on('click', function(){
        if (body.hasClass( "lead-gener" )) {
            body.removeClass("lead-gener");
        }
    });
</script>

