{% form_theme form '@ApplicationDefault/Form/fields.html.twig' %}

<div class="subscribe-form-wrap">
    {{ form_errors(form) }}
    <form action="{{ path('post_subscribe', {'category': category}) }}" method="post"
          class="subscribe-form" novalidate="novalidate">
        <button class="arrow-button" type="submit"></button>
        <div class="input-wrap">
            {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail' }}) }}
            {{ form_errors(form.email) }}
            <ul class="success-list"></ul>
        </div>
        {{ form_rest(form) }}
    </form>
</div>
