{% form_theme form '@ApplicationDefault/Form/fields.html.twig' %}

<div class="subscribe">
    {{ form_errors(form) }}
    <form action="{{ path('post_subscribe', {'category': category}) }}" method="post"
          onsubmit="ga('send', 'event', 'Podpisatsya_novosti', 'Send_form');fbq('trackCustom', 'SubscribePosts');"
          class="subscribe-form" novalidate="novalidate">
        <div class="subscribe__title">Subscribe for new posts</div>
        <div class="subscribe__form">
            {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail',
                'class':'subscribe__input' }}) }}
            {{ form_errors(form.email) }}
            <button class="subscribe__button" type="submit">Subscribe</button>
        </div>
        <ul class="success-list"></ul>
        {{ form_rest(form) }}
    </form>
</div>
