<ul class="tags">
    {% for tag in post.tags %}
        <li>
            <a href="{{ path('blog_tag_view', { 'text': tag.text }) }}">{{ tag.text }}</a>{% if not loop.last %}, {% endif %}
        </li>
    {% endfor %}
</ul>

<ul class="info">
    <li class="datetime">
        {{ post.created|date("d M Y") }}
    </li>
    {#<li class="author">
        <a href="http://blog.stfalcon.com">Степан Танасийчук</a>,
    </li>#}
    <li class="comments">
        <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#disqus_thread" data-disqus-identifier="{{ post.id }}">
            {{ 'Комментировать'|trans }}
        </a>
    </li>

    {% if share_buttons is defined %}
    <li class="share-buttons">

        <div class="google-plus">
            <g:plusone size="medium"></g:plusone>

            <!-- Place this render call where appropriate -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>

        <div class="twitter-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </div>

        <div class="facebook-like">
            <div id="fb-root"></div>

            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#appId=147663055321186&xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </div>

    </li>
    {% endif %}

</ul>
